[2020-06-17 15:17] vaa-nick-swann opened #615 "Goodtables Cloud Storage support"
Would be really useful if the goodtables services supported more cloud storage options, Gcp buckets and azure for instance

[2020-06-17 15:22] cpina commented on #615
Just to add: I really like using `rclone` for interacting with some cloud storage options (usually for me object storage, but it supports a long list of backends, see https://rclone.org/overview/).

Some weeks ago I was reading how `restic` (a backup solution) integrated with `rclone`: https://restic.net/blog/2018-04-01/rclone-backend I don't know if this is out of scope for Goodtables but if desi

[2020-06-17 16:15] rufuspollock commented on #584
@dafeder great question and this fits perfectly with current mapping efforts in frictionlessdata/forum#53

The starting point would be to extract the json schema fields and put in the spreadsheet here: https://docs.google.com/spreadsheets/d/1XdqGTFni5Jfs8AMbcbfsP7m11h9mOHS0eDtUZtqGVSg/edit#gid=774748003

Great if this is something you can help with o/w my colleagues @sglavoie may be able to help w

[2020-06-17 19:15] dafeder commented on #610
Other suggestions:

- DCAT-AP
- Schema.org as used by Google Dataset Search
- ISO 19115

[2020-06-17 19:44] dafeder commented on #610
I'm wondering if there's an existing format for expressing this kind of mapping, which could be technology-independent. For instance if there's a standardized way to explain a one-way (or maybe even a two-way) mapping, we can support an ecosystem of translation tools (Python, JS, PHP, Safe FME plugin, etc) that share a common mapping collection.

[2020-06-18 05:03] rufuspollock commented on #610
@dafeder i wondered this too 😄 and would love to hear of one. Essentially it's just a graph (nodes with edges) - perhaps with detail on the edges which is very standard and you can represent in lots of ways. I just don't know of a *nice* editor for that kind of stuff hence the use of the spreadsheet. From the spreadsheet you can produce other formats and if there were some format with nice visuali

[2020-06-18 12:56] rufuspollock opened #613 "Table Schema vs JSON Schema - what are the differences and which is preferable"
@dafeder  asked:

It's an excellent question and one we've thought about quite a bit (table schema and json schema)

And when we started json schema wasn't there. And we ourselves obviously use JSON Schema to define the data

The shortest answer would be: if you are doing pure tables Table Schema is probably better. If you have data with nested structures then JSON Schema is better.

## Table Sche

[2020-06-18 14:27] lwinfree commented on #505
Here is the blog post: https://csvconf.com/going-online We could either post it in its current state, or we could tailor it to be more focused on the FD talks. Thoughts?

[2020-06-19 08:17] lauragift21 commented on #505
I think this is great @lwinfree! I think it might be best to tailor it to be more focused on the Frictionless Data session that was held.

[2020-06-19 13:32] jen-thomas opened #611 "Example of packaging frictionless data json files with dataset"
I'm playing around with the best way to put the datapackage.json and tableschema.json files with the data files (resources) as part of a dataset publication and I was wondering if you could point me to a nice example please? I'm not sure if I've missed somewhere in the specs the best or recommended way to go about this. This is an example that I've done recently: https://zenodo.org/record/3897170

[2020-06-19 14:22] lwinfree commented on #500
Hey @rufuspollock & @lauragift21 I think we should open this again to have a discussion. The way Frictionless Fridays was done today is not the way we agreed to do it/have done it in the past. I think it works well how it was originally agreed upon (that is - office hours where users can come & ask questions) works really well. I don't think it makes sense to add in a call where people are tasked

[2020-06-19 15:03] sglavoie commented on #584
As a quick update, we have now described the Project Open Data schema in the spreadsheet ([in this sheet](https://docs.google.com/spreadsheets/d/1XdqGTFni5Jfs8AMbcbfsP7m11h9mOHS0eDtUZtqGVSg/edit#gid=343209482)). :tada:

[2020-06-20 18:43] rufuspollock commented on #500
@lwinfree can you say more about the issue for you?

The logic of this at my end (for myself and datopian folks) was that if we are around to answer any questions that come up during Q&A we may as well do some coworking - and it's a great chance to do that and have some activity. I'm not sure it will happen every time - but when people are around we may as well do it for the people who want to ...

[2020-06-21 08:08] roll commented on #559
I think Github Discussions over Github Issues is no brainer when it's available. It would be great if it also had something like feature voting ability (it doesn't seem to have now, only sorting by comments - https://github.com/vercel/next.js/discussions?discussions_q=sort%3Acomments-desc)

[2020-06-21 15:44] rufuspollock opened #522 "[epic] Design System for Frictionless Data incl shape (hexagons etc)"
Inbox

* [ ] Needs / job stories
* [ ] Hexagons as shape
* [ ] Toolbox with hexagons
* [ ] Steps (as hexagons)
* [ ] Are we overdoing hexagons

[2020-06-22 14:46] lwinfree commented on #500
@rufuspollock the logic is that we agreed to do 1 thing, and all decided it was working, and then you did something totally different and pressured people to join the new task. I am fine with coworking, but it should not overwhelm the initial event (which is what happened). One of the great things about #FF (as we agreed to do it) is that Gift & I are the only ones that need be present - so you an

[2020-06-22 15:45] rufuspollock commented on #500
@lwinfree i kind of object to saying people were pressured ... I discussed this with Monika, Gift and Sebastien previous week and carles and jen-thomas specifically said they wanted to join in.

I don't see this as totally different: it is people hanging out during that time and answering questions if people are there *and* some of those people (who agreed to it) doing some co-working.

I suggest

[2020-06-22 18:19] lwinfree commented on #611
Hi @jen-thomas  :-) I'm copying over our convo from Discord to record it here in case others have a similar question. Please reply here if you would like to continue this conversation. Thanks!
___
Lilly: here is an example in zenodo from one of our other collaborators, Phil: https://zenodo.org/record/2640873#.Xuy-VZ5KgWo
http://frictionlessdata.io/blog/2018/03/07/well-packaged-datasets/#download-y

[2020-06-23 08:00] michaelamadi commented on #600
@cpina @rufuspollock  Creating a new pattern for this makes sense; the compressed resource pattern is focused on single-file compression scenarios and not multi-file compressed archives or multi-file archives in general.

It appears that the current requirements/restrictions for a valid Data Resource would apply to a child resource also, with the exception of the path which looks like it needs to

[2020-06-23 15:32] rufuspollock commented on #600
It looks like we are converging to an approach here which is to have another `resources` array inside a (compressed) resource.

@cpina / @michaelamadi would you be  up for drafting a pattern PR on specs repo to recommend this approach

[2020-06-24 09:15] michaelamadi commented on #600
@rufuspollock Happy to contribute to the drafting.

@cpina If you can draft the core principles of the Recursive Resources pattern, I can extend it with the tie-in to the Compression of Resources pattern.

**Side note:** As the recursive resources approach can support an unlimited number of recursions, and therefore complexity, we'll need to explicitly define the maximum number of supported recurs

[2020-06-24 09:38] cpina commented on #600
@michaelamadi @rufuspollock :
I'll do the draft in the next 5 or 7 days, I've been swamped with things the last few days :-)

Level of recursion: files in a .tar.gz might be seen as in a 2-level recursion perhaps (if we have the hash+size of the .tar.gz, then the hash+size of the .tar and then the hash+size of the individual files).

I'll think a bit more when writing the draft.

[2020-06-25 17:05] loleg opened #606 "A visual editor for Data Flows"
Node-based visual editors are popular with creative tools ([Blender](https://docs.blender.org/manual/en/latest/editors/texture_node/introduction.html), [PraxisLIVE](https://github.com/praxis-live), [Buzz Tracker](http://jeskola.net/buzz/)), and they make sense for data wrangling environments too. Let's support the "no code" movement, and make it possible to use Data Flows within a graphical, explo

[2020-06-26 08:25] aborruso commented on #606
I'm adding another tool to chekc, the great https://n8n.io/

![image](https://user-images.githubusercontent.com/30607/85836771-68896180-b797-11ea-939c-1876c16d51c2.png)

[2020-06-26 19:54] lwinfree opened #523 "frictionless code of conduct"
Hi all! I am updating the OKF code of conduct (CoC) currently, and wanted to also work on one for FD. In the past, I have linked to the current OKF participation guidelines when I have led FD events as a proxy for a FD-specific CoC. My proposal is that we can use the updated OKF CoC for the FD CoC, or we can create a separate one for FD. We can also simply copy the text from the OKF one once it is

[2020-06-26 20:04] lwinfree commented on #523
also, here is the CKAN CoC, which looks good in my opinion: https://github.com/ckan/ckan/blob/master/CODE_OF_CONDUCT.md

[2020-06-30 08:51] lauragift21 commented on #507
FIXED. we've had hangout and recording is up on YouTube.

[2020-06-30 08:51] #507 closed, assigned to lauragift21

[2020-06-30 14:24] lwinfree commented on #505
fixed

[2020-06-30 14:24] #505 closed, assigned to nobody

[2020-06-30 15:44] rufuspollock opened #524 "Governance Process for Specs"
We want some information on specs site explaining how and when they get updated so that people using them understand that.

## Acceptance

Covering things like

* [ ] Who "controls" the spec
* [ ] How do you provide input
* [ ] Release cadence
* [ ] Versioning specs
  * https://github.com/frictionlessdata/forum/issues/24 => https://github.com/frictionlessdata/specs/issues/444

FUTURE:

Submitting

[2020-06-30 15:44] lwinfree commented on #524
CC @roll ⬆️

[2020-06-30 15:45] rufuspollock opened #525 "Merge forum to this repo"
In spirit of "one" way to do things if possible, let's move forum (https://github.com/frictionlessdata/forum) stuff here and track it.

## Acceptance

* [x] Forum issues moved here and redirect __Done__ https://github.com/frictionlessdata/project/issues
* [x] Forum deprecated __Done__ https://github.com/frictionlessdata/project/pull/575
* [x] Some info in README (stuff from README) __Done__ https:

[2020-07-01 06:38] roll commented on #524
The issues about release cycle - https://github.com/frictionlessdata/specs/issues/671

[2020-07-01 17:00] lwinfree commented on #525
tagging @roll. We talked about merging the forum issue tracker into this issue tracker so that there is only 1 tracker. Do you have thoughts about that Evgeny?

[2020-07-02 06:11] roll commented on #525
Cool but what about Github Discussions?

[2020-07-03 14:31] augusto-herrmann opened #602 "The Frictionless Blog should have an RSS feed"
Without an RSS feed, I cannot get notified when a new post is posted on the [Frictionless Blog](https://frictionlessdata.io/blog/).

Yes, I still use RSS aggregators to read blogs today. RSS is still alive and well. The issue is that blogs that have moved to walled gardens from tech giants, but RSS is still very much used in podcasts, for example.

[2020-07-03 14:35] augusto-herrmann opened #604 "What is the best way to define custom metadata for tabular resources?"
When I need to define custom metadata for a resource, I could use [Profiles](https://specs.frictionlessdata.io/profiles/) and define a custom JSON Schema profile for the `Resource`. However, since it's no longer a [Tabular Data Resource](https://specs.frictionlessdata.io/tabular-data-resource/), tools like [Good Tables](https://github.com/frictionlessdata/goodtables-py) will no longer validate fie

[2020-07-03 18:58] aborruso commented on #602
I totally agree with you

[2020-07-05 22:34] cpina commented on #600
@michaelamadi @rufuspollock
Finally the draft: https://github.com/cpina/specs/commit/e931164de162354bab07ef27cc0a814f6b316588

Tomorrow I'll polish it a bit more. First "Pattern" that I've written so any feedback is welcomed... feel free to wait one day so I have another look. I really wanted to push a first release out :-)

[2020-07-06 16:53] JDziurlaj opened #633 "Handling of empty arrays"
How should a `tableschema` aware tool interpret the existence of an empty array (`[]`)?

Should it be considered:

- logically null
- logically not-null (i.e. it meets the `required` constraint)
- something else

If it is logically null, how should `[ null ]` be handled?

[2020-07-06 21:44] lwinfree opened #526 "fix underlined styling on FD homepage"
On the FD website homepage, the words "Researchers", "Data Scientists" and "Data Engineers": they are underlined when hovering them (same for "Sourcing Data", etc.). Carles said: "I automatically thought that they might be a link :slight_smile: then realised that no... should they get underlined for the web style? or is a "bug"?"

I'm guessing this is a styling issue with the h3 class?

Tagging @m

[2020-07-06 22:40] monikappv commented on #526
not sure why these were underlined on hover. however, problem solved. :)

FIXED.

[2020-07-06 22:40] #526 closed, assigned to monikappv

[2020-07-07 23:24] rufuspollock commented on #600
@cpina i've left a few minor comments. looking very good.

[2020-07-08 05:51] rufuspollock commented on #633
What's the exact situation - what is the type of the field where this showing up and what constraints are there?

[2020-07-08 06:37] roll commented on #633
Hi @JDziurlaj,

The empty array is not null unless its string representation is IN the missing values (for textual source like csv/etc) - https://specs.frictionlessdata.io/table-schema/#missing-values

So it will pass the `required` constraint but we also have `minLength` constraint to handle cases like this.

[2020-07-08 07:17] rufuspollock commented on #638
Chatting with @pwalsh sense that `Dataset` is clearer than `Package`. Everything else can stay as is though perhaps we can start dropping `Data` in front of resource by default.

So, what I'm inclining towards recommending is:

[code]

[2020-07-10 08:57] Swarnitha-eluru opened #596 "Not able to write data into mysql db using tabulator"
I tried the code to read data from the source and write to mysql database.
![image](https://user-images.githubusercontent.com/46745717/87136649-69eb7b80-c2b9-11ea-8cc4-5771661b94a6.png)
I got the result like this
![image](https://user-images.githubusercontent.com/46745717/87136720-84255980-c2b9-11ea-9fb0-e313023612bf.png)
please help to resolve this

[2020-07-13 20:54] lwinfree commented on #523
Here is the OKF code of conduct, which we will re-use for FD: https://okfn.org/about/code-of-conduct/

[2020-07-15 12:56] cpina opened #598 "CF Variable types and rdf usage"
In this tabular data resource:
https://github.com/proccaserra/rose2018ng-notebook/blob/master/data/processed/rose-data/rose-aroma-data-integration-datapackage.json#L64

it uses `rdfType`.

There have been discussions to have `units` in the tabular data resource (see https://github.com/frictionlessdata/specs/issues/537 or https://github.com/frictionlessdata/specs/issues/216). Related to units there

[2020-07-15 12:57] cpina commented on #598
@lwinfree you might be interested in this as well

[2020-07-15 15:19] lwinfree commented on #598
copying in @proccaserra for related interest

[2020-07-15 15:30] jomtov opened #594 "XML with XML Schema and Schematron as format options in Goodtables wished for"
Motivation: Although .JSON can reasonably easily converted into XML, JSON schema is not as developed and advanced yet as XML Schema and in particular Schematron (an ISO-standard), which can be more specific and  tailormade error-messages, that are easier understandable to humans.

[2020-07-20 11:29] roll commented on #596
Hi @Swarnitha-eluru,

I'm not around this week so I can't test it but in general, we're working on a major improvement of this functionality (i.e. SQL read/write) that will be hopefully available soon.

At the moment, I would recommend using a native SQL writer.

[2020-07-20 11:32] Swarnitha-eluru commented on #596
okay thanks for the update

[2020-07-27 08:36] roll commented on #875
Is there a chance that we can reduce the number of properties' mixed types as we discussed previously e.g.
- making `schema.primaryKeys` an array only
- making `schema.foreignKeys.[reference.]fields` and array only
- considering another notation for multipart resources as `resource.path` being `string or array` is a real pain to handle in software

I think most of the type mixing makes implementat

[2020-07-27 10:33] roll commented on #875
Just wanted to share another thinking. I'm wondering if currently, the specs are too fragmented which makes it hard to understand Frictionless Data conceptually.

I think in general we can have 4 core specs (+ numerous extra specs like FDP):
- data package (not sure if tabular data package is needed at all after tabular data resource introduction)
- data resource (I would merge data resource and t

[2020-07-27 11:21] roll opened #527 "Documentation structure"
I want to share my vision of how the documentation on the main can look like. I'm only talking about two first sections:
- Learn
- Tooling

## Current

I think the main problem here that it just lists our technologies when coming users don't really care about it. They usually come to solve their problems or to find solutions applicable to their platform. I would bet that they don't really care abo

[2020-07-27 12:53] rufuspollock commented on #594
@jomtov great question. Can you give more links and details and a simple example of how this would work on the command line or in code?

[2020-07-27 15:03] jomtov commented on #594
Hi @rufuspollock,

I am not really a developer myself, so cannot give you code or command line details. But I have written some Schematron schemas, using phases also. Attaching a schema with examples, used for validation of OAI-PMH METS-feeds for output from Swedish Digital Scientific Publications  Repository – DIVA.
(First validate in Schematron phase “Diagnosis”, then choose next validation phas

[2020-07-27 15:40] lwinfree commented on #875
I definitely agree that it is confusing right now. From a technical decision, I'm not sure what is best, but I think either way, we should work to better document the distinction between the various specs to help remove that confusion.

[2020-07-27 16:11] lwinfree commented on #527
tagging @Irio to think about this too :-)

[2020-07-28 12:46] rufuspollock commented on #518
FIXED. This happened with extensive improvements in code and docs and v1.0 release of https://github.com/frictionlessdata/frictionless-ckan is out.,

[2020-07-28 12:46] #518 closed, assigned to sglavoie

[2020-07-28 13:54] roll commented on #527
There are few guides that I think can be used on the main site's Python section after some refining and editing:
- [Introductory Guide](https://github.com/frictionlessdata/frictionless-py/blob/master/docs/introductory-guide.md#introductory-guide)
- [Describing Data](https://github.com/frictionlessdata/frictionless-py/blob/master/docs/describing-data.md#describing-data) (that's basically an introdu

[2020-08-03 20:28] dafeder commented on #584
Thanks @rufuspollock and @sglavoie, coming back to this after a bit of time way. I'm going to go through but it looks pretty complete. One thing that's nice -- the move to calling this standard "DCAT-US" instead of the clunky "Project Open Data Schema" seems to be official, so that can make these docs a little more manageable. I'll try to create a mapping table as an additional sheet.

[2020-08-04 13:13] roll opened #528 "Improving website navigation"
Initially, I was proposing Docosaurus 2 as a website engine and one of the main features of this project was its awesome navigation. For example, for a random article, it completely presents your current location visually and gives a lot of option for the following reading (prev/next/toc/articles/etc) :

![navigation-modern](https://user-images.githubusercontent.com/557395/89297630-dcf3d200-d66c-1

[2020-08-04 15:28] roll opened #529 "Announcing frictionless-py"
We're happy to announce that `frictionless-py` has just been released for initial testing and feedback collection. To test it please follow the link below:

# [Frictionless for Python (frictionless-py)](https://github.com/frictionlessdata/frictionless-py)

It's a high-level framework that was created to simplify overall user-experience for working with Frictionless Data in Python. It provides a lo

[2020-08-04 18:08] lwinfree commented on #528
Those are good points Evgeny. So, currently we have a navigation menu showing the headers within a page, but I agree that we could add in some additional pointers to list the other docs too.

[2020-08-05 13:09] rufuspollock commented on #529
@roll this was great. Can we get the plan / summary we wrote into RFC 6 and the key agreements there.

[2020-08-06 07:22] roll commented on #529
Sure. I'll add

[2020-08-06 14:05] metabsd opened #530 "CSV Data type validation"
This is more a question than an Issue.

This is a CSV example : https://gist.github.com/metabsd/a78f5048ad09abf76e6fa5ef94fa8b63

Can I validate the port data to be only those three example. With pattern matching or something else.

Thx!

---

Please preserve this line to notify @lwinfree (lead of this repository)

[2020-08-06 15:58] lwinfree commented on #530
CC @roll this is a continuation of metabsd's question from Discord. Can you help answer plz?

[2020-08-07 07:43] roll commented on #530
Hi @metabsd

You can use a schema's pattern constraint:

[code]

[2020-08-07 15:26] metabsd commented on #530
Thank a lot!!! Now I have to find the right regex :) This is really nice. Good work!!!

[2020-08-08 12:32] roll commented on #530
Great. Thanks!

[2020-08-08 12:32] #530 closed, assigned to nobody

[2020-08-11 13:52] metabsd commented on #530
There a way that I can specify a custom message when Pattern don't match ? Thx!

[2020-08-11 14:54] sglavoie opened #531 "Community Hangout - 27 August 2020"
Our next 1h community hangout to chat about recent developments in Frictionless and data generally and next steps. Invite community members to it ...

Organizer: @sglavoie (Datopian) and @lwinfree (OKF)

Date: **27<sup>th</sup> August 5pm BST**

## Agenda

* Welcome and introductions: Icebreaker! [10m]
* Link to meeting doc
* Social Media [@Frictionlessd8a](https://twitter.com/Frictionlessd8a) and

[2020-08-14 06:38] roll commented on #530
What kind of interface do you use: Python, CLI?

If it's Python you can just modify the report.

[2020-08-14 13:06] metabsd commented on #530
Yes I'm using the CLI. I'm using frictionless inside an Ansible Playbook to validate couple csv. I would like to be able to add an option in the YAML resource file where I can define the schema to choose the message. If it's not possible I will write a custom module with frictionless library to overwrite the report. Thx!

[2020-08-15 06:21] roll commented on #530
Yea I think that updating the report is the way to go atm.

[2020-08-16 16:24] rufuspollock commented on #584
@dafeder that's great 👏  - let us know when you have gone through the mapping setup.

[2020-08-18 09:12] cpina opened #532 "Suggestion: replace Google Analytics by GoatCounter"
I just opened a ticket like this but now it's gone - I'm typing it again. If you find a duplicate somewhere feel free to close one of them.

FrictionlessData websites like https://frictionlessdata.io/ and https://create.frictionlessdata.io/ use Google Analytics. I suggest to use https://www.goatcounter.com/ : an open source, no tracking of personal data, hosted service (free for non-commercial use

[2020-08-18 10:01] rufuspollock opened #533 "Set https only for frictionlessdata.io"
We want frictionlessdata.io to be https only (and it isn't atm http works for sub pages e.g. http://frictionlessdata.io/table-schema/). Note that root domain does redirect so suspect page rules are misconfigured.

## Acceptance

* [x] http://frictionlessdata.io/table-schema/ and any other pages redirect to https versions

## Tasks

* [x] Login to cloudflare and turn on https only (which will auto

[2020-08-18 14:41] lwinfree commented on #533
sounds good to me @rufuspollock. @amercader do you have access to cloudflare & if so, can you please do this? Thanks!

[2020-08-22 05:37] akuckartz commented on #532
Matomo?

[2020-08-22 17:54] cpina commented on #532
I think that to use Matomo (https://matomo.org) there are two possible ways to go:
 * Self-hosted in a Frictionless server (setup, maintenance for Frictionless)
 * Hosted by Matomo: monthly subscription (https://matomo.org/pricing/) (21 day for free)

For Goatcounter (https://www.goatcounter.com/):
 * Self-hosted (implemented in Go and Postgresql, not sure if it requires Postgresql or can use othe

[2020-08-24 03:10] arp242 commented on #532
It supports SQLite and PostgreSQL; for a single site, SQLite should be "good enough" for almost all use cases; in the benchmarks I ran last year it was actually *faster* than PostgreSQL.

Also, this hash doesn't gets stored to disk; it's just an in-memory thing more similar to TCP sessions or some such than anything else.

Anyway, Matomo is cool too, and can certainly do a bunch of stuff GoatCount

[2020-08-24 10:49] amercader commented on #533
This is now done @lwinfree

[2020-08-24 13:22] #533 closed, assigned to lwinfree

[2020-08-26 09:51] loleg commented on #531
I've been using, [integrating](https://github.com/hackathons-ftw/dribdat/pull/162), involved in discussions with https://usefathom.com/ happy to add my 2 cents to the Analytics discussion. In fact I've had thoughts about promoting more open analytics data [for a while](https://speakerdeck.com/loleg/information-architecture?slide=22).

[2020-08-26 12:23] sglavoie commented on #531
Thank you @loleg! Your point of view as a veteran on this topic will definitely be welcome! I am sure we will all benefit from your presence if you can make it (and it looks like a *yes* from the calendar :wink:).

[2020-08-28 23:10] sglavoie commented on #531
**FIXED**: Closing as all tasks were completed, nothing else needs to be done for this issue.

[2020-08-28 23:10] #531 closed, assigned to sglavoie

[2020-09-03 20:43] lwinfree opened #534 "update team page on website"
We need to update the team members on the website to include the new tool fund partners & fellows. I'll do this soon - creating an issue now so I don't forget. I'll also play around with the styling/columns that we had proposed implementing earlier.

[2020-09-08 07:39] cpina commented on #532
I couldn't make it to the community call... Were there any discussions about this topic? (@loleg / @sglavoie ) I'd like to know more. Thanks!

[2020-09-08 12:15] sglavoie commented on #532
Hi @cpina!

* The video has been [uploaded here](https://youtu.be/HezM-DPB2v4?t=1841). (This is the timestamp at which the conversation on analytics starts).
* You can also see the agenda and other items of interest on [this blog post](https://frictionlessdata.io/blog/2020/08/27/august-virtual-hangout/#community-hangout-recording).
* I think there is still a lot of space for discussion if we want

[2020-09-08 12:56] cpina commented on #532
Hi @sglavoie  - Thanks for the link, I'll watch the video and I'll comment further if needed. I should be able to join on the 24th September (noted into the calendar) as well in case that I would like to comment there. Cheers!

[2020-09-15 08:40] cpina commented on #532
@sglavoie , @loleg: I've just watched the part of the community call that you talked about analytics (I'll listen to the rest soon). Thanks for presenting the tools and the clear explanation. When I opened this issue I was not thinking on promoting "open data analytics" for open projects but I was thinking on supporting other open source projects (GoatCounter, Matomo, etc.) and helping users to be

[2020-09-15 14:36] rufuspollock commented on #532
For me this has really low priority vs many other tasks that deliver immediate value to the project (most important of which the move to new library structure) 😄

I'd suggest we only come back to this if/when we've made demonstrable progress there.

[2020-09-15 17:06] lwinfree commented on #532
@cpina We don't use analytics very often actually. In the past year, we've used it to help inform the website redesign (seeing which pages users spend time on/how users flow thru the website) and to get user stats for applying for more funding :-)

I agree with @rufuspollock that maybe we can table making a decision on this until the next time we need to use analytics for something. At that point,

[2020-09-15 17:06] #532 closed, assigned to nobody

[2020-09-15 19:41] ssowj opened #592 "Validate CSV against a Oracle table Schema"
I'm looking to validate a csv file whose contents will be inserted to a Oracle table.
I want to validate this csv data against the Oracle table schema  before inserting and spit out the errors.
I read the table schema in JSON as {"uniq_id": "NUMBER(38, 0)", "lat": "NUMBER(7, 5)", "lon": "NUMBER(8, 5)", "orig_val": "NUMBER(9, 3)", "orig_type": "VARCHAR(1)"}.
The CSV file is not expected to have all

[2020-09-16 13:53] roll commented on #592
Hi @ssowj,

You can use Table Schema Spec for the task - https://specs.frictionlessdata.io/table-schema/. Can you share a snippet from your csv so we can help with the schema? I think it will need to have some `min/max/lenght` constraints.

[2020-09-16 14:02] ssowj commented on #592
Hi @roll
Here is a sample csv:
Lat     	          Lon     	           Elev
46.00000    	6.30000       	1800.100
46.05000	        6.35000      	6777.800
46.10000    	6.40000       	9444.300

Will this suffice?

[2020-09-16 14:16] ssowj commented on #592
assume I can get constraints from the json returned for the ORacle table?
[{'name': 'lat', 'type': NUMBER(precision=7, scale=5, asdecimal=True), 'nullable': False, 'default': None, 'autoincrement': 'auto', 'comment': None}, {'name': 'lon', 'type': NUMBER(precision=8, scale=5, asdecimal=True), 'nullable': False, 'default': None, 'autoincrement': 'auto', 'comment': None}]

Is it possible to build th

[2020-09-17 06:39] roll commented on #592
Sure, you can process the output from Oracle dynamically creating Table Schema it will be something like:

[code]

[2020-09-22 13:54] #523 closed, assigned to nobody

[2020-10-01 18:36] peterdesmet opened #635 "Community schemas: allowing less fields than are defined in the schema"
The Data Resource spec allows to point to an externally hosted Resource Schema ([`schema: url-or-path`](https://specs.frictionlessdata.io/data-resource/#resource-schemas)). This is great, because it allows communities to for example develop and host a **agreed upon set of Table Schemas** ([example](https://gitlab.com/oscf/camtrap-package-schemas)) and data producers within that community to indica

[2020-10-02 05:23] roll commented on #635
Hi @peterdesmet,

It's a very good issue. It needs to be discussed on the specs level as it's not only the dimension requirement but also an addressing one: the mapping between file fields and schema fields are tied to their order.

On the software level it's much easier you just need to provide the `sync_schema` argument. In this case, a provided `schema.fields` will be used as a reference table

[2020-10-02 09:54] peterdesmet commented on #635
Fantastic! So the implementation allows to have less fields (1) and fields in a different order (2) then is provided in the schema. Question: is this `sync_schema` also available as an option in the CLI?

The less fields (1) is addressed in the specs (`SHOULD`) but as you point out, the order (2) is currently required (`MUST`) in the specs:

[2020-10-02 11:36] roll commented on #635
Yes it's available in the CLI

Not sure why the spec uses `SHOULD` instead of `MUST`

[2020-10-06 07:50] peterdesmet commented on #635
But given the need (and the already supported implementation) the issue at hand is to change `MUST` into `SHOULD` (recommended but not required) right?

[2020-10-06 07:59] roll commented on #635
I agree. Would you like to PR?

[2020-10-06 08:14] peterdesmet commented on #635
Yes, please see frictionlessdata/specs#707

[2020-10-06 09:34] roll commented on #635
Thanks

[2020-10-07 11:10] peterdesmet commented on #635
Commented by @roll in https://github.com/frictionlessdata/specs/pull/707#issuecomment-704863074:

[2020-10-07 11:16] peterdesmet commented on #635
I don't understand this. E.g. a camera trap data package for a specific project **has csv files**. These can be described literally (no reference) in `schema` for each resource. Or (better) `schema` can reference the url for the community table schema (an external json file that describes more or less columns in a different order).

[2020-10-07 11:17] roll commented on #635
I would use something like this just because Schema makes/can exist sense even you don't have a file.

[2020-10-07 11:19] roll commented on #635
I mean you can write an abstract Table Schema. It's not tied to any file. That why it can be a community/shared/etc :smiley: One schema can describe N data files.

For example, Data Package and Data Resource are tied to exact files.

---

Table Schema: metadata
Data Resource: metadata + data
Data Package: metadata + data

[2020-10-07 11:25] roll commented on #635
There is a problem that this will not work in any existing software unless you provide special flags on software level like `validate(...sync_schema=True)`. But it's an extension over the spec while it's not actually described in the spec even though we change MUST->SHOULD.

To make it possible we will need a whole new feature of the specs that allows software to lookup the fields by names. Some e

[2020-10-09 13:53] sglavoie opened #536 "Community Hangout - 22 October 2020"
Our next 1h community hangout to chat about recent developments in Frictionless and data generally and next steps, involving our community members in the process!

Organizer: @sglavoie (Datopian) and @lwinfree (OKF)

Date: **22<sup>th</sup> October, 5pm BST**

## Agenda

* Welcome and introductions: Icebreaker! [10m]
* Link to meeting doc
* Social Media [@Frictionlessd8a](https://twitter.com/Frict

[2020-10-09 14:37] peterdesmet commented on #635
@roll

## Regarding `MUST` vs `SHOULD` in Table Schema

I agree, which is exactly why relaxing (`SHOULD` not `MUST` frictionlessdata/specs#707) the order/number of fields is an improvement imo, because it reflects reality and supports more use cases (e.g. community standards). Since it's not tied to data, it is bit odd that `CSV file` (3 times) is mentioned in the [Table Schema spec](https://specs

[2020-10-09 15:14] sglavoie commented on #536
**Note:** The step of generating the list of people to invite was automated internally to facilitate the task and to respect people's privacy by taking into account their selection from their last entry for the column "Keep me up to date". We generate a string of comma-separated emails that can be pasted straight into Gmail/Google Calendar.

[2020-10-14 09:48] rufuspollock commented on #638
AGREED:

[code]

[2020-10-22 17:16] sglavoie commented on #536
### Tasks to add for next time

* Advertise the hangout internally: announcements channel, All Hands meeting, reminder through email.
* Make sure the **Google Meet** link is removed from the calendar. (This leads to confusion for some participants as there were two visible links one could join.)

[2020-10-22 20:21] lwinfree commented on #536
I was thinking it might be cool to have @rufuspollock discuss the data views work at the next call. I think there are several groups that would find that interesting (including myself!). What do you think Rufus?

[2020-10-22 23:31] ikreymer opened #588 "Using frictionlessdata data package for web archive data package (WACZ format)"
I wanted to reach out to the frictionless data community share that we (https://github.com/webrecorder, https://webrecorder.net/) are working on a new packaging format to store web archive data, and are planning to adopt frictionless datapackage as the basis for this format!

The current spec and goals for this format is described here so far (not yet using frictionless data):
https://github.com/w

[2020-10-23 15:47] lwinfree commented on #588
Hi @ikreymer that's awesome - thanks for sharing! Maybe we could have you present a little bit about your plans/project at an upcoming community call? Also, we have a community chat in discord (https://discord.com/invite/j9DNFNw) in case you want to join there too. That chat is a good place to ask questions & get feedback from other users. And please do open issues if you run into any problems! Yo

[2020-10-23 17:32] lwinfree opened #537 "Change project-wide terminology to be more inclusive"
## Overview

This issue is to make a plan for removing/replacing internal terminology to be more inclusive. For example, changing the branch “master” to “main”. GitHub recommends waiting until "later this year" to rename all master branches to main, so we will wait. Ideally, GitHub will release tooling that makes this process smooth, so we will wait a bit and see. In the meantime, we are making li

[2020-10-23 17:38] lwinfree commented on #537
(comments copied (& edited) from @chris48s via slack convo)

* Changing whitelist/blacklist to greenlist/redlist or allowlist/denylist is not usually a big change as long as its only used in the internals of a codebase. If its exposed in a public API surface, it's a breaking/non-BC change which requires a major version bump and should be co-ordinated with other non-BC changes.

* For any repo wher

[2020-10-23 17:39] lwinfree commented on #537
I'm going to start looking into this with the [`toolfund` repo](https://github.com/frictionlessdata/toolfund). I'll update the to-do list &/or add more comments here as I make progress! Any suggestions/comments are welcome too :-)

[2020-10-26 13:52] rufuspollock opened #538 "Recording mentions and uses of Frictionless tooling"
When I see a reference or use of Frictionless tooling online I want to record it so that we have a set of referenceable examples of people using it that we can cite to funders or mention on our website

## Acceptance

* [ ] ...

## Tasks

* [ ] ...

## Analysis

* online article using table schema … https://hackersandslackers.com/infer-datatypes-from-csvs-to-create/

[2020-10-26 15:46] sglavoie opened #539 "Community Hangout - 19 November 2020"
Our next 1h community hangout to chat about recent developments in Frictionless and data generally and next steps, involving our community members in the process!

Organizers: @lwinfree (OKF) & @sglavoie (Datopian)
Lead of the repo: @lwinfree (OKF)

Date: **19<sup>th</sup> November, 5pm BST**

## Agenda

*   Welcome and introductions: Icebreaker! [10m]
    *   Link to meeting doc
    *   Social Me

[2020-11-02 13:20] sglavoie commented on #536
**FIXED**: Closing since we've had the community call and nothing more needs to be done specifically with this issue at this point – although further discussions are of course welcome! Issue for the next community call: #539.

[2020-11-02 13:20] #536 closed, assigned to sglavoie

[2020-11-03 15:22] rufuspollock opened #540 "Try out github discussions for our forum"

[2020-11-03 15:27] rufuspollock opened #541 "Implement frictionless-js library"
We want a JS toolkit following our RFC 006 https://github.com/frictionlessdata/project/blob/master/rfcs/0006-software-structure.md

We already have a base library in the form https://github.com/datopian/data.js which we can migrate over.

Then we need to add more functionality - a lot of this is in https://github.com/datopian/data-cli e.g. we have "show" (`cat` and `info`), `validate`, `init`...

[2020-11-03 15:46] sglavoie commented on #524
**WONTFIX**: Closing because we won't be discussing this further.

[2020-11-03 15:49] sglavoie commented on #541
**WONTFIX**: Closing because there is no action to be taken.

[2020-11-03 15:50] sglavoie commented on #525
**WONTFIX**: Closing because there is a new feature called "Discussions" which we will use instead.

[2020-11-03 15:52] lwinfree commented on #524
Hey! I'm reopening as we WILL be discussing this further!

[2020-11-03 15:53] sglavoie commented on #437
**WONTFIX**: Closing because @lwinfree wrote in [this comment](https://github.com/frictionlessdata/project/issues/437#issuecomment-623641415) she is taking care of this on Twitter. No further action needed.

[2020-11-03 15:53] #437 closed, assigned to lwinfree

[2020-11-03 15:55] sglavoie commented on #478
**WONTFIX**: Closing because the issue has been resolved already. No more action needed: the logo currently looks fine.

[2020-11-03 15:55] #478 closed, assigned to monikappv

[2020-11-03 16:01] sglavoie commented on #488
**WONTFIX**: Closing because the task list is not detailed enough and there is no sign of activity on this issue in the recent months. Please feel free to re-open with more details.

[2020-11-03 16:01] #488 closed, assigned to nobody

[2020-11-03 16:02] sglavoie commented on #487
**WONTFIX**: Closing because the task list is not detailed enough and there is no sign of activity on this issue in the recent months. Please feel free to re-open with more details. Similar to #488.

[2020-11-03 16:02] #487 closed, assigned to nobody

[2020-11-03 16:08] sglavoie commented on #514
**WONTFIX**: Not enough information to work with, the issue has been abandoned for a few months.

[2020-11-03 16:08] #514 closed, assigned to nobody

[2020-11-03 16:13] sglavoie commented on #484
**WONTFIX**: The section "Some of Our Tooling" is fixed (centered and on one line). Please feel free to re-open this issue if we are going to change the shape of the items in this section from circles to hexagons.

[2020-11-03 16:13] #484 closed, assigned to nobody

[2020-11-03 16:15] sglavoie commented on #493
**WONTFIX**: Closing because we can take advantage of the new Discussions feature on GitHub and we ask people for their feedback during each community call. We can now also link to the [Discussions tab](https://github.com/frictionlessdata/project/discussions) for this project.

[2020-11-03 16:41] rufuspollock commented on #493
@sglavoie the discussions feature and this are unrelated. Reopening.

[2020-11-03 16:44] rufuspollock commented on #488
@sglavoie this is indeed part of #430 - i think it is still relevant. But we can think and then reopen if appropriate.

[2020-11-03 16:44] rufuspollock commented on #541
@sglavoie i opened this as a placeholder today because we specifically discussed this as something we are working on. Reopening.

[2020-11-03 16:45] rufuspollock commented on #525
@sglavoie as discussed on call today we still need to do this merge! Even if we have discussions. I suggest this is something @yaso could take on.

[2020-11-03 17:39] sglavoie commented on #524
Thank you @lwinfree. Now it's pretty clear, then. Yaso and I understood the opposite. :smile:

[2020-11-03 19:33] lwinfree commented on #524
Maybe we can all talk about it during our next meeting?

[2020-11-06 12:38] loleg opened #590 "Data Package viewer"
The tool for previewing Data Packages at https://data.okfn.org/tools/view is now offline (I'm getting a Cloudflare DNS error). Since we have linked to it quite a lot in the past, I would appreciate a note of explanation, linking at least to the source code in case anyone wants to help the project.

Going forward, I was looking at some alternatives in this space like the [JSON Schema Viewer](https:

[2020-11-06 17:55] lwinfree commented on #590
pinging @rufuspollock for help here :-)

[2020-11-09 11:10] rufuspollock commented on #590
@loleg i agree that was a very useful tool 😄  - i suspect that OKF folks may have taken down the service and i no longer have access to it (it was running on heroku) ( @lwinfree  could you ask @amercader / @roll about this ... - also it would be nice to implement redirects for data.okfn.org rather than just have cloudflare error and i can make suggestions about what these could be)

@loleg to come

[2020-11-09 11:15] roll commented on #590
I don't know what was the initial project but sharing the Data Package Creator link just in case - https://create.frictionlessdata.io/

[2020-11-09 13:06] roll opened #542 "Finish the second version of the Tooling docs"
We need to finish this update to the Tooling section - https://github.com/frictionlessdata/website/pull/125

## Acceptance

- [x] the PR is merged
- [x] the update is deployed

Please preserve this line to notify @lwinfree (lead of this repository)

[2020-11-09 13:08] roll opened #543 "Finish and release frictionless@4 in Python"
From our note for the Frictionless Framework users:

## Acceptance

- [ ] version 4 of the framework is released

Please preserve this line to notify @lwinfree (lead of this repository)

[2020-11-09 13:10] roll commented on #529
The announcement is done now.

We're working on the first stable version - https://github.com/frictionlessdata/project/issues/543

[2020-11-09 13:10] #529 closed, assigned to nobody

[2020-11-09 13:12] roll commented on #453
We can merge this issue with a high-level https://github.com/frictionlessdata/project/issues/542 as we're going to add a lot of documents like "Working with SQL in Frictionless" etc

[2020-11-09 13:12] roll commented on #495
We can merge this issue with a high-level https://github.com/frictionlessdata/project/issues/542 as we're going to add a lot of documents like "Working with SQL in Frictionless" etc

[2020-11-09 13:17] roll commented on #541
Hi, do we have more specific goals like releasing _some_ version having _some_ functionality? Probably that what you're planning to add to the acceptance so just curious as it's empty yet

[2020-11-09 14:21] lwinfree commented on #538
at OKF, we've created a google form/spreadsheet combo to track things like this. Just FYI in case that is a helpful example to think about :-)

[2020-11-09 15:27] rufuspollock commented on #538
@lwinfree great, is it public and can I add items to it?

[2020-11-09 15:44] lwinfree commented on #538
@rufuspollock it (the OKF one I mean) isn't for general FD items. I brought it up as a suggestion for how we/you might want to start keeping track of general FD items

[2020-11-09 16:59] rufuspollock commented on #541
@roll we already have the basic version done - see the repo - as we migrated data.js over last week. I've just updated the description with more info. Note that most of the functionality already existed in `data.js` and `data-cli` - it's a question of moving it over.

[2020-11-09 17:06] rufuspollock commented on #538
@lwinfree great suggestion - so you mean we could create a spreadsheet like that? 😄 👍

[2020-11-09 17:09] lwinfree commented on #538
yes :-)

[2020-11-10 14:49] #564 closed, assigned to rufuspollock

[2020-11-10 14:50] #567 closed, assigned to nobody

[2020-11-10 15:00] risenW commented on #525
@rufuspollock care to throw more light on acceptance criteria 3-Some info in README (stuff from README)

[2020-11-10 16:42] rufuspollock commented on #525
@risenW i meant to update forum repo README to indicate it had moved here and was deprecated.

[2020-11-10 16:54] risenW commented on #525
Okay, got it. @sglavoie already fixed it here ==> https://github.com/frictionlessdata/project/pull/575

[2020-11-10 22:10] domoritz commented on #558
I just got the notification 😇. I think it's better to separate metadata from data because that way you can parse the metadata and the data independently. Assuming that there are n metadata formats and m data formats, you would need n+m parsers if you keep data and metadata separately and m*n parsers if you combine them.

I think this is even true if you just pass of the data to another parser sinc

[2020-11-11 07:27] rufuspollock opened #576 "Pipelines / Transform functionality discussion"
We're planning to have some kind of recommended pipeline / transform system(s) for Frictionless toolkit.

@roll i (rufus) am opening this issue so we have a place to discuss plans for transform / pipelines functionality. I think this is something worth discussing a bit and maybe even speccing in an RFC.

This is an It's something @rufuspollock has now been involved with implementing several times

[2020-11-11 07:28] rufuspollock commented on #576
@roll @risenW ^^^

[2020-11-11 07:40] roll commented on #576
@rufuspollock @risenW
Frictionless for Python now supports:
- core transform functionality powered by PETL (ATM wrapped near 100 PETL operations)
- a plugin that can run DataFlows pipelines

https://colab.research.google.com/drive/1C4dFWDExyxzGIwLUovrDQZghZK4JK2PD

[2020-11-11 09:24] rufuspollock commented on #576
@roll great and i've read through that. What do you think of doing a bit of syncing / planning before we proceed much further?

Also some questions:

* Looking at the code it looks like you export the resource to be used by PETL (which seems very sensible) rather than wrapping. Is that right?
* Does it run in streaming or non streaming mode?

[2020-11-11 10:43] loleg commented on #590
There's an early days screenshot of the viewer here: https://okfnlabs.org/blog/2013/08/06/data-update-2.html
The code lives at https://github.com/okfn/data.okfn.org-new

+1 for frictionless-js !

[2020-11-11 13:13] sglavoie commented on #506
@rufuspollock: we have a Zoom recording for this hangout. Would you like me to add it to the [blog post](https://frictionlessdata.io/blog/2020/05/20/frictionless-data-may-hangout/) and then close this issue?

[2020-11-12 06:15] roll commented on #576
@rufuspollock
Yes, of course.

Another question is that in my opinion, I don't think it should be driven by some kind of committee :smiley:. Honestly, I don't know if it's a good enough solution or not until real people start using it in real projects and give us feedback.

For example, as far as I can remember, this project https://github.com/datasets/covid-19 was driven by DataFlows initially an

[2020-11-13 17:40] ikreymer commented on #588
Great! I signed up for the upcoming call and got a calendar invite!
We're wrapping up our initial integration with Frictionless, and happy to share a bit on what we're doing and the web archiving use case (along with my colleague @emmadickson)

[2020-11-13 17:44] lwinfree commented on #588
awesome @ikreymer! At our upcoming call, we are going to have a presentation by another user group, so there might not be time during this call to hear about your work, but would you be interested in giving a very brief overview (a minute or 2) and then doing a deeper dive at our next call (17 Dec) or our January call?

[2020-11-13 18:00] ikreymer commented on #588
Sure, that sounds perfect! We can introduce our work on next call and prepare something longer for the following one.

[2020-11-13 22:00] lwinfree commented on #588
@sglavoie could you please add Ilya's project to the agenda for the December community call? Thanks!

[2020-11-13 22:38] sglavoie commented on #588
@lwinfree Noted! :slightly_smiling_face:

[2020-11-18 01:32] kgeographer commented on #635
Regarding the Oct 1 message from @roll:

I find that adding sync_schema makes it impossible to trap header errors. For example non-matching-header. In the validation report, the header is changed to include possibly incorrect incoming header strings, and constraints initially in the referenced schema (e.g. 'required') are dropped; type becomes 'any.'

I encountered this trying to move from goodtab

[2020-11-19 19:47] sglavoie opened #577 "Community Hangout - 17 December 2020"
Our next 1h community hangout to chat about recent developments in Frictionless and data generally and next steps, involving our community members in the process!

Organizers: @lwinfree (OKF) & @sglavoie (Datopian) — TBC
Lead of the repo: @lwinfree (OKF)

Date: **17<sup>th</sup> December, 5pm BST**

## Agenda

*   Welcome and introductions: Icebreaker! [10m]
    *   Link to meeting doc
    *   Soc

[2020-11-19 21:16] loleg commented on #577
Sorry for missing tonight's call, sysadmin stuff kept me working late. Hope you had a good chat, and I look forward to catching up via the blog & Discord! I'll be happy to present something in December if you want me to.

[2020-11-20 18:37] sglavoie commented on #577
Hi @loleg! No worries at all. We'll be updating the blog, but if you're eager to dive deeper into the technical presentation and/or watch the whole hangout, here you go:

* [Costas S' Table Schema presentation](https://www.youtube.com/watch?v=pJFsJW96fuA)
* [November Frictionless Community Call 2020](https://www.youtube.com/watch?v=ovdGnNYk7cQ)

Of course, you're always welcome to present somethin

[2020-11-23 08:01] roll commented on #635
Hi @kgeographer,

Can you please post a simple example of the header and the field names in your case? I'm trying to figure out if labels in data don't match field names so how we can link them for validation.

[2020-11-23 15:15] sglavoie commented on #539
**FIXED**: All tasks were done.

[2020-11-23 15:15] #539 closed, assigned to nobody

[2020-11-24 18:58] kgeographer commented on #635
Yes, my case arises in performing validation of data contributions for [World Historical Gazetteer](http://whgazetteer) using the [LP-TSV](https://github.com/LinkedPasts/linked-places/blob/master/tsv_0.2.md) variation of our contribution format.

Attached a sample data file, sample schema and little python script for demo

One problem is that with sync_schema = True, the file is validated even if

[2020-11-24 20:42] lwinfree commented on #528
hey @roll to restart this convo... we want:
- the tooling section should have 1 sidebar that lists *all* of the pages (children)
- each page should have this same sidebar, and should show which page you are on
- at the bottom of each page, there should be 2 buttons showing the previous topic/page and the next topic/page

of note: some pages (like this one https://frictionlessdata.io/tooling/python

[2020-11-25 07:59] roll commented on #528
@lwinfree
I think the best summary of my vision is the initial screenshot - 2 sidebars + prev/next buttons + top menu indication

Regarding the API Reference and similar documents, I would not really be worried about ATM how it looks as it's very low-level and the main purpose of having it is to have an ability to link to sections like - https://frictionlessdata.io/tooling/python/api-reference/#te

[2020-11-25 08:07] roll commented on #635
Thanks @kgeographer,

I've created a feature request - https://github.com/frictionlessdata/frictionless-py/issues/546

[2021-01-05 21:44] #542 closed, assigned to roll, lwinfree

[2021-01-05 21:45] lwinfree commented on #527
@roll I think this has been done now - are you OK if I close this issue?

[2021-01-05 21:47] lwinfree commented on #453
closing this as it was part of #542

[2021-01-05 21:47] #453 closed, assigned to lwinfree

[2021-01-06 06:05] roll commented on #527
@lwinfree
Sure

[2021-01-06 17:32] #527 closed, assigned to nobody

[2021-01-13 18:01] sapetti9 opened #578 "Community Call - 28 January 2021"
Our next 1h community call to chat about recent developments in Frictionless and data generally and next steps, involving our community members in the process!

Organizers: @lwinfree (OKF) & @sapetti9 (OKF) — TBC
Lead of the repo: @lwinfree (OKF)

Date: **28<sup>th</sup> January, 2pm GMT**

## Agenda (to be added soon)

Social Media [@Frictionlessd8a](https://twitter.com/Frictionlessd8a) and [Disc

[2021-01-15 02:37] sglavoie commented on #577
FIXED: Closing as all tasks were done. More updates to come from @sapetti9, the new community manager! :tada:

[2021-01-15 02:37] #577 closed, assigned to nobody

[2021-01-18 19:09] peterdesmet opened #631 "How to define a profile that extends tabular-data-package?"
We are aiming to define a JSON Schema for camera trap data that builds upon `tabular-data-package`, i.e. adopting all the properties of tabular data package, but adding more specific ones for camera trap data. [This is similar to](https://specs.frictionlessdata.io/tabular-data-package/#specification):

It is unclear to me _how_ that is defined in the JSON Schema. In the [tabular data package json

[2021-01-28 23:52] BenPortner opened #586 "Exclude resources from validation?"
Dear frictionless data community,

I am currently realizing my first frictionless project and I came across a problem:
My datapackage consists of a bunch of raw data files in `./data/raw` and a bunch of processed files in `./data`. I would like to include both raw data and processed data in the `datapackage.json` for completeness and documentation purpose. However, when I do so validation fails fo

[2021-01-29 00:01] BenPortner opened #582 "Define min/max constraint for date type field?"
Dear frictionlessdata community,

I am currently realizing my first frictionless project and I have a question:
My resource is a table and one of the columns contains `date`-type data. I would like to specify a constraint on that column, however when I try to set `minimum`or `maximum`, validation fails. What is the correct way to specifiy a `minimum`/`maximum` constraint on `date`-type columns?

M

[2021-01-29 14:00] rufuspollock commented on #586
@BenPortner good question. Referring here to @roll who would be expert re the validation side of things.

[2021-02-01 06:29] roll commented on #586
Hi @BenPortner,

I've created a feature request for this use case - https://github.com/frictionlessdata/frictionless-py/issues/645

[2021-02-01 09:10] BenPortner commented on #586
Thanks, @roll. I'm looking forward to its implementation 😃

[2021-02-02 22:42] lwinfree commented on #582
Hi @BenPortner thanks for this question. I'm tagging @roll who can help answer it. :-)

[2021-02-04 15:35] aborruso commented on #584
Hi all. Currently is there some way to convert (sort of) from DCAT to frictionless and viceversa?

Thank you

[2021-02-08 06:19] roll commented on #582
Hi @BenPortner,

The constraint should follow the data type and format so for your date column it will be `2020-01-01`.

BTW there is the `year` data type available - https://specs.frictionlessdata.io/table-schema/#types-and-formats. So you can have:

[code]

[2021-02-19 08:53] whalekeykeeper opened #629 "Schema error: constraint "maxLength" is not supported by type "any""
Hi,
after our project failed the automatic validation, according to the **properties** of **constraints** on the [Table Schema](https://specs.frictionlessdata.io/table-schema/#language) section in Frictionless Data Specs, I replaced "max-length" with "maxLength", "min-length" with "minLength". Then I tried to validate our data again but manually this time with `frictionless validate csv/datapackag

[2021-03-01 20:32] rufuspollock commented on #540
FIXED. It's happening see https://github.com/frictionlessdata/project/discussions

[2021-03-01 20:32] #540 closed, assigned to rufuspollock

[2021-03-01 20:38] rufuspollock opened #581 "Merge forum to github discussions in this repo (or to issues if relevant)"
*This is a follow up / replacement to #525 (which was about  merge pre-existence of github discussions).*

In spirit of "one" way to do things if possible, let's move forum (https://github.com/frictionlessdata/forum) stuff to github discussions here (and if there are items that really are issues let's move those).

## Acceptance

* [x] https://github.com/frictionlessdata/forum is deprecated **DONE

[2021-03-01 20:39] rufuspollock commented on #525
INVALID / WONTFIX / FIXED (partial). This got obsoleted by existence of github discussions and now have a successor issue in #581.

[2021-03-01 20:39] #525 closed, assigned to sglavoie

[2021-03-04 17:58] sglavoie commented on #581
Note: I will temporarily unarchive https://github.com/frictionlessdata/forum so I can move issues from that repo to https://github.com/frictionlessdata/project and click on the new option `Convert to discussion` to make a seamless transition.

[2021-03-04 18:00] #582 closed, assigned to nobody

[2021-03-04 18:02] #584 closed, assigned to nobody

[2021-03-04 18:02] #586 closed, assigned to nobody

[2021-03-04 18:03] #588 closed, assigned to nobody

[2021-03-04 18:04] #590 closed, assigned to nobody

[2021-03-04 18:05] #592 closed, assigned to nobody

[2021-03-04 18:06] #594 closed, assigned to nobody

[2021-03-04 18:07] #596 closed, assigned to nobody

[2021-03-04 18:08] #598 closed, assigned to nobody

[2021-03-04 18:10] #600 closed, assigned to nobody

[2021-03-04 18:10] #602 closed, assigned to nobody

[2021-03-04 18:11] #604 closed, assigned to nobody

[2021-03-04 18:11] #606 closed, assigned to nobody

[2021-03-04 18:14] #611 closed, assigned to nobody

[2021-03-04 18:14] #613 closed, assigned to nobody

[2021-03-04 18:15] #615 closed, assigned to nobody

[2021-03-04 18:16] #617 closed, assigned to nobody

[2021-03-04 18:21] #581 closed, assigned to sglavoie

[2021-03-04 18:22] sglavoie commented on #581
FIXED:

* https://github.com/frictionlessdata/forum has been deprecated, see https://github.com/frictionlessdata/forum#the-forum-has-moved-to-github-discussions-httpsgithubcomfrictionlessdataprojectdiscussions and the message `This repository has been archived by the owner. It is now read-only.` at the top of the repo.
* All open issues were transferred from https://github.com/frictionlessdata/for

[2021-03-13 21:03] chris48s opened #619 "website: a page that explains what a datapackage is"
There used to be a really useful page on the website that explains what a datapackage is:
https://web.archive.org/web/20201116202829/https://frictionlessdata.io/data-package/
This has been removed.

Also the "read more" link under Data Package on frictionlessdata.io is dead:

![GIFrecord_2021-03-13_205929](https://user-images.githubusercontent.com/6025893/111044296-84c15180-843f-11eb-8056-de903f94

[2021-03-15 11:02] rufuspollock commented on #619
@chris48s very good point. I'm having a look.

Aside: @roll through checking the commits to see what happened and wdyt then when we remove urls we add redirects e.g. in https://github.com/frictionlessdata/website/commit/61893a7a824e551ad54dccd53395ab012e162d9c we removed some urls and we could redirect to the replacement content e.g. /tooling/python => to /tooling/framework/ (if that is the approp

[2021-03-15 11:06] rufuspollock commented on #619
@chris48s ok found where it happened: https://github.com/frictionlessdata/website/commit/b5c851a35105c49aa1b3d7463a1b05fc4dd499ce

Can put this back now ...

[2021-03-15 11:08] rufuspollock commented on #619
FIXED in https://github.com/frictionlessdata/website/commit/996ed1c01b44467706ba1b347101d3d8d89c269a

[2021-03-15 11:08] #619 closed, assigned to rufuspollock

[2021-03-15 11:13] jeanpommier opened #620 "Can a Data Package reference other Data Packages as resources ?"
Hi,
I'm considering adopting Data Packages for a quite complex data structure, where I have nested structure and the need for metadata at different levels.
I'm a Data Package newbie, sorry if I'm asking silly questions. I not see any use case nesting Data Packages (i.e a Data Package, that, in its resources definition, references other Data Packages, stored in subdirectories of this data package).

[2021-03-15 11:14] roll commented on #619
Thanks @rufuspollock

[2021-03-15 11:26] roll commented on #543
DONE

[2021-03-15 11:26] #543 closed, assigned to roll

[2021-03-15 11:29] roll commented on #619
BTW @sglavoie, I didn't understand how to deploy the website when I was updating the Python docs link. Is it enough just to push to master?

[2021-03-15 12:23] #620 closed, assigned to nobody

[2021-03-15 13:27] sapetti9 opened #622 "Community Call - 25 March 2021"
Our next 1h community call to chat about recent developments in Frictionless and data generally and next steps, involving our community members in the process!

Organizers: @lwinfree (OKF) & @sapetti9 (OKF)
Lead of the repo: @lwinfree (OKF)

Date: **25<sup>th</sup> March, 2pm GMT**

## Agenda

Join us to hear a presentation from @n0rdlicht on Frictionless Vaccination, a spatiotemporal tracker for

[2021-03-15 13:28] #578 closed, assigned to nobody

[2021-03-15 13:36] sglavoie commented on #619
@roll Yes, we just need to push to `master` thanks to the workflow set up with GitHub Actions, which does the following:

* https://github.com/frictionlessdata/website/blob/ab428c1c178cf8c65e31cd7ad1ab972fad8f8f8f/.github/workflows/main.yml#L2 executes on each push;
* https://github.com/frictionlessdata/website/blob/ab428c1c178cf8c65e31cd7ad1ab972fad8f8f8f/.github/workflows/main.yml#L13 starts a j

[2021-03-18 18:18] peterdesmet opened #624 "Table schema for fixed-width tabular files"
👋 I'm dealing with an archive of tabular data that is organized as fixed-width text files:

[code]

I would like to describe this columns in a Table Schema. Is there a way in [Tabular Data Resource](https://specs.frictionlessdata.io/tabular-data-resource/) to express fixed-width tabular data? E.g. a property to define the start/end positions of the columns?

[2021-03-22 09:57] #624 closed, assigned to nobody

[2021-03-29 11:08] georgeslabreche opened #628 "Make code citable?"
# Overview

Make all frictionlessdata repos citable with a DOI via Zenodo:
https://guides.github.com/activities/citable-code/

---

Please preserve this line to notify @iSnow (lead of this repository)

[2021-03-29 11:08] georgeslabreche commented on #628
@roll thoughts?

[2021-03-29 13:22] roll commented on #628
Thanks @georgeslabreche!

@lwinfree WDYT?

[2021-03-29 16:17] lwinfree commented on #628
thanks @georgeslabreche I think this is a good idea! @roll let's talk about this during our upcoming sprint planning & then we can update this issue (or maybe move this issue to the project repo...).

[2021-03-29 22:38] georgeslabreche commented on #628
@roll @lwinfree it _might_ be overkill to do it for every single repository but maybe you can have it for a single repository that serves as a reference to everything (the project repo?).

Alternatively, you can publish a research paper on Frictionless Data and add citation instructions to that research paper in every README. This is more work, of course, but the benefit here is that you have a pu

[2021-03-30 07:16] roll commented on #628
I've moved the issue the project issue tracker :+1:

[2021-03-31 16:40] #629 closed, assigned to nobody

[2021-03-31 16:41] #631 closed, assigned to nobody

[2021-03-31 16:47] #633 closed, assigned to nobody

[2021-03-31 16:48] #635 closed, assigned to nobody

[2021-03-31 19:19] #638 closed, assigned to rufuspollock

[2021-03-31 19:20] #640 closed, assigned to nobody

[2021-04-05 17:40] lwinfree commented on #628
OK this is now set up for frictionless-py & the project repo. When the next release is done for each of those repos, they will have a DOI minted! I'm closing now as this will happen automatically at the next release. Thanks for the idea!

[2021-04-05 17:40] #628 closed, assigned to nobody

[2021-04-06 13:57] rufuspollock commented on #506
@sglavoie yes, please!

[2021-04-06 13:58] rufuspollock commented on #506
FIXED. (Assuming @sglavoie adds the recording to the post).

[2021-04-06 13:58] #506 closed, assigned to lauragift21

[2021-04-06 14:00] rufuspollock commented on #510
FIXED.

Note: with the existence of github discussions i wonder if going forward we could just use discussions for proposing and discussing RFCs and then, if necessary, move agreed version to rfc folder. (I notice nextjs use github discussions in this way for RFCs)

[2021-04-06 14:00] #510 closed, assigned to rufuspollock

[2021-04-06 14:02] #574 closed, assigned to rufuspollock

[2021-04-06 14:08] rufuspollock commented on #495
@lwinfree @roll do you think we can close this in favour of e.g. #542 and work on frictionless python lib (perhaps with a bit of detail of what has been done)?

[2021-04-06 14:09] rufuspollock commented on #481
@sglavoie do you think you could look at fixing this by linking to https://frictionlessdata.io/img/frictionless-color-full-logo.svg

[2021-04-06 14:11] lwinfree commented on #495
yes!

[2021-04-06 14:11] #495 closed, assigned to lwinfree

[2021-04-06 14:11] #560 closed, assigned to nobody

[2021-04-06 14:13] #571 closed, assigned to nobody

[2021-04-08 15:11] sglavoie commented on #481
@rufuspollock done! I've sent this PR: https://github.com/frictionlessdata/specs/pull/729

[2021-04-20 11:40] IdrissaD opened #671 "Array format not validating unicode markers in json"
I try to validate a csv file against a table schema, and I realized that unicode indicators `u` were breaking the validation of my arrays.

Schema:
[code]

Value of `communes` field in my file: ```[{u'nom': u'Ispagnac', u'code_INSEE': u'48075'}]```

Error:
```type-error  Type error in the cell "[{u'nom': u'Ispagnac', u'code_INSEE': u'48075'}]" in row "2" and field "communes" at position "9": type

[2021-04-20 14:41] #671 closed, assigned to nobody

[2021-04-21 12:25] #622 closed, assigned to nobody

[2021-04-21 12:25] sapetti9 opened #673 "Community Call - 29 April 2021"
Our next 1h community call to chat about recent developments in Frictionless and data generally and next steps, involving our community members in the process!

Organizers: @lwinfree (OKF) & @sapetti9 (OKF)
Lead of the repo: @lwinfree (OKF)

Date: **29<sup>th</sup> April, 2pm GMT**

## Agenda

Join us for an interactive discussion with our Fellows about how to use the Frictionless Data tools.
More

[2021-04-27 15:24] #481 closed, assigned to nobody

[2021-05-05 15:21] pratibhaw opened #679 "Merge request for one of the feature enhancement"
we noticed that the options decimalChar and groupChar were not working for number types. The reason being that the Json parsing of a Field is set to ignore all extra fields. We have added an annotation that passes all unknown fields into the options map.

Please merge the following code change: https://github.com/frictionlessdata/tableschema-java/pull/60

[2021-05-06 06:21] roll commented on #679
Hi @pratibhaw,

We need to wait for the @iSnow's review. Can you please work from the fork ATM?

[2021-05-06 14:53] pratibhaw commented on #679
@roll, can we expedite the review?  We have a project dependency on this and need this in production asap.

[2021-05-13 10:17] #673 closed, assigned to nobody

[2021-05-13 10:17] sapetti9 opened #680 "Community Call 27th May"
Our next 1h community call to chat about recent developments in Frictionless and data generally and next steps, involving our community members in the process!

Organizers: @lwinfree (OKF) & @sapetti9 (OKF)
Lead of the repo: @lwinfree (OKF)

Date: **27<sup>th</sup> May, 1 pm GMT**

## Agenda

Join us to hear a presentation by Simon Tyrrell and Xingdong Bian on Frictionless Data for Wheat
More info

[2021-05-19 13:38] roll opened #681 "Frictionless <> Flat Data integration"
@amercader's idea to integrate Flat Data - https://octo.github.com/projects/flat-data - with the Frictionless Github Action is really promising :+1:

We need some real word data example that fetches/visualize data using Flat Data and uses Frictionless Repository to validate the data in between

---

Please preserve this line to notify @lwinfree (lead of this repository)

[2021-05-19 13:59] aborruso commented on #681
It was also an idea of mine 🙃

[2021-05-19 14:07] roll commented on #681
@aborruso :smile: :+1:

[2021-05-24 15:23] roll commented on #534
MOVED https://github.com/frictionlessdata/website/issues/173

[2021-05-24 15:23] #534 closed, assigned to lwinfree

[2021-05-24 15:27] roll commented on #537
@lwinfree
Currently done:
- renamed white/blacklists in the `frictionless-py`
- repositories using `main` instead of `master`:
  - https://github.com/frictionlessdata/project
  - https://github.com/frictionlessdata/components
  - https://github.com/frictionlessdata/frictionless-py
  - https://github.com/frictionlessdata/libraries
  - https://github.com/frictionlessdata/repository

[2021-05-24 15:28] roll commented on #528
DONE in https://github.com/frictionlessdata/website/issues/177

[2021-05-24 15:28] #528 closed, assigned to nobody

[2021-05-24 15:29] roll commented on #559
Successfully migrated https://github.com/frictionlessdata/project/discussions :tada:

[2021-05-24 15:29] #559 closed, assigned to nobody

[2021-05-24 15:39] roll commented on #541
Shall we close it and track further development on the corresponding issue tracker?

[2021-05-26 08:53] roll opened #761 "Possible improvements to the first screen of the website"
# Overview

## Currently

It's nice and solid but might be not eye-catching for some users and it doesn't say anything about our work mostly so one can just close the site before reading about other stuff.

![fd](https://user-images.githubusercontent.com/557395/119629293-2ab11500-be0e-11eb-8f74-0d77a27a6135.png)

## Ideas

### Toolbox -> Picture/Toolbox with our product stickers

This picture is a

[2021-05-26 18:39] lwinfree commented on #761
I vote for a toolbox with our icons

[2021-06-07 14:09] roll commented on #558
I created a project called **Livemark** with similar scope (and partially based on ideas from CSV in Markdown, VisDown, etc) - https://frictionlessdata.github.io/livemark/

[2021-06-14 20:13] lwinfree opened #760 "Carousel for website testimonials?"
I think it would be nice to display more than 3 testimonials on the front page. I'm imagining a carousel that displays 3 quotes at once with an arrow. When you click the arrow, the next quote comes up (but 3 are displayed at all times). Something that looks like this (but with our current styling):

<img width="1257" alt="Screen Shot 2021-06-14 at 3 11 33 PM" src="https://user-images.githubusercon

[2021-06-15 08:14] roll commented on #760
Good idea @lwinfree :+1:

[2021-06-18 08:53] peterdesmet opened #683 "Broken link"
The link https://frictionlessdata.io/data-package/ used to work. It now redirects to https://frictionlessdata.io/about/introduction/ which is a 404.

---

Please preserve this line to notify @lwinfree (lead of this repository)

[2021-06-18 10:17] #680 closed, assigned to nobody

[2021-06-18 10:17] sapetti9 opened #684 "Community Call 24th June"
Our next 1h community call to chat about recent developments in Frictionless and data generally and next steps, involving our community members in the process!

Organizers: @lwinfree (OKF) & @sapetti9 (OKF)
Lead of the repo: @lwinfree (OKF)

Date: **24<sup>th</sup> June, 1 pm GMT**

## Agenda

Join us to hear presentation on Frictionless Data Package for InterMine by Nikhil Vats.
More information

[2021-06-18 13:38] lwinfree commented on #683
thanks @peterdesmet I'm actually fixing that in a PR today! :-) Please let me know if you catch other 404s in the future.

[2021-06-21 16:19] lwinfree commented on #683
closed via https://github.com/frictionlessdata/website/pull/201

[2021-06-21 16:19] #683 closed, assigned to nobody

[2021-07-20 08:46] #684 closed, assigned to nobody

[2021-07-20 08:46] sapetti9 opened #688 "Community Call moved to 12th August"
Our next 1h community call to chat about recent developments in Frictionless and data generally and next steps, involving our community members in the process!

Organizers: @lwinfree (OKF) & @sapetti9 (OKF)
Lead of the repo: @lwinfree (OKF)

<del> Date: **29<sup>th</sup> July, 1 pm GMT** </del>

**NEW DATE: 12<sup>th</sup> August, 1 pm GMT**

## Agenda

Join us to hear presentation on library data

[2021-07-26 18:04] #679 closed, assigned to nobody

[2021-07-26 18:08] #500 closed, assigned to lauragift21

[2021-07-26 18:11] lwinfree commented on #497
closing as this has been implemented via the new framework docs site & the main website update

[2021-07-26 18:11] #497 closed, assigned to nobody

[2021-07-26 18:13] lwinfree commented on #554
closing as we now use github discussions

[2021-07-26 18:13] #554 closed, assigned to nobody

[2021-07-26 18:14] lwinfree commented on #444
closing as this has been incorporated in the main site & framework docs

[2021-07-26 18:14] #444 closed, assigned to lauragift21

[2021-07-26 18:16] lwinfree commented on #558
I'm going to close this since Livemark is serving the same purpose. Please re-open if you think there is more/different work to be done here!

[2021-07-26 18:16] #558 closed, assigned to nobody

[2021-07-26 18:17] lwinfree commented on #430
closing as this has now been incorporated into the main site (introduction) and framework docs

[2021-07-26 18:17] #430 closed, assigned to rufuspollock

[2021-08-11 06:44] roll commented on #537
@lwinfree
There are still a few active repositories using master - https://github.com/frictionlessdata

[2021-08-16 15:32] #688 closed, assigned to nobody

[2021-08-16 15:32] sapetti9 opened #691 "Community Call on 26 August"
Our next 1h community call to chat about recent developments in Frictionless and data generally and next steps, involving our community members in the process!

Organizers: @lwinfree (OKF) & @sapetti9 (OKF)
Lead of the repo: @lwinfree (OKF)

Date: **26<sup>th</sup> August, 1 pm GMT**

## Agenda

Join us to hear presentation on Frictionless Data Pipelines for Ocean Science by Adam Shepherd & Amber

[2021-08-18 11:40] roll commented on #537
From the libraries only PHP and R are on master

[2021-08-31 06:50] pwalsh opened #695 "Maintenance of deprecated libraries"
@akariv and I would like to take over maintenance of several codebases that are deprecated by the newer approach of bundling everything into the [Frictionless](https://github.com/frictionlessdata/frictionless-py) library.

Given that these libraries (i) have been renamed on GitHub (now differ from their names on PyPI), and (ii) are declared as not receiving any further updates, we'd like to move t

[2021-08-31 07:09] roll commented on #695
@pwalsh
Hi Paul! It sounds really great.

Would you be happy to keep the projects in this organization on Github if it's renamed back to the initial names (tableschema-*) and all the deprecation notices are removed?

Currently, we consider this organization more like a developers hub or incubator when each project has its own LEAD, for example, https://github.com/frictionlessdata/tableschema-java/

[2021-08-31 07:16] pwalsh commented on #695
Sure. Those are the issues to work around, so if they can be handled here then that is great.

Sure. I just figured that as they are marked as deprecated/bugfix only, and they are reimplemented (not depended on) in Frictionless, the APIs will likely diverge but that is ok from our perspective.

Need @akariv to respond on that. I am not currently using it.

[2021-08-31 16:32] lwinfree commented on #695
Hi @pwalsh!

I'll mostly reiterate what Evgeny has said - it would be awesome to have you & Adam maintain those libraries. We're working on reimagining governance for the project right now, trying to involve community members more. This would include defining the roles for maintainers in a more clear way. Right now, maintainers don't have strict agreed-upon tasks, except that they will "maintain"

[2021-09-01 06:03] pwalsh commented on #695
We can talk about it when it is relevant. Not clear what "strict agreed-upon tasks" might mean :).

We have a bunch of data products in *production* running workflows using [Dataflows](https://github.com/datahq/dataflows), which directly depends on the libraries mentioned and a couple more. Swapping out dependencies is a big deal as data pipelines etc are maintained and evolve over time.

The new

[2021-09-01 06:24] roll commented on #695
Hi @pwalsh,

Do I understand correctly that you and Adam will be working on the libs on behalf of While True Industries?  I just need to grant permissions to the libs and can use this entity as your team or can do it for you and Adam as individuals.

[2021-09-01 07:42] pwalsh commented on #695
Hey @roll

@akariv and I do data products and services as [whiletrue](https://github.com/whiletrue-industries), yes, but we both, especially Adam, do a bunch of other stuff as well with other entities. It can be as a team, but also as Adam and I are individual contributors to frictionless data in general maybe it makes sense to just add as both individually (as well)?

Whatever works for you and h

[2021-09-02 06:36] roll commented on #695
Hi @pwalsh @akariv,

I believe that all is set up now.

I would suggest that we use separate issues in the repos if something doesn't work e.g. I didn't grant access to some repo or we need to add you on PyPi etc

Thanks for supporting the FD libs!

[2021-09-06 10:38] #691 closed, assigned to nobody

[2021-09-06 10:38] sapetti9 opened #696 "Community Call on 30 September"
Our next 1h community call to chat about recent developments in Frictionless and data generally and next steps, involving our community members in the process!

Organizers: @lwinfree (OKF) & @sapetti9 (OKF)
Lead of the repo: @lwinfree (OKF)

Date: **30<sup>th</sup> September, 2 pm GMT**

## Agenda

Join us to hear presentation on Frictionless Data integration to the Dryad data upload from Cassiano

[2021-09-07 14:48] sapetti9 opened #697 "Frictionless Data Community Survey"
We are conducting a community survey to better understand our community, to reflect on its health and inform our decision making. It would be really helpful if you all took part in it. It should take about 5 minutes to complete the survey. We'd really appreciate your thoughts!

Survey is [here](https://docs.google.com/forms/d/e/1FAIpQLSepGNUdy1R26KjFT7XHSOhcwUiQHw6M8HXGAVgXLmJU-EWjLA/formResponse)

[2021-09-18 06:37] #695 closed, assigned to roll

[2021-10-07 18:55] augusto-herrmann opened #698 "Configure the Matrix <--> Discord bridge"
Users on the Frictionless Discord server can only see and communicate with other users on Discord. Users on the Frictionless Matrix Space can only see and communicate with other users on Matrix. Let's [bridge](https://matrix.org/bridges/) them together.

Following #690 I've created a Matrix Space for Frictionless:

https://matrix.to/#/#frictionless-data:matrix.org

Now we need to bridge the Discor

[2021-10-07 19:06] augusto-herrmann commented on #698
[This bridge bot](https://t2bot.io/discord/) seems good enough. It is the first one in the list. [Its code](https://github.com/Half-Shot/matrix-appservice-discord) is also on Github and open source, but let's just use the hosted version.

[2021-10-07 19:13] augusto-herrmann commented on #698
I have already invited it to the Matrix Space and it's already there. Now we need to follow through with steps 2-4 (instructions are [here](https://t2bot.io/discord/), and for that I need someone with access to the Discord server:

For step 4, just tell me the ServerID and I'll add it in Matrix. I'm not sure whether it's possible to bridge the entire Discord server to the Matrix Space, or if I'll

[2021-10-08 16:06] augusto-herrmann commented on #698
It works!

Anyone who would like to experiment is welcome to join the Matrix Space at:

https://matrix.to/#/#frictionless-data:matrix.org

For now, only the `#general` and `#Hackathon-general` are linked, but we should bridge the rest of them soon.

[2021-10-12 09:00] #697 closed, assigned to nobody

[2021-10-12 09:20] #696 closed, assigned to nobody

[2021-10-12 09:21] sapetti9 opened #699 "Community Call on 28 October"
Our next 1h community call to chat about recent developments in Frictionless and data generally and next steps, involving our community members in the process!

Organizers: @lwinfree (OKF) & @sapetti9 (OKF)
Lead of the repo: @lwinfree (OKF)

Date: **28<sup>th</sup> October, 3 pm CEST**

## Agenda

Join us to hear presentation on Frictionless Data for Open Data Blend by Michael Amadi.

RSVP to get

[2021-11-01 00:01] augusto-herrmann commented on #698
I think we're done with this. Yay! :tada: Thank you for doing this together, @lwinfree!

[2021-11-01 00:01] #698 closed, assigned to lwinfree

[2021-11-03 22:06] #699 closed, assigned to nobody

[2021-11-03 22:06] sapetti9 opened #701 "Community Call on 18 November"
Our next 1h community call to chat about recent developments in Frictionless and data generally and next steps, involving our community members in the process!

Organizers: @lwinfree (OKF) & @sapetti9 (OKF)
Lead of the repo: @lwinfree (OKF)

Date: **18<sup>th</sup> November, 3 pm CET**

## Agenda

Join us to hear presentation on Frictionless Data exchange format for camera trapping data by Peter D

[2021-11-12 11:02] sapetti9 opened #702 "Transition to new logo"
The use of the Frictionless logo(s) is still not 100% consistent across the different tools pages, with the old logo still being used here and there. Here's a recap of the current status (check when the new logo is used):

1. frictionlessdata.io
* [ ] Favicon
* [x] Main icon
2. Framework  
* [ ] Favicon
* [x] Main icon
3. Libraries 
* [ ] Favicon
* [x] Main icon
4. Components
* [ ] Favicon
* [ ] M

[2021-11-26 09:35] sapetti9 opened #703 "Community Call on 16 December"
Our next 1h community call to chat about recent developments in Frictionless and data generally and next steps, involving our community members in the process!

Organizers: @lwinfree (OKF) & @sapetti9 (OKF)
Lead of the repo: @lwinfree (OKF)

Date: **16<sup>th</sup> December, 3 pm CET**

## Agenda

Join us to hear Keith Hughit present some ideas around representing data processing flows as a DAG in

[2021-11-26 09:35] #701 closed, assigned to nobody

[2021-12-17 07:45] Evidlo commented on #698
Can this be linked on the website somewhere?  I wasn't aware there was a Matrix room until I saw the bridge bot on Discord.

[2021-12-17 15:18] augusto-herrmann commented on #698
Thanks for the heads up, @Evidlo ! I've now created an issue for it in the website repository.

[2021-12-31 11:29] roll opened #751 "Improve Github Projects integration"
# Overview

Currently, it's integrated using https://github.com/leonsteinhaeuser/project-beta-automations that require some workflows boilerplate to connect all the needed repos. Hopefully, Github Projects will evolve soon to improve the way of "inboxing" issues and other aspects

[2022-01-10 14:48] roll commented on #541
https://github.com/frictionlessdata/frictionless-js

[2022-01-10 14:48] #541 closed, assigned to nobody

[2022-01-10 14:49] roll commented on #681
We've ended up with Livemark pursuing this goal - https://livemark.frictionlessdata.io/

[2022-01-10 14:49] #681 closed, assigned to nobody

[2022-01-10 14:57] roll commented on #703
DONE

[2022-01-10 14:57] #703 closed, assigned to nobody

[2022-01-11 12:11] sapetti9 opened #709 "Community Call on January 27th"
Our next 1h community call to chat about recent developments in Frictionless and data generally and next steps, involving our community members in the process!

Organizers: @lwinfree (OKF) & @sapetti9 (OKF)
Lead of the repo: @lwinfree (OKF)

Date: **27<sup>th</sup> January, 3 pm CET**

## Agenda

Join us to hear Francisco Alves present DPCKAN - Data Package for CKAN, the winning project of the 202

[2022-02-07 15:19] #709 closed, assigned to sapetti9

[2022-02-07 17:22] sapetti9 opened #710 "Community call on February 24th"
Our next 1h community call to chat about recent developments in Frictionless and data generally and next steps, involving our community members in the process!

Organizers: @lwinfree (OKF) & @sapetti9 (OKF)
Lead of the repo: @lwinfree (OKF)

Date: **24<sup>th</sup> February, 5 pm CET**

## Agenda

TBD

RSVP to get the meeting link here: https://forms.gle/k7AsKKD2tu6rm8TR6

Social Media [@Frictionl

[2022-03-02 16:59] #710 closed, assigned to sapetti9

[2022-03-02 17:00] sapetti9 opened #714 "Community Call on March 31st"
Our next 1h community call to chat about recent developments in Frictionless and data generally and next steps, involving our community members in the process!

Organizers: @lwinfree (OKF) & @sapetti9 (OKF)
Lead of the repo: @lwinfree (OKF)

Date: **31<sup>st</sup> March, 3 pm CET**

## Agenda
Johan Richer from Multi will discuss with us his theory of _portal vs catalogue_  and will tell us about

[2022-03-21 09:41] roll opened #752 "Deprecate try.goodtables.io in favor of Frictionless Application"
Currently, it's blocked by the Application not being released yet but we can do so in a few months

[2022-03-21 09:42] roll opened #754 "Deprecate create.frictionlessdata.io in favor of Frictionless Application"
Currently, it's blocked by the Application not being released yet but we can do so in a few months

[2022-03-21 15:34] sapetti9 opened #716 "Moving the Frictionless community from Discord to Slack"
We are moving the Frictionless community chat from Discord to Slack (with a Matrix mirror).

Please join us: https://join.slack.com/t/frictionlessdata/shared_invite/zt-14x9bxnkm-2y~uQcmmrqarSP2kV39_Kg

## Tasks

* [x] Open Slack channel
* [ ] Import message history
* [x] Build Matrix bridge (@aivuk)

[2022-03-28 18:22] lwinfree commented on #537
DONE

[2022-03-28 18:22] #537 closed, assigned to lwinfree

[2022-03-28 18:23] lwinfree commented on #522
Closing as we've moved away from this design aesthetic

[2022-03-28 18:23] #522 closed, assigned to nobody

[2022-03-28 18:25] lwinfree commented on #538
@sapetti9 We haven't used the OKF sheet in a while...what do you think about re-vamping it?

[2022-03-28 18:27] lwinfree commented on #702
Noting that we're working with Lissett on this; it is currently blocked, but will be unblocked in April

[2022-03-28 18:32] lwinfree commented on #576
hi @roll do you think we can close this? has it been resolved in frictionless-py?

[2022-03-28 18:35] lwinfree commented on #609
closing as this isn't in the technical roadmap right now. Might be worth looking at in the future!

[2022-03-28 18:35] #609 closed, assigned to nobody

[2022-03-28 18:37] lwinfree commented on #544
Closing as we have discussed this & are not moving forward

[2022-03-28 18:37] #544 closed, assigned to nobody

[2022-03-28 18:42] lwinfree commented on #557
Hi @nirabpudasaini! I'm working on cleaning up the issues in this repo, and I'm wondering if there is an action you'd like to take here (or an action you'd like someone else to take?) Thanks!

[2022-03-28 18:43] lwinfree commented on #503
This looks fixed to me.

[2022-03-28 18:43] #503 closed, assigned to nobody

[2022-03-28 19:04] lwinfree commented on #493
Closing as we've gotten user feedback this in various ways since this issue was created (docs, tutorials, website, applications, survey)

[2022-03-28 19:04] #493 closed, assigned to monikappv

[2022-03-28 19:05] lwinfree commented on #485
I think the [software page](https://frictionlessdata.io/software/) on the site has achieved this goal.

[2022-03-28 19:05] #485 closed, assigned to nobody

[2022-03-28 19:08] #450 closed, assigned to nobody

[2022-03-28 19:10] lwinfree commented on #561
closing as this content is captured in various blogs (https://frictionlessdata.io/tag/pilot/)

[2022-03-28 19:10] #561 closed, assigned to nobody

[2022-03-28 19:13] lwinfree commented on #555
Closing as this is out-of-scope for the frictionless technical roadmap right now.

[2022-03-28 19:13] #555 closed, assigned to nobody

[2022-03-28 19:43] #610 closed, assigned to nobody

[2022-03-28 19:48] lwinfree commented on #553
Hi @aborruso! Apologies for just now responding to this! Does the `schema.to_json` option in Framework solve your issue (e.g. https://framework.frictionlessdata.io/docs/guides/describing-data#describing-a-schema)?

[2022-03-28 19:54] lwinfree opened #717 "Onboarding Shashi"
Welcome Shashi!

## To Do's
* [x] (Lilly) finish drafting onboarding doc
* [x] (Evgeny) Review technical roadmap
* [x] (Edgar) Review technical roadmap
* [x] (Adria) review all of the doc
* [x] (Shashi) read the onboarding doc
* [x] (Shashi) close this issue when you are done reading the onboarding doc

[2022-03-28 20:06] lwinfree opened #718 "Workshop at TU Delft"
## Abstract
This workshop training will teach researchers about reproducible data workflows, including how to make tabular data more FAIR and of higher quality. The lesson will be part-lecture, and mostly hands-on Python coding in a notebook, with technical helpers available to help. Participants will learn how to use the Python Frictionless Framework (https://framework.frictionlessdata.io/) to cr

[2022-03-28 20:07] lwinfree commented on #718
## To Do's
- [x] jupyter notebook
- [x] host helpers session
- [x] present at workshop
- [x] write blog post/comms about the event

[2022-03-28 20:23] aborruso commented on #553
My question is different: I do not want to convert the description file, but to have an output consistent with its description.

I have tested now using `extract` and it works. But I'm opening a new issue related to [this](https://github.com/frictionlessdata/project/discussions/715#discussioncomment-2412867=).

You can close this, thank you

[2022-03-28 20:34] aborruso commented on #553
The issue is this one frictionlessdata/frictionless-py#1009

[2022-03-28 20:45] #553 closed, assigned to lwinfree

[2022-03-29 06:47] #576 closed, assigned to roll

[2022-03-29 06:51] roll commented on #485
@lwinfree
Also, we might need some kind of public agreement for people moving their projects to FD. I think it can be a part of the government work.

[2022-03-29 07:10] roll commented on #557
I think it perfectly matches the "Ideas" section in Discussions

[2022-03-29 07:10] #557 closed, assigned to nobody

[2022-04-11 01:54] #717 closed, assigned to shashigharti

[2022-04-11 01:54] shashigharti commented on #717
Completed

[2022-04-11 18:44] lwinfree opened #723 "Suggestions for improvements from Shashi"
As @shashigharti gets onboarded with the Frictionless project, she is noticing some things that can be improved. Some of these are quick fixes, like missing link, and some are more intensive problems to solve (like creating a new tutorial). Shashi can use this issue as a place to keep track of suggestions/things that need to be fixed/things that could be improved. Some items on this list will be t

[2022-04-12 06:39] roll opened #759 "Upgrade website dependencies for better security"
# Overview

There is a few issues - https://github.com/frictionlessdata/website/security/dependabot

[2022-04-12 12:41] aivuk commented on #759
I did update most of what was possible, but the biggest problem now (the high level security issue) is that the security packages are dependencies from Vuepress. I did update Vuepress to the latest 1 major version, but looks like they fixed it only on Vuepress 2. The migration to Vuepress is not straightforward, specially because the plugin from vuepress 1 are not compatible and we are using 6 plu

[2022-04-12 12:47] roll commented on #759
Thanks @aivuk!

I'll move it to the backlog

[2022-04-13 09:47] shashigharti opened #879 "Typo in TEDDINET blog page"
**Typo**: posisbe, avialable in
**Blog Link**: https://frictionlessdata.io/blog/2017/12/19/dm4t/#creating-a-data-package-using-datapackage-pipelines

[2022-04-13 15:02] #714 closed, assigned to sapetti9

[2022-04-13 15:02] sapetti9 opened #725 "Community Call April 28th"
Our next 1h community call to chat about recent developments in Frictionless and data generally and next steps, involving our community members in the process!

Organizers: @lwinfree (OKF) & @sapetti9 (OKF)
Lead of the repo: @lwinfree (OKF)

Date: **28<sup>th</sup> April, 3 pm CEST**

## Agenda

Former Frictionless Fellow **Anne Lee Steele** will tell us about the Turing Way and open science best

[2022-04-15 13:00] roll commented on #716
@lwinfree
@sapetti9
@aivuk
If we still experience problems with Matrix bridge next week before the planning I would suggest creating a separate issue for it and putting it to "Priority" to get more info/duscussion before investing more time into it. Currently it blocks Edgar from other work

[2022-04-15 13:04] aivuk commented on #716
@roll I think it will be solved until next Monday. I just finished configuring the delegation and I was able to access the bridged rooms from different matrix servers and solved also the room permissions that we were having on it. The only missing thing that I'm working now is to use one puppet for all users that wants to use Matrix. Right now the puppet is working only for my user, making it poss

[2022-04-16 06:46] roll commented on #563
@lwinfree
Shall it be closed as we have the RFC system - https://github.com/frictionlessdata/project/tree/main/rfcs

[2022-04-18 06:26] rufuspollock commented on #563
FIXED. As @roll notes we have the RFCs and the process https://github.com/frictionlessdata/project/tree/main/rfcs

[2022-04-18 06:26] #563 closed, assigned to lwinfree

[2022-04-25 11:51] roll opened #880 "Specs v1 website shows "not found" in the search box if there are no results"
# Overview

Steps to reproduce:
- https://specs.frictionlessdata.io
- type "bad" in the search box
- [expected] "not found"
- [actual] nothing

[2022-04-29 10:27] aivuk commented on #716
Ok, we decided to host it on https://element.io/matrix-services and the service is in process to be acquired. But let me explain a brief description of what happened so far:

 1. First we decided to test the integration and I proposed to use my server at vaz.io.
 2. I registered the domain on my server matrix.vaz.io.
 3. Configure Matrix Synapse server there and configured the SSL certificates for

[2022-04-30 11:46] aivuk commented on #716
On Friday I signup for Element Cloud service and configured the Matrix server for OKFN. It is accessible on https://matrix.okfn.org and the Slack integration is finally configured. There were some problems with it, I was not able to add any room to the integration, even after configuring it:

![slack-integration-problem](https://user-images.githubusercontent.com/272892/166104016-4617a192-5433-4cb6

[2022-04-30 11:46] #716 closed, assigned to aivuk, sapetti9

[2022-05-02 08:41] roll commented on #716
Amazing! It's connected now :tada:

Great work @aivuk

[2022-05-02 13:28] roll opened #753 "Explore Rust's `datapackage_convert` library integration and sharing"
# Overview

It's very fast and provides a simple python bindings:
- https://github.com/kindly/datapackage_convert_py/
- https://github.com/kindly/datapackage_convert

[2022-05-02 15:18] sapetti9 opened #726 "Close old community chat"
As we moved the Frictionless Data community chat to Slack (with an operating Matrix bridge), we can now:

- [ ] Close the Discord community chat (@rufuspollock you are the owner of the server, so you probably need to do this)
- [ ] Close the Matrix mirror of the Discord chat (I expect this will happen automatically once the Discord chat that it mirrors is closed)

cc @lwinfree

[2022-05-03 14:07] augusto-herrmann commented on #726
@sapetti9 I don't think the Matrix mirror will close automatically. It is actually a fully-fledged Matrix Space, which is bridged by a bot. Closing Discord may probably throw an error or warning with the bot, but the Space would remain. I can close it when the time comes, because @aivuk has created a brand new Matrix Space and bridged it to Slack.

[2022-05-03 14:14] augusto-herrmann commented on #716
Awesome job @aivuk!

Thanks for getting it done.

[2022-05-03 14:20] augusto-herrmann commented on #718
Thats great, @lwinfree! How was the workshop?

[2022-05-03 14:35] sapetti9 commented on #726
Ah perfect, thanks for that @augusto-herrmann! I forgot to tag you in this issue, good catch! I'll let you know once the Discord is closed so that you can close the Matrix space then.

[2022-05-03 16:05] lwinfree commented on #718
Hi @augusto-herrmann ! It was good! The participants seemed engaged & like they learned! We'll be writing a blog summary in the coming weeks :-)

[2022-05-03 16:09] lwinfree commented on #718
(tagging @sapetti9 - I can start a blog draft when we are back from the F2F, and maybe you can help write/edit? 😄 )

[2022-05-05 17:08] #725 closed, assigned to sapetti9

[2022-05-05 17:09] sapetti9 opened #727 "Community call 26 May"
Our next 1h community call to chat about recent developments in Frictionless and data generally and next steps, involving our community members in the process!

Organizers: @lwinfree (OKF) & @sapetti9 (OKF)
Lead of the repo: @lwinfree (OKF)

Date: **26<sup>th</sup> May, 3 pm CEST**

## Agenda

We will discusss with **Nick Kellett** how to build citizen science and climate change solutions, using F

[2022-05-15 06:32] roll opened #877 "Support resource descriptor referencing in data packages?"
# Overview

https://frictionlessdata.slack.com/archives/C0362US1U3G/p1652096032617629

It's a user request to support resource referencing e.g.:

[code]

[2022-05-16 16:26] lwinfree commented on #723
I'm going to close this issue since we've decided to not use it.

[2022-05-16 16:26] #723 closed, assigned to shashigharti, lwinfree

[2022-05-16 16:31] lwinfree opened #728 "scope open climate data project"
...like FragDenStaat

Tasks
- [x] scope out goals
- [x] resources
- [x] timeline
- [ ] proposal
- [ ] budget
- [ ] MVP

[2022-05-18 11:12] ivbeg opened #881 "JSON lines / BSON and other non-flat data formats"
Hi! I am working on ETL and data platform with NoSQL as primary data formats. Most data is JSON lines, BSON and Parquet converted from XML, JSON and extracted from REST API.

I would like to add data package specification as one of ETL destinations. But I can't find how to add NoSQL schemas into data package. So our team re-created data packaing logic implemented for NoSQL. Here are examples of pa

[2022-05-18 14:51] lwinfree opened #729 "Migrate goodtables.io"
See https://github.com/okfn/devops/issues/308
(creating an issue here for planning purposes only - use the other issue for discussion)

[2022-05-24 08:15] roll opened #756 "Write a static data catalog proposal"
# Overview

Based on Livemark (see the discussion on Slack)

[2022-05-30 10:42] sapetti9 commented on #538
First draft created: https://forms.gle/hBJhpwY2TdPEFpc97

[2022-05-30 14:11] #538 closed, assigned to sapetti9

[2022-05-31 19:54] lwinfree commented on #718
DONE!

blog: https://frictionlessdata.io/blog/2022/05/24/_2022-0524-tu-delft-training/

[2022-05-31 19:54] #718 closed, assigned to lwinfree

[2022-05-31 20:01] lwinfree opened #730 "Host another Planet convo"
...With Lacuna fund and the OKF network.

To Do's
- [x] @sapetti9  + Lilly create agenda
- [x] S + L create event
- [x] S + L create invite list & invite people
- [x] write up notes post-event

[2022-05-31 20:01] lwinfree commented on #730
(just creating an issue for transparency; let's keep using our existing planning doc)

[2022-05-31 20:14] augusto-herrmann commented on #718
Awesome! Thanks for sharing, @lwinfree.

[2022-06-01 10:21] #727 closed, assigned to sapetti9

[2022-06-01 10:21] sapetti9 opened #731 "Community Call 30 June"
Our next 1h community call to chat about recent developments in Frictionless and data generally and next steps, involving our community members in the process!

Organizers: @lwinfree (OKF) & @sapetti9 (OKF)
Lead of the repo: @lwinfree (OKF)

Date: **30<sup>th</sup> June, 3 pm CEST**

## Agenda

Come and meet the 3rd cohort of Frictionless Fellows and know more about their reproducibility and open

[2022-06-13 19:19] lwinfree opened #733 "Create training docs for OKF"
- [x] overview session: [OKF internal slides](https://docs.google.com/presentation/d/1Wl8HU31FLXLHEVUtMhUMQ3UZPddWY1WEp4O31HIuWzM/edit?usp=sharing)
- [x] deep-dive

[2022-06-13 21:09] lwinfree commented on #728
closing & replacing this issue with several others to finish the remaining items

[2022-06-13 21:09] #728 closed, assigned to lwinfree

[2022-06-13 21:13] lwinfree commented on #728
putting new issues here: https://github.com/frictionlessdata/climate-request

[2022-06-19 07:02] roll opened #734 "Facilitate unit of measurement standardization"
https://frictionlessdata.slack.com/archives/C0369HZ2SLT/p1655534563876419

[2022-06-27 14:07] #733 closed, assigned to lwinfree

[2022-07-04 15:11] sapetti9 commented on #731
Related PR: https://github.com/frictionlessdata/website/pull/326

[2022-07-05 16:52] sapetti9 opened #735 "Community Call 28 July"
Our next 1h community call to chat about recent developments in Frictionless and data generally and next steps, involving our community members in the process!

Organizers: @lwinfree (OKF) & @sapetti9 (OKF)
Lead of the repo: @lwinfree (OKF)

Date: **28<sup>th</sup> July, 3 pm CEST**

## Agenda

This month we will hear about Flatterer, a new tool that helps convert JSON into tabular data, from Davi

[2022-07-05 16:52] #731 closed, assigned to sapetti9

[2022-07-06 08:09] rgaiacs commented on #754
Hi. I'm looking for a web GUI to declare a schema for tabular data. Something like https://create.frictionlessdata.io/ but focus in a single table only. Is this something that Frictionless Application will have?

[2022-07-06 08:11] roll commented on #754
Hi @rgaiacs, yes, it will be the main focus.

It's on our roadmap for Q3 - https://software.frictionlessdata.io/pages/roadmap.html

[2022-07-08 10:50] sapetti9 opened #737 "Write an abstract for the Useful Accessible Data series"
Write a 300 words abstract for the Useful Accessible Data series of Knowledge Futures Group (https://commonplace.knowledgefutures.org/series-21-useful-accessible-data).

They are particularly (but not only) interested in knowing more about the Frictionless Specifications (and how we've come about defining, setting, and re-evaluating them).

cc @lwinfree

[2022-07-11 08:41] ioggstream opened #883 "Full JSON Schema support and Table schema"
## I suggest

To plan a way to describe schema information in datapackage directly via JSON Schema, e.g. defining a specific profile in alternative to Tabular Data Package.

This should leverage JSON Schema libraries and simplifies the integration of frictionless in large data ecosystems (e.g. API and schema catalogs like https://www.schemastore.org/json/ )

## Notes

JSON Schema improved signific

[2022-07-12 12:37] ioggstream commented on #883
Related:

-  https://github.com/frictionlessdata/specs/issues/743

[2022-07-12 14:19] roll commented on #729
We also need a note on the old website

[2022-07-13 07:31] roll commented on #729
I'm cloding as DONE as we already have a devops issue for the following steps - https://github.com/okfn/devops/issues/310

[2022-07-13 07:31] #729 closed, assigned to aivuk

[2022-07-18 18:53] #730 closed, assigned to lwinfree, sapetti9

[2022-08-03 10:42] sapetti9 commented on #737
Done & sent.

[2022-08-03 10:42] #737 closed, assigned to roll, sapetti9

[2022-08-03 10:46] sapetti9 opened #741 "Draft article on Frictionless Data specs & project for the Useful Accessible Data series"
Following up on this issue: https://github.com/orgs/frictionlessdata/projects/16/views/25

We need to write a draft article for the Useful Accessible Data series of Knowledge Futures Group (https://commonplace.knowledgefutures.org/series-21-useful-accessible-data).

For reference, the abstract submitted: https://docs.google.com/document/d/18EqIqhaNjAB06sCy04Yn-Q1whbf3C44A5Bxj3-A5TG0/edit?usp=shari

[2022-08-03 14:31] sapetti9 commented on #735
Blog: https://github.com/frictionlessdata/website/pull/332

[2022-08-03 14:37] #735 closed, assigned to sapetti9

[2022-08-03 14:37] sapetti9 opened #742 "Community Call 25 August"
Our next 1h community call to chat about recent developments in Frictionless and data generally and next steps, involving our community members in the process!

Organizer: @sapetti9 (OKF)

Date: **25<sup>th</sup> August, 3 pm CEST**

## Agenda

This month we will hear from Frictionless Data developer Shashi Gharti, who will discuss with the community a tool she would like to add to the Frictionles

[2022-08-04 09:28] sapetti9 opened #758 "Cross-post Fellows blogs"
We should cross-post some of the cohort 3 fellows' blogs to https://frictionlessdata.io/blog/ to give them some visibility (we already did that for cohort 2).

[2022-08-23 12:42] Prakash-Pandey29 opened #750 "changed this to that"
changed this to that

_Originally posted by @Prakash-Pandey29 in https://github.com/frictionlessdata/project/issues/749#issuecomment-1223961820_

[2022-08-23 14:57] sapetti9 commented on #742
Little change announcement: at the community call this Thursday, Frictionless Data developer Shashi Gharti will focus on the Frictionless GitHub integration, to read and write data packages from/to GitHub repositories. See you all on Thursday!

[2022-08-25 13:06] #750 closed, assigned to nobody

[2022-08-30 13:16] sapetti9 commented on #742
Blog post: https://github.com/frictionlessdata/website/pull/336

[2022-08-30 13:26] sapetti9 opened #755 "NEW DATE - Community Call 27 October"
Our next 1h community call to chat about recent developments in Frictionless and data generally and next steps, involving our community members in the process!

Organizer: @sapetti9 (OKF)

Date: **27<sup>th</sup> October, 4 pm CEST**
**Please note this call is one hour later than usual.**

## Agenda

This month we will hear a presentation on the Frictionless - Zenodo integration from Frictionless

[2022-08-30 13:27] #742 closed, assigned to shashigharti, sapetti9

[2022-09-09 16:20] sapetti9 commented on #741
Draft article sent: https://docs.google.com/document/d/18EqIqhaNjAB06sCy04Yn-Q1whbf3C44A5Bxj3-A5TG0/edit?usp=sharing, waiting for feedback.

[2022-09-12 13:55] roll opened #757 "Make the main site design cohesive"
# Overview

Curently, we have differently styled parts for example the logo vs the projects pictures etc. It needs to be reviewed by a visual designer.

Also, we mighe need to add new favicons to the Frictionless Projects.

# Ideas

- make `blue` as a primary color instead of `read` (see analysis in frictionlessdata/website#209)?

[2022-09-20 15:04] sapetti9 commented on #758
Linked PR: https://github.com/frictionlessdata/frictionlessdata.io/pull/770

[2022-09-22 14:49] sapetti9 commented on #758
Other linked PR: https://github.com/frictionlessdata/frictionlessdata.io/pull/771

[2022-09-26 09:49] sapetti9 commented on #755
WARNING! This community call is canceled. The presentation of the Frictionless Framework v5 is moved to October 27th, at 4pm CEST.

[2022-09-27 12:48] #758 closed, assigned to sapetti9

[2022-10-20 11:24] sapetti9 commented on #741
Final version sent. I am keeping this issue open just in case we receive additional feedback from the editor, but no further action is required here. Will close it when the article is published.

[2022-10-20 11:26] sapetti9 commented on #755
Update: the presentation of the Framework v5 is postponed. At the October community call we will hear about the Zenodo integration.

[2022-10-20 11:29] sapetti9 commented on #741
New polished version of the submitted article available here: https://docs.google.com/document/d/1geT2b21vHxWpUOYUYqao7hKU49M9bl_kMSySCRzhaRY/edit?usp=sharing

[2022-10-20 15:30] sapetti9 commented on #741
Published: https://commonplace.knowledgefutures.org/pub/8x7oeawa/release/1

[2022-10-20 15:31] #741 closed, assigned to roll, sapetti9

[2022-11-01 13:29] sapetti9 opened #772 "Community Call 1 December"
Our next 1h community call to chat about recent developments in Frictionless and data generally and next steps, involving our community members in the process!

Organizer: @sapetti9 (OKF)

Date: **1<sup>st</sup> December, 4 pm CEST**
**Please note this call is one hour later than usual.**

## Agenda

This month's presentation is TBC.

RSVP to get the meeting link here: https://forms.gle/k7AsKKD2tu

[2022-11-01 13:30] #755 closed, assigned to shashigharti, sapetti9

[2022-11-10 14:48] ipimpat opened #774 "Bad developer experience when debugging custom checks"
# Bad developer experience when debugging custom checks.

If there is a code error/exception raised in a custom check, it would be nice if execution was stopped and the error was printed, because currently Frictionless seems to "eat" the error/exception details, making it very hard to debug.

Here is an example of the report returned by the validate function, when there is a code error in one of m

[2022-11-10 15:38] ipimpat commented on #774
Sorry just realized I posted this on the wrong issue tracker.

[2022-11-10 15:38] #774 closed, assigned to nobody

[2022-11-17 13:32] ioggstream opened #885 "Extension: using YAML streams or JSONL to aggregate multiple datapackage"
## Proposala

Using JSONL or YAML Streams it is possible to aggregate multiple datapackages in a single file.
Which is the right way to register this proposal as an extension of datapackage?

[2022-11-17 15:50] anuveyatsu commented on #885
@ioggstream hey, why not having a list of datapackages? Eg, `[{datapackage1}, {datapackage2}, ..., {datapackageN}]`

[2022-11-17 18:35] ioggstream commented on #885
I thought to a different data format to preserve the datapackage structure.

If we could define a datapackage extension based on JSON, I'd wrap datapackages in an object, something like:

[code]

So we can datapackages[id]