[2015-04-26 20:40] bluechi opened #175 "Display "last commit" date for each package"
Originally posted here
https://github.com/datasets/registry/issues/82

It would be helpful if the "last commit" date was displayed somewhere on the package view page and/or the main "Find Data Packages" page so that users can see when this package was last updated. Maybe even sort the packages according to the most recent commit.

[2016-04-24 22:35] Stephen-Gates opened #1 "Use a unique icon"
This site uses a copy of the open data handbook. It should use a unique icon.
I'm not sure if this icon from http://data.okfn.org/data is appropriate

![icon-128](https://cloud.githubusercontent.com/assets/9379524/14770961/8de80de2-0ac0-11e6-8fae-3afc9a85bbc3.png)

[2016-04-25 07:55] danfowler commented on #1
Thanks for raising!  We're working on a new logo for Frictionless Data.

[2016-04-28 09:00] rufuspollock opened #2 "[meta] Information Architecture and Overall Plan"
Planning issue for describing the overall information architecture of Frictionless Data Site(s)

_Note: use "fd[.io]" as shorthand for "frictionlessdata[.io]_
# Sites and subsites
- `fd.io/`  - main site, most information lives here. Detailed description below.
- `specs.fd.io` - specifications site - see https://github.com/frictionlessdata/ideas/issues/242
- `profiles.fd.io` - profiles registry
-

[2016-04-28 09:37] rgrp opened #3 "Sprint 25 April - 2nd May 2016"
Read Information Architect overview first: #2

# Bigger Stuff

In approximate priority order:

* [x] `/doc/`- #4
 * [x] First tutorial - on Python (Dan) - https://github.com/frictionlessdata/ideas/issues/221
* [x] `/tools/` #5 Tools page: revert to the old approach
* [ ] `/user-stories/` #7
* [x] `/data-packages/`(currently `/standards/`) #9

Probably not this iteration:

* `/` - improvements to f

[2016-04-28 14:01] rgrp opened #4 "First pass on /doc/ section"
* [x] Import most of the /doc/ stuff from data.okfn.org - but put refactor structure to have directory approach e.g. `/doc/publish/tabular/` rather than `/doc/publish-tabular/`
* [ ] <del>Fix up the bootstrap row stuff in /doc/ ...</del> now in #10
* [x] Merge guides with doc stuff

[2016-04-28 15:00] rgrp opened #5 "/tools/ page"
* [x] Migrate current data.okfn.org/tools with minor refactoring
* [ ] <del>Short summary about why tools are essential</del> (?)
* [x] Key online services that you an use (e.g. create, view, validate, validate data)
* [x] Guides - using Data Packages with ...
* [x] Tool catalog - long list. Need to add:
  * Language or Platform
  * Organisation

[2016-04-28 15:06] rgrp opened #6 "Python Data Package tutorial"
See: https://github.com/frictionlessdata/ideas/issues/221

[2016-04-28 15:06] rgrp opened #7 "User stories for Data Packages and their tools"
* [ ] Enrich
* [ ] Model it
* [ ] Validate data ( data continuous integration)
* ...

[2016-04-29 09:29] rgrp opened #8 "Diagram ideas"
Main item for this https://github.com/frictionlessdata/ideas/issues/235

Here is very specific new stuff for this site.

## "Lego bricks"

For describing how specs or tools fit together e.g.

[code]

![image](https://cloud.githubusercontent.com/assets/180658/14912539/e6aff6a6-0df4-11e6-8201-0db5e3c24a80.png)

*From: https://coreos.com/*

[2016-04-29 10:35] rufuspollock opened #9 "/data-packages/"
- [x] move `/standards/` => `/data-packages/`
  - Why? Because all the standards / spec stuff **is** about data package and this is much conceptually accurate plus better link naming for SEO
- [ ] redo page to be like front page _but_ about data packages (??)
  - later we should replace the image and not reuse front page image
- [ ] Draw some decent diagrams - see #8 for diagram ideas
  - Current

[2016-04-29 17:13] rufuspollock opened #10 "Theme for v1"
- [ ] Really concerned about "invisibility" of side menu and lack of top menu
  - For handbook this style made sense as more book like but we will need a more normal top menu here I think.
- [ ] bootstrap "boxes" stuff for e.g. /tools/ and some of /guides/ - see old http://data.okfn.org/tools/ for example
  - support fancy buttons

[2016-04-29 17:16] #175 closed, assigned to nobody

[2016-04-29 17:37] rgrp opened #11 "Ideas for roadmap page"
_From @pwalsh on March 30, 2015 9:4_

Some ideas for the current roadmap page (a brain dump): http://data.okfn.org/roadmap

* Relationship between tools/specs/community on this page, and the Tools and Standards pages proper
    * Maybe need a new object type in Jekyll that describes standard <> tooling <> community, and this can be used across site
* Tooling would be useful to group by language, a

[2016-05-01 13:03] #6 closed

[2016-05-01 13:05] rgrp commented on #4
FIXED.

[2016-05-01 13:05] #4 closed

[2016-05-02 15:25] sirwart opened #15 "Rendering issue in Chrome"
The frictionlessdata tab in the top-right doesn't render correctly in Safari. I was able to fix it by disabling the transform property. I believe it's caused by the perspective transform overriding the zindex

<img width="1387" alt="screenshot 2016-05-02 17 18 21" src="https://cloud.githubusercontent.com/assets/830101/14958248/1ca6a95c-108a-11e6-8d7d-2aecf9320cb8.png">
<img width="1387" alt="scree

[2016-05-03 19:05] rgrp commented on #15
@sirwart is this Chrome or Safari - i thought Safari ...

[2016-05-03 23:00] sirwart commented on #15
Definitely Safari; I have no idea why I typed Chrome. Sorry!

[2016-05-04 19:50] rgrp commented on #15
@sirwart thanks and good catch.

@smth can you look at this. Also I note bugginess in the OK "badge" on e.g. http://goodtables.okfnlabs.org/ (part of "black" icon showing"):

![image](https://cloud.githubusercontent.com/assets/180658/15027102/d78e8540-1239-11e6-9222-fa02207be87c.png)

[2016-05-04 20:54] rgrp commented on #10
@smth can you take a look here?

Especially important is menu / navbar: we'd like to get standard "over the top" navbar with drop down menu items and lose the sidebar menu for this site.

/cc @jobarratt

[2016-05-04 20:56] rgrp commented on #9
Newer, nicer diagram done as part of slide deck for CSV Conf. Want to extract this and insert.

[2016-05-04 20:57] rgrp commented on #5
@danfowler if we could add the columns to the tools list and display that, this would be done 😄  - could you take that on (and estimate that).

[2016-05-04 21:08] rgrp commented on #8
FIXED / DUPLICATE of frictionlessdata/ideas#235 (also have done first pass - see ref in #9

[2016-05-04 21:08] #8 closed

[2016-05-04 21:09] rgrp commented on #11
WONTFIX. Closing as right now I'm not sure we have a roadmap page on site rather than just https://github.com/frictionlessdata/ideas. Can re-open if we decide we want it.

[2016-05-04 21:09] #11 closed

[2016-05-05 06:04] smth commented on #15
Thanks @sirwart This element is being updated shortly I believe. I shall make sure this is fixed in the next version.

@rgrp that second issue looks like it is caused by using new CSS but old logo. It could be fixed by replacing `//okfnlabs.org/ok-panel/assets/css/frontend.css` with `//cdn.rawgit.com/okfn/ok-panel/v1.0.0/assets/css/frontend.css`. The new logo is being rolled out as we speak though

[2016-05-05 06:13] smth commented on #10
I haven't had a chance to discuss this project yet, so it's difficult for me to know how best to resolve any issues at present. I would guess that using the handbook theme is a stopgap, and so we should/will  implement something more appropriate.

[2016-05-05 21:58] rgrp commented on #10
@smth @jobarratt indicated you had some capacity for this over the next couple of weeks and these relatively small items could go in it.

If there were a way to fix these relatively easily in this theme without too much tweaking then I would go that route rather than a full new design at this point.

[2016-05-05 22:00] rgrp commented on #15
@smth hmmm - generally it would be good practice *not* to require existing sites to make css changes on upgrade (we have a lot of them and going through all of them and changing css location is a pain). If we are changing the "image" but keeping its url could we not do the same with the css so it was a seamless upgrade for clients? (Or am i misunderstanding the issue)

[2016-05-06 05:57] smth commented on #15
It's the other way around in this case (and shouldn't have happened). But yes, going forward, it should be seamless.

[2016-05-06 06:34] smth commented on #10
Yes, I just need to catch up with @danfowler first.

[2016-05-06 11:41] rgrp commented on #7
DUPLICATE of https://github.com/frictionlessdata/ideas/issues/245

[2016-05-06 11:41] #7 closed

[2016-05-06 11:42] rgrp commented on #15
@smth is there a way to fix this so we don't have to go through all the sites and fix - i.e. could we still make a change to the current deploy of the panel?

[2016-05-06 12:24] smth commented on #15
Which fix are you referring to?
In either case, the decision has been made to move the files, so every site is being updated anyway.

[2016-05-06 13:06] rgrp commented on #15
@smth surely we are implementing redirects in our DNS system ;-) - so sites do *not* have to go an update?

[2016-05-06 13:24] smth commented on #15
You'll need to ask someone who is working on this, Paul or Lindsay. I would assume though that a redirect would have the same effect, serving to the latest version, and so fixing any issue you are seeing.

[2016-05-06 15:04] rgrp commented on #15
/cc @pwalsh

[2016-05-07 10:18] rgrp commented on #9
@roll can we not go about assigning people here - this should be part of the sprint planning we did yesterday. I am not assigned on this item. Please liase with me before we do assignments etc 😄

[2016-05-07 10:30] roll commented on #9
Oh, @rgrp, no problem. My mistake was to make this repo as base for all low-level tech stuff. Now l see it mess with your current methodolody so l will rebase waffle board to some of main tech repos like datapackage-py with` ideas and fd.io excluded so

[2016-05-07 11:20] roll commented on #9
@rgrp It's back to normal - https://waffle.io/frictionlessdata/frictionlessdata.io (also I've removed labels added by waffle). Sorry for the confusion.

[2016-05-08 11:27] pwalsh commented on #15
@rgrp there are a finite number of sites running the panel; updating to use the new assets is manageable, more explicit for those who come after us, and has less potential for unintended breakage, so I do not intend to start maintaining granular redirects for the various assets in the panel and elsewhere (it is not just a matter of a DNS redirect).

[2016-05-09 10:38] smth commented on #15
I have just pushed a change that will fix the logo issue, in the interim.

[2016-05-10 13:26] danfowler commented on #10
@rgrp I really agree with @smth that these items are strictly for a v2 of the site.

[2016-05-10 13:26] danfowler opened #18 "Improve theme"
I'm booting this issue as an ongoing place to discuss some goals for v2 of the theme.
- [ ] Really nice styling for HTML tables for the inevitable multitude of simple examples of tabular data.
- [ ] There will be a fair amount of code examples, so it would be nice to have a really nice styling for code snippets.
---
suggestions from #10 (also see coments):
- [ ] Really concerned about "invisibilit

[2016-05-12 09:19] amercader opened #19 "Feedback for Quick start in Python page"
@danfowler I think it provides a good overview, just some comments:

* Storage libraries names are wrong: `pip install jsontableschema_sql` -> `pip install jsontableschema-sql`. Same for BigQuery.

* Badly formatted link: `For more information on which fields are supported, see [the full Data Package standard][dp-spec].`

* I was surprised to see how the guide jumped straight from checking the met

[2016-05-12 09:22] danfowler commented on #5
@rgrp the tools catalog already has Language and Maintainer columns

[2016-05-12 09:35] rgrp commented on #5
FIXED.

@danfowler yes! I think i was starting a list but not sure what else I wanted other than e.g. "Platform" (e.g. "BigQuery"). I think we may want a separate column for that as that is what many users will care about. That said, right now, that can be a new issue or just left!

[2016-05-12 09:35] #5 closed

[2016-05-12 10:02] danfowler commented on #19
Thanks @amercader.  I didn't notice that the library names were autocorrecting themselves 👍. Fixed.

Really great suggestions.  I'll add a "Reading the data" section.  Given https://github.com/frictionlessdata/datapackage-py/issues/82, I'll probably do what @vitorbaptista does in the [README.md](https://github.com/frictionlessdata/datapackage-py/blob/master/README.md) and cast the values myself fo

[2016-05-12 10:09] amercader commented on #19
Yeah, BigQuery and RedShift don't sound like "Quick Start" to me :) Just mention there are other backends available and link to a separate page.

[2016-05-12 10:27] rgrp commented on #10
@smth @danfowler my concern is best being the enemy of the good ;-)

@smth could you please get us estimates (not when just "how much) on just doing navbar "fix" here vs work on Full v2 theme #18 (which is not yet full specified).

[2016-05-12 10:38] rgrp commented on #19
@amercader @danfowler for now I would just keep this all in one and i want to minimize refactoring and focus on getting content correct and all-in-one is easier. I also note that originally this guide was called "Using Data Packags in Python" which may have been a bit more accurate ;-)

[2016-05-13 12:53] danfowler opened #20 "Add iburadempa Python JTS tools to /tools/ page"
https://github.com/iburadempa/jts_erd/
https://github.com/iburadempa/pg_jts/

[2016-05-13 15:42] danfowler commented on #19
Added a Reading Data section based on @amercader suggestion: http://frictionlessdata.io/guides/using-data-packages-in-python/#reading-data

[2016-05-13 15:42] #19 closed

[2016-05-13 16:36] danfowler opened #21 "Add CSVLint to /tools/"
https://github.com/theodi/csvlint
https://github.com/theodi/csvlint.rb

[2016-05-17 08:37] rufuspollock opened #23 "IP policy and terms of use"
Handbook theme should link to IP policy as well as terms of use ... (and that should then be pulled through to here)

[2016-05-17 08:39] rgrp commented on #3
CLOSING as sprint over. Note IP Policy etc is #23 and user stories work is ongoing in https://github.com/frictionlessdata/ideas/issues/245

[2016-05-17 08:39] #3 closed

[2016-05-17 08:39] rgrp commented on #15
@smth this still does not look fixed to me in Safari - can you double check. It would be good to close this.

[2016-05-17 08:43] rgrp opened #24 "Recording "sources" for images in img directory and approach for images"
Some images in `img` directory have a source vector e.g. http://frictionlessdata.io/img/data-package.png and we should record this where possible.

Suggest we create README.md in `img` and add info on sources.

Other questions:

* Should we always cache a version of the image in `img` even where we could direct embed from google drawings?

/cc @danfowler for comments.

[2016-05-17 09:03] smth commented on #15
It hadn't been updated. This PR will fix it https://github.com/frictionlessdata/frictionlessdata.io/pull/25 (the previous fix was for your Goodtables issue).

[2016-05-18 10:22] #15 closed

[2016-05-24 09:56] #20 closed

[2016-05-24 09:56] #21 closed

[2016-05-24 13:49] danfowler commented on #24
@rgrp I'm more inclined to cache a given diagram image.  How often would they really be updated?  But sure, perhaps we can create a public Drive folder for these various source vectors.

[2016-05-24 16:42] rgrp commented on #24
@danfowler not sure i understood what your decision / choice was here. to cache or not to cache?

Also what about having the README which is the main suggestion?

[2016-05-25 09:55] danfowler opened #29 "Developer Guide should feature JTS Storage plugin as a contrib pathway"

[2016-07-20 17:21] danfowler opened #34 "Update Python examples to use dp.descriptor instead of dp.metadata"
In accordance with version [0.7.0](https://github.com/frictionlessdata/datapackage-py/releases/tag/v0.7.0) of `datapackage-py`.

[2016-08-05 15:48] danfowler opened #36 "Tag official tools and integrations as such"
There are official tools and integrations that partners support and they should be tagged as such.

[2016-08-08 16:31] roll commented on #1
FIXED

[2016-08-08 16:31] #1 closed

[2016-08-08 17:11] roll commented on #10
@danfowler
So we've finished with v1 and looking forward to https://github.com/frictionlessdata/frictionlessdata.io/issues/18?

[2016-08-08 17:29] danfowler opened #37 "New Section: How Do Data Packages Compare To..."
A typical question when explaining the concept of Data Packages to people who already have some familiarity with "containerization", "metadata", and schema languages is how Data Packages compare, especially when considering the work involved in supporting an *additional* standard.

A comparison table listing the features supported by different formats seems like a good place to point people.  In a

[2016-08-08 19:58] danfowler commented on #37
@sje30 hi Stephen, this particular task I've set for myself was inspired by your comments on HDF5.  Do you think there's anything worth adding here?

[2016-08-08 20:38] sje30 commented on #37
hi @danfowler this comparison list looks good, but the problem I find with comparison tables is that they tend to be seen (by me at least) as not objective unless done by an independent person/group.

What might also work is the "killer features" that you can highlight to convince people why to switch to yet anotherr technology.

(on a minor topic, are things like sql/xml worth comparing too?)

[2016-08-10 15:31] danfowler opened #39 "Tutorial: Manage and Publish Data Packages with Github or Gitlab or ..."
_From @rgrp on May 1, 2016 18:31_

* [ ] Git and Github (assume you are familiar)
* [ ] Pushing your data ...
* [ ] Benefits
  * [ ] Versioning
  * [ ] Diffs
  * [ ] Pull requests
* [ ] Continuous Data Integration
* [ ] Gotchas - github.com/xxx/yyy !=> github.com/xxx/yyy/datapackage.json etc ...

_Copied from original issue: frictionlessdata/project#233_

[2016-08-10 15:31] danfowler commented on #39
@rgrp: @phette23 wrote a big part of this already in a really excellent article in mid-2015:

http://acrl.ala.org/techconnect/post/a-forray-into-publishing-open-data-on-github?utm_source=twitterfeed&utm_medium=twitter

Keeping this issue open as we might want to revisit.

[2016-08-10 15:31] danfowler opened #40 "Tutorial: JSON Table Schema"
_From @rgrp on May 6, 2016 11:59_

Already have basics here: http://frictionlessdata.io/guides/json-table-schema

May want to add there or have separate mini-tutorials (if that is focused just on what JTS is ...)

Things to add:

* [x] Inferring the schema - tools
* [x] Use for validation
* [ ] Profiles / registry (if we have it)

_Copied from original issue: frictionlessdata/project#248_

[2016-08-10 15:32] danfowler opened #41 "Data Package Specifications Intro v2"
_From @rgrp on May 17, 2016 8:49_

Specifications page is now http://frictionlessdata.io/data-packages/

We need to spec out this page and then implement.

## Thoughts

* Better diagrams - see slides in [recent deck from CSVConf][csvconf]
  * [Tabular Data Package](https://docs.google.com/presentation/d/1RPArEutyKXbej1pn3wcqCevIxidE1Ced0rCbjqwELio/edit#slide=id.g12f89ceb45_0_16) - [extraction in p

[2016-08-10 15:32] danfowler opened #42 "Tutorial: How to write a Tutorial ..."
_From @rgrp on May 6, 2016 11:33_

* [ ] Layout and style
  * [ ] Examples to look at
* [ ] Bounties

Cf the #234 (developer guide)

See also https://www.digitalocean.com/community/get-paid-to-write

_Copied from original issue: frictionlessdata/project#247_

[2016-08-10 15:32] danfowler commented on #42
Not sure there's anything specific to Frictionless Data the way this issue is written, but the original intention as I recall was to provide a way to onboard people wanting to contribute to the project.

Users with a basic familiarity of Data Packages could contribute tutorials in their language or platform of choice.

This is fine idea but seems somewhat low priority at this point.  It will ultim

[2016-08-10 15:32] danfowler opened #43 "[super] Use Cases and User Story Epics"
_From @danfowler on May 6, 2016 11:9_

Epics:

* [ ] Validate the data - #251
* [ ] Describe the data - describe the columns, provide general metadata - #254
* [ ] Import the data (into my tool)
* [ ] Share the data
 * [ ] Email
 * [ ] Post online
 * [ ] Publish to Wordpress, Google Drive etc

---

* [ ] Enrich / Merge data (join two datasets together on a single field)
* [ ] Present the data (on

[2016-08-10 15:32] danfowler opened #44 "[meta] Diagram Ideas - Library Architecture, Spec Relationships etc"
_From @rgrp on May 2, 2016 8:58_

* [ ] Data management pipeline and relationship to Frictionless Data tooling
* [ ] User story overview and relation to components
* [ ] Data Package Tool Stack

## High level user story + components view

https://docs.google.com/drawings/d/1uZhzgc43j8tQuN3MD5IoRdKUT192fvjDefNq85HtSU4/edit

<img src="https://docs.google.com/drawings/d/1uZhzgc43j8tQuN3MD5IoRdKUT192f

[2016-08-10 15:32] danfowler opened #45 "Improve Developer Guide - how to contribute to tools and specs"
_From @rgrp on May 2, 2016 8:31_

* [ ] Tools
 * [x] General architecture - what components are there to a full "Data Package" stack
 * [x] Pointers to specific languages e.g. Python, R, ...
 * [x] How to start on a platform integration (what type of platform: publishing, consuming etc)
* [ ] Specs
 * [x] Where to find the main specs
 * [ ] Where to raise issues
* [ ] Test suite

_Copied from orig

[2016-08-10 15:32] danfowler opened #46 "Tutorial: Create or Edit a DataPackage.json by hand"
_From @rgrp on April 30, 2016 20:12_

Supports: "Creating a Data Package" workflow #229

* [ ] Assume you have your data
* [ ] What is JSON
* [ ] Structure of a `datapackage.json` - see the guides, specs etc
* [ ] Tools to support you (online validators, dpm etc)

_Copied from original issue: frictionlessdata/project#230_

[2016-08-10 15:33] danfowler opened #47 "Tutorial: Import Data Package into SQL database"
_From @danfowler on April 30, 2016 11:20_

This can be really simple and largely point into other tutorials e.g.
- [x] About Tabular Data Package ...
- [x] Python option with python lib #221
- [ ] "Raw" options - example python scripts showing how simple this is (inline with gist-it)
- [ ] datapak examples (?)

_Copied from original issue: frictionlessdata/project#227_

[2016-08-10 15:33] danfowler opened #48 "[super] Continuous Data Integration workflows around Data Packages"
_From @rgrp on October 12, 2015 17:17_

For a long time we've discussed "continuous data integration" and doing this with Data Packages. This is a discussion space for these ideas.
## What do we mean by "Continuous Data Integration"?

Continuous Integration with code means automated running of tests (and sometimes deployments) whenever new code is pushed.

For data, this would mean automatically v

[2016-08-10 15:33] danfowler commented on #48
_From @rgrp on May 1, 2016 16:44_

Working here: https://github.com/frictionlessdata/ex-continuous-data-integration

[2016-08-10 15:33] danfowler commented on #48
_From @rgrp on May 1, 2016 18:23_

Working pretty well.

[2016-08-10 15:33] danfowler opened #49 "Make a "1-2-3" or "Hello World" of how to publish a data package"
_From @bnvk on May 10, 2015 15:48_

Starting at [this page](http://data.okfn.org/doc/publish) it starts jumping into implementation details (tabular, geospatial...) kind of quickly without offering users a "quick" way to get involved immediately while in the process of understanding what they're doing bigger picture

_Copied from original issue: frictionlessdata/project#182_

[2016-08-10 15:33] danfowler commented on #49
_From @rgrp on May 11, 2015 8:32_

Great suggestion! Please keep them coming.

[2016-08-10 15:33] danfowler commented on #49
_From @gsilvapt on May 5, 2016 23:35_

The documentation for this will be written under https://github.com/okfn/handbook/issues/88

[2016-08-10 15:33] danfowler commented on #49
_From @rgrp on May 6, 2016 11:49_

@gsilvapt this documentation will go on http://frictionlessdata.io/ not on the handbook. In general, *no* issues from this repo will go into the handbook (the handbook can reference frictionlessdata.io).

[2016-08-10 15:33] danfowler commented on #49
_From @gsilvapt on May 7, 2016 18:10_

@rgrp Okay, I got it then. Should I "unreference" the issues I recently linked? Or should I leave it?

[2016-08-10 15:33] danfowler commented on #49
_From @rgrp on May 8, 2016 14:36_

@gsilvapt just leave it.

[2016-08-10 15:34] danfowler opened #50 "Interactive datapackage.json illustrator"
_From @rgrp on January 12, 2014 12:17_

a la http://package.json.nodejitsu.com/

_Copied from original issue: frictionlessdata/project#94_

[2016-08-10 15:34] danfowler opened #51 "[super] Publishing data tutorials / patterns"
_From @rgrp on December 1, 2013 20:28_

* [x] general instructions - http://data.okfn.org/publish
* [x] tabular data #87 - http://data.okfn.org/doc/publish-tabular
* [ ] geo data #90 - http://data.okfn.org/doc/publish-geo
* [x] any kinds of data #123 - http://data.okfn.org/doc/publish-any

Common:

* [x] Putting your data packages online - http://data.okfn.org/doc/publish-online
* [ ] Creating Dat

[2016-08-10 15:34] danfowler commented on #51
_From @rgrp on February 8, 2014 10:2_

@tlevine if you have done any data packaging please feedback here re improvements in process and instructions (current tabular tutorial is up at http://data.okfn.org/publish and could no doubt be improved). geo tutorial is in progress ...

[2016-08-10 15:34] danfowler commented on #51
_From @rgrp on August 17, 2014 13:50_

@peterdesmet this is the main issue on the publishing documentation side that i'm working through

@jalbertbowden any feedback you have based on your experience warmly welcomed here.

[2016-08-10 15:34] danfowler commented on #51
_From @rgrp on August 17, 2014 14:17_

Terminology question: should it be "publish" or "package" data tutorials etc (publish to me in this context = package up then put online).

[2016-08-10 15:34] danfowler commented on #51
_From @tlevine on August 18, 2014 9:4_

I only just noticed this somehow. The main feedbacks are that

1. I'd like a thing that writes the package for, akin to `npm init`.
2. The data package specification should allow nested CSV files. I [did it anyway](http://thomaslevine.com/dada/open-data-500-data-package/), but I recall that this was improper.

[2016-08-10 15:34] danfowler commented on #51
_From @rgrp on August 18, 2014 9:9_

@tlevine great feedback

- `npm init` already exists its `dpm init` - see https://github.com/okfn/dpm#initialize-create-a-data-package. Perhaps we should mention this better in the tutorial ... (dpm is linked from the tools page but ...)

- not quite sure what you mean by nested csv - could you explain a bit more (link to previews of csv via datapipes very help

[2016-08-10 15:34] danfowler commented on #51
_From @tlevine on August 18, 2014 9:29_

It was a while ago that I did this, so it's possible the tutorial was different then.

By "nested" CSV, I mean CSV with a column of type CSV.

[2016-08-10 15:34] danfowler commented on #51
_From @rgrp on August 18, 2014 9:38_

@tlevine ah ok - so this is like the existing thing of columns of type json ...

Please keep the feedback coming - really useful!

[2016-08-10 15:34] danfowler commented on #51
_From @jalbertbowden on August 20, 2014 18:49_

i'm going to catch up on all of this...but off the top of my head, now that dat is in alpha, i think we should all start dabbling with it and provide feedback

[2016-08-10 15:34] danfowler commented on #51
_From @rgrp on May 6, 2016 11:3_

Is this now a DUPLICATE of #182?

[2016-08-10 15:35] danfowler opened #52 "tutorial on publishing geodata as a data package"
_From @rgrp on November 24, 2013 17:40_

Basics are easy here.

Real question is whether there is a recommendation on data types. Main options afaict:

* geojson (+ topojson)
* shapefiles
* csv (with lon / lat columns or similar ...)
* spatialite / sqlite style

_Copied from original issue: frictionlessdata/project#90_

[2016-08-10 15:35] danfowler commented on #52
_From @rgrp on June 8, 2014 14:11_

@peterdesmet have a question here that i'd welcome your input on. In preparing the tutorial should we say:

* You can publish any type of geodata as a data package (which is true in that you can have any type of data in a data package)
* Focus on defining / pushing a "Geo" Data Package where the data is only of one (or a  few) types e.g. geojson (and possibly ge

[2016-08-10 15:35] danfowler commented on #52
_From @peterdesmet on June 10, 2014 15:12_

I would choose the latter (few types) for several reasons:

* The geo data package should be similar to the tabular data format, i.e. a specific kind of data package, which focuses on one (or more) specific types or use cases.
* The advantage of focusing on one type is that it keeps things simple (including documentation), which is a strong suit of data

[2016-08-10 15:35] danfowler commented on #52
_From @rgrp on August 14, 2014 8:56_

@peterdesmet I agree about few types (and only one perhaps). I've even start some work in this direction (focus on geojson maybe in first instance). Would welcome your help!

[2016-08-10 15:35] danfowler commented on #52
_From @peterdesmet on August 14, 2014 15:49_

@rgrp where does this documentation/tutorial live ([here](http://data.okfn.org/doc/publish-geodata)?). What should the documentation/tutorial include (do you have an existing example)?

[2016-08-10 15:35] danfowler commented on #52
_From @rgrp on August 14, 2014 15:56_

@peterdesmet that's where it lives http://data.okfn.org/doc/publish-geo

Re what it could look like we could follow http://data.okfn.org/publish (i don't think it matters than we repeat stuff).

[2016-08-10 15:35] danfowler commented on #52
_From @rgrp on October 16, 2014 10:3_

@peterdesmet any thoughts on what we could / should improve here: http://data.okfn.org/doc/publish-geo ?

[2016-08-10 15:35] danfowler commented on #52
_From @peterdesmet on November 11, 2014 19:12_

@rgrp Sorry, caught up in a lot of work the last few months. Will take some time until I can get back to this.

[2016-08-10 15:35] danfowler commented on #52
_From @rgrp on February 16, 2015 8:44_

@peterdesmet any more time?

[2016-08-10 15:35] danfowler opened #53 "Example - House prices regressed on long interest rate and GDP (and population)"
_From @rgrp on April 6, 2013 15:40_
- R example
- (Maybe we do in other languages too later ...)

_What does it demonstrate: quickly getting data and using it together_
## Required data
- [x] House price data - http://data.okfn.org/data/house-prices-uk
- [x] UK Long interest rate - http://data.okfn.org/data/bond-yields-uk-10y
- [x] UK GDP - http://data.okfn.org/data/gdp-uk

Do we need this quarter

[2016-08-10 15:35] danfowler commented on #53
_From @rgrp on April 7, 2013 14:22_

@mk270 ok all the data is there. Let me know how this is going :-)

[2016-08-10 15:35] danfowler commented on #53
_From @rgrp on July 7, 2013 16:57_

Not a regression but a nice example of merging two inflation + house prices using data packages: http://explorer.okfnlabs.org/#rgrp/e3e0b0f18dfe151f9f7e + post http://okfnlabs.org/blog/2013/03/18/progress-with-data-explorer.html

[2016-08-10 15:35] danfowler opened #54 "Example - Publish Data Package from Google Spreadsheet"
_From @rgrp on April 6, 2013 15:39_

More of a blog post than something on the site (publish on e.g. okfnlabs.org). Think this is pretty useful.

Walk through of turning a google spreadsheet into a data package

- publish to the web
- get public CSV url for relevant sheet
- create datapackage.json (cf #28) and publish it somewhere
 - this is an important one - should we make this part of data.okfn

[2016-08-10 15:38] danfowler opened #55 "[super] Tutorial: CSV + ..."
_From @rgrp on May 18, 2016 11:1_

* [ ] Validating CSV - maybe covered by #240
* [ ] A Schema for CSV -> JSON Table Schema
  * [ ] Inferring it automatically
* [ ] Piping CSV between tools ...

_Copied from original issue: frictionlessdata/project#256_

[2016-08-10 15:38] danfowler commented on #55
@rgrp "A Schema for CSV -> JSON Table Schema + Inferring it automatically" covered here:

http://frictionlessdata.io/guides/creating-tabular-data-packages-in-python/#inferring-a-csv-schema

[2016-08-10 15:38] danfowler opened #56 "Move data.okfn.org/tools/* to frictionlessdata.io"
_From @rgrp on June 17, 2016 11:46_

Split out from #206
- [ ] Move data.okfn.org/tools/view to viewer.frictionlessdata.io
  - [ ] implement redirect
- [ ] Move data.okfn.org/tools/validate to validate.frictionlessdata.io
  - [ ] implement redirect
- [ ] Redirect data.okfn.org/tools -> fd.io/tools
- [ ] Redirect data.okfn.org/create -> datapackagist.okfnlabs.org

_Copied from original issue: frict

[2016-08-10 15:38] danfowler commented on #56
per @pwalsh datapackagist.okfnlabs.org is best positioned to replace old validator

[2016-08-10 15:41] danfowler opened #57 "Tutorial: Making your own custom Data Package creator and importer"
_From @danfowler on May 1, 2016 9:18_

As a **Data Manager** I want my data publishers to create data packages for me according to a specific metadata and/or data schema so that the data I get is high quality and consistent.

As a **Data Manager** I want to customize/build my own data package creator like datapackagist so that I can support the previous user story.

_Copied from original issue: fr

[2016-08-10 15:42] danfowler opened #58 "[super] Workflow for Creating a Data Package"
_From @rgrp on April 30, 2016 20:10_

Overview of workflow for creating a Data Package (and associated tools and tutorials)

Rough flowchart:

* Type of data - Tabular / Geo / Any
* Are you using a library or tool or are you doing by hand
  * ? Python / R / ... =>
  * Doing it by hand => ...

**This could start as a simple diagram ...** - would go on `/guides/publish/` page

_Copied from original

[2016-08-10 15:42] danfowler opened #59 "Tutorial: Where do I get Data Packages?"
_From @danfowler on April 30, 2016 11:31_

- [ ] Link to http://data.okfn.org/data
- [ ] https://data.gov.uk/blog/data-packages-bulk-downloads

_Copied from original issue: frictionlessdata/project#228_

[2016-08-10 15:42] danfowler opened #60 "Tutorial: Sharing and Publishing your data packages"
_From @danfowler on April 30, 2016 11:20_

- [ ] point to tutorials on creation

_Copied from original issue: frictionlessdata/project#226_

[2016-08-10 15:42] danfowler opened #61 "Tutorial: How do I create rich schemas for my data?"
_From @danfowler on April 30, 2016 11:17_

AKA: introduction to Data Package profiles

Focus on tabular data. Would have to hand-create JTS as there is currently no user interface.  Link to tutorial on validating tabular data.

_Copied from original issue: frictionlessdata/project#225_

[2016-08-10 15:43] danfowler opened #62 "Tutorial: How do I create a simple JSON Table Schema for my CSV?"
_From @danfowler on April 30, 2016 11:11_

- [ ] http://datapackagist.okfnlabs.org/

_Copied from original issue: frictionlessdata/project#224_

[2016-08-10 16:29] jobarratt commented on #42
Agreed this can be closed

[2016-08-10 16:34] #42 closed

[2016-08-16 20:17] Mygee opened #65 "HTML errors..."
![image](https://cloud.githubusercontent.com/assets/14092586/17714231/940f25f2-6407-11e6-8bdb-c29f8825f032.png)

[2016-08-17 11:09] danfowler commented on #37
Thanks @sje30 yeah, I understand.  I thinking less about marketing and more in terms of actually *explaining* the thing.  For instance, I'll be talking to people who know HDF intimately (https://github.com/frictionlessdata/project/issues/290) soon and it would be good to the best way to describe the way these formats relate.

I've added to these to the issue.  Thanks!

[2016-08-17 11:55] danfowler opened #66 "Publish Frictionless Data one pager"

[2016-08-17 12:00] danfowler opened #67 "Presentation: SciDataCon: Towards a Frictionless Data Future [International Data Week]"
- [x] Introduction to Open Knowledge International
- [x] Introduction to Frictionless Data and Data Packages
  - [x] In-depth intro to JSON Table Schema
    - [x] Highlight `missingValue`, `constraints`, `enum` (as controlled vocab)
- [x] Current Libraries/Integrations
  - [x] Python Pandas
  - [x] R
  - [x] CKAN
- [x] Current Partners
  - [x] Dataship
  - [x] DM4T
  - [x] rOpenSci
  - [x] WPRDC
-

[2016-08-17 12:00] danfowler opened #68 "Presentation: Frictionless Data Introduction [International Data Week]"

[2016-08-18 09:19] danfowler opened #69 "Add WPRDC to Partners page"

[2016-08-18 09:35] danfowler opened #70 "Add Dataship to Partners page"

[2016-08-19 08:06] danfowler opened #71 "Refactor /tools"
A small refactor could make this page a lot more readable.  Regardless of when we do a full redesign, I want to do this @jobarratt before/when we launch Tool Fund, as it would be good to have this in better shape so that people don't get confused about what is and isn't currently out there.  This could serve as inspiration: https://www.quandl.com/tools/full-list

~~- [ ] Move the CSV to a Jekyll c

[2016-08-19 14:53] jobarratt opened #72 "Add University of Cambridge logo to Partners page"
In the usual doc

[2016-08-19 14:55] jobarratt opened #73 "Add University of Pittsburgh Center for Urban and Social Research to partners page"
@danfowler please review and add to the site. All info in the doc.

[2016-08-19 14:56] danfowler commented on #72
@jobarratt I considered this and hesitated because of language on Cambridge site: https://www.cam.ac.uk/brand-resources/about-the-logo

[2016-08-19 14:58] danfowler commented on #73
Different from https://github.com/frictionlessdata/frictionlessdata.io/issues/69 ?

[2016-08-20 17:55] rgrp opened #74 "Principles page"
Old data.okfn.org listed a set of principles behind our approach. Useful to have these somewhere - perhaps on the "about" page or even on `/principles/`.

Useful to have up as i want to point people to them ;-)

Here's the old data.okfn.org front page (principles are half-way down): http://web.archive.org/web/20160422020739/http://data.okfn.org/

[2016-08-23 13:37] jobarratt opened #75 "Create copy for University of Bath University case study"
Dan as you are more or less leading on this one please can you create a short intro copy for the Partners page. Publish first and then check. Fine if brief.

Logo:
![unknown](https://cloud.githubusercontent.com/assets/8183744/17893802/4aa8bd2a-6947-11e6-9ef9-596a16bc7fbc.png)

[2016-08-24 19:47] enyst opened #76 "Wrong locations for tools"
The file /guides/publish/faq/index.md, section Validate and preview your Data Package, refers to two tools and links to them, but the links lead nowhere at this time.

The tool referred by the second link is probably now this one:
http://data.okfn.org/tools/view

I'm not sure where is the first tool,  perhaps it's easy to spot but I'm on mobile.

[2016-08-24 20:30] danfowler commented on #76
Hi thanks for pointing this out! /tools/ is due for a bit of an overhaul.  I can make the fixes 👍 .

[2016-08-25 20:31] danfowler commented on #73
Duplicate of #69

[2016-08-25 20:31] #73 closed

[2016-08-25 20:47] #69 closed

[2016-08-25 21:51] danfowler commented on #71
@roll @smth @jobarratt @pwalsh I came across this which could serve as inspiration: https://www.quandl.com/tools/full-list

[2016-08-25 22:34] danfowler opened #78 "Add section and system for user-contributed "patterns" (part of /guides/)"
- Include template
  - What problem is pattern attempting to address?
  - What version of Data Package specifications does this pattern work for?
  - Why is this a "pattern" and not part of the spec?
  - Examples
- Probably uses Jekyll "Collections": https://jekyllrb.com/docs/collections/

e.g. https://github.com/frictionlessdata/specs/issues/281#issuecomment-241326658

[2016-08-26 11:44] rgrp commented on #78
Could also go on specs site maybe ...

[2016-08-26 12:37] danfowler commented on #78
Yeah, I debated whether to post it here or there, but decided on here to draw some difference between official specs and patterns of use.

[2016-08-26 16:17] danfowler commented on #37
Related: https://discuss.okfn.org/t/w3c-csv-for-the-web-how-does-it-relate-to-data-packages/1715

[2016-08-29 21:27] #34 closed

[2016-08-29 22:32] danfowler commented on #67
First draft here: https://docs.google.com/presentation/d/1thmb3N2s_TD-UxugZTC26yXzxP-miS9r2QMI2E9DFJM/edit#slide=id.g117ba4d75f_0_1

Will most likely amend closer to date.

@jobarratt

[2016-08-29 22:34] danfowler commented on #70
Looking for higher resolution logo here.

[2016-08-30 11:24] jobarratt opened #82 "ODI to Parners page"
Content is ready, this is now ok to add to the page.

[2016-08-30 11:27] jobarratt opened #83 "Pacific Northwest National Laboratory to Partners Page"
Add to the partners page. Content is already in the doc.

[2016-08-30 18:18] #70 closed

[2016-08-30 18:18] #82 closed

[2016-08-30 18:18] #83 closed

[2016-09-03 15:38] sje30 commented on #37
Another data format to think about - its quite new, but mentions one thing that is a concern, performance.  https://blog.rstudio.org/2016/03/29/feather/

[2016-09-04 02:53] danfowler commented on #37
Thanks @sje30 I have included it above among the serialization formats!

[2016-09-05 04:10] Stephen-Gates commented on #76
I think the links should be:

- http://frictionlessdata.io/tools/#validate
- http://frictionlessdata.io/tools/#view

Current links are missing the #

[2016-09-05 11:21] jobarratt commented on #72
I would be inclined to go ahead here. These guidelines are for print in any case, and the logo is correct.

[2016-09-06 14:19] #75 closed

[2016-09-08 16:02] joehand commented on #59
👍 on linking to http://data.okfn.org/data (and very visibly if possible). I had created one of the core data packages awhile ago and was reminding myself about the spec - trying to find examples of data packages. It took a long time for me to remember and find where those examples and datasets were.

[2016-09-08 16:18] danfowler commented on #59
@joehand great feedback, thanks!  Out of curiosity, which core dataset did you create?

[2016-09-08 16:34] joehand commented on #59
@danfowler I made the Nasdaq and NYSE datasets. Wanted to see how hard it was to make something with the spec =).

I'll be at the international data week next week. Will definitely catch the events related to frictionless data there!

[2016-09-08 17:55] danfowler opened #85 "Presentation: Lightning Talk, Continuous Data Validation in Scientific Research"
@jobarratt Let's start with the CSVConf presentation as a basis for this.

https://docs.google.com/presentation/d/1KptnQcz-qvh4ZLGJkPk73s1S755cnuavsMNpwC5IKv8/edit#slide=id.g344642f18_18

Rufus's talk from last year: https://www.youtube.com/watch?v=NWTrmFUchA4

*Talks must be no longer than 7 minutes in length.*

[2016-09-09 17:45] danfowler opened #86 "Invert order of /get-involved/ page"
Newsletter at top, description at bottom.

Why: Newsletter is currently below the fold and is probably the least impact way of "getting involved".

[2016-09-09 19:48] #72 closed

[2016-09-29 16:57] danfowler opened #88 "Shorter newsletter link"
http://frictionlessdata.io/newsletter/ could redirect to the Get Involved page.

[2016-09-30 15:43] danfowler opened #89 "Add Google logo as supporter"

[2016-09-30 21:48] danfowler opened #90 "Create a Data Package (datapackage.json) online (generic - no specific tool)"
_From @danfowler on April 30, 2016 11:5_

Create a Data Package (datapackage.json) online (generic - no specific tool)
- [ ] Reinstate datapackage-init-js demo
- [ ] Walkthrough of Datapackagist

Current issues with DataPackagist
- [ ] UX is confusing in many ways
- [ ] Very complex codebase

_Copied from original issue: frictionlessdata/project#223_

[2016-10-03 15:00] jobarratt opened #91 "'Add user story' button to the homepage"
'Add user story' button to the homepage and submit to the trello board via google form.

[2016-10-03 15:56] danfowler commented on #91
@jobarratt @roll I'm not sure how the OpenTrials approach works, but I didn't see this as submitting directly to Trello.

[2016-10-03 20:18] roll commented on #91
@danfowler
I suppose it just sends email via google form - http://explorer.opentrials.net/ - see right bottom corner.

[2016-10-15 06:48] rufuspollock opened #94 "Frictionless Data principles and summary about on site (front page?)"
The old site had a set of principles on the front page. these no longer appear on the current site and they were useful and important - they articulate for people the essence of our approach and how it might differ from other ones.

See: http://web.archive.org/web/20160422020739/http://data.okfn.org/
### Principles

1 Focused

We have a sharp focus on one part of the data chain, one specific featu

[2016-10-15 06:52] rgrp commented on #94
Actually maybe a simple `/principles/` page would be nice and easy to link to ;-)

[2016-10-15 10:03] roll commented on #94
I remember it. It was very helpful when I've read about FD first time.

[2016-10-17 11:59] danfowler commented on #89
Closed by https://github.com/frictionlessdata/frictionlessdata.io/tree/1978731cbb359be802dab6ad6ae8fb8b295c3d6a

[2016-10-17 11:59] #89 closed

[2016-10-17 12:28] callmealien opened #95 "Specs page design"
http://specs.frictionlessdata.io looks different from the rest of the pages on frictionlessdata.io. By design or should we consider updating?

[2016-10-17 12:57] callmealien opened #96 "Add search functionality"
We can consider incorporating search for FD content on the site using JS. Suggestions for what we can use (1 and 3 are pretty similar):

- [Suggestion 1](http://jekyll.tips/jekyll-casts/jekyll-search-using-lunr-js/)
- [Suggestion 2](https://blog.algolia.com/instant-search-blog-documentation-jekyll-plugin/)
- [Suggestion 3](https://github.com/slashdotdash/jekyll-lunr-js-search)

[2016-10-20 08:49] rgrp commented on #96
The standard thing we do is just use google custom search as on okfnlabs.org ...

[2016-10-28 16:00] danfowler commented on #95
@callmealien http://specs.frictionlessdata.io has a different design due to history/expedience.  The specs page was originally a different site altogether with lots of other specs (cf: http://specs.okfnlabs.org/).  We should definitely have a unified design for both.

[2016-10-28 16:04] danfowler commented on #94
Thanks @rgrp @roll I think we can bring these back in.  I'd like to keep as few pages as possible, so I would probably insert into /about/#principles (maybe even redirect /principles/ to /about/#principles).

[2016-10-28 16:10] danfowler commented on #74
Duplicate of #94

[2016-10-28 16:10] #74 closed

[2016-10-28 16:47] #85 closed

[2016-10-31 12:41] #67 closed

[2016-10-31 12:41] #68 closed

[2016-11-13 13:56] danfowler opened #100 "Add Case Study "Call to Action""
Once a reader has finished a case study, what should they do next?

- Discuss the post on a relevant thread in the forum?
- Learn how to do the things they read about in the case study?
- Share with friends?

Could probably be embedded in text of case study or, for a more generic call to action, added to template file:

https://github.com/frictionlessdata/frictionlessdata.io/blob/gh-pages/_layouts

[2016-11-15 17:40] danfowler opened #101 "Add descriptions or tags for Case Studies"
http://frictionlessdata.io/case-studies/ doesn't give any information about any of the case studies.

Short descriptions could be the easiest way forward, but tags would be nice too.  If tags, maybe something tags like "data science", "cloud", "energy data", etc.

[2016-11-15 18:02] #101 closed

[2016-11-17 16:51] rufuspollock opened #103 "Extend Developer Guide with pwalsh materials"
@pwalsh material: https://gist.github.com/pwalsh/62d967d11369b38bd5d05bbc519fe1ba

Developer guide: http://frictionlessdata.io/guides/developer-guide/

[2016-11-23 13:27] jobarratt opened #104 "Distinguish between different types of partner on partner page - Individuals, technical partners, pilots etc"

[2016-11-23 13:30] danfowler opened #105 "Add Open Archaeology Working Group to /partners/ page"

[2016-12-01 10:08] rgrp opened #106 "Write a blog post about the latest features in the specs"
- Data chunking
- Simplification of `path` and `url`
- Compressed resources
- ...

[2016-12-06 17:22] danfowler commented on #106
This issue was moved to frictionlessdata/project#335

[2016-12-06 17:22] #106 closed

[2017-01-09 15:11] roll commented on #65
I can't reproduce it. May be it's already fixed.

Please re-open (with browser information) if it's still actual.

Thanks!

[2017-01-09 15:11] #65 closed

[2017-01-09 15:15] roll commented on #10
MERGED #18

[2017-01-09 15:15] #10 closed

[2017-01-09 21:45] #76 closed

[2017-01-09 23:23] #94 closed

[2017-01-09 23:27] danfowler commented on #94
@rufuspollock @roll I condensed the principles even more.  Let me know what you think: http://frictionlessdata.io/about/#principles

[2017-01-09 23:54] #86 closed

[2017-01-10 17:28] augusto-herrmann opened #110 "Fix the "edit on github" button"
On every page there is a right hand menu with a page icon on it. One of the options, titled "edit on github", links to a 404 error on Github.

I speculate the reason might be because this link is generated by a script and Github has changed the URL patterns since the site's theme was developed.

[2017-01-10 17:49] augusto-herrmann commented on #110
After looking into it, I found out that the [link in _includes/page-tools.html](https://github.com/frictionlessdata/frictionlessdata.io/blob/master/_includes/page-tools.html#L37) points to a non-existent "gh-pages" branch. To fix it, the link should point to an existing branch (master?).

[2017-01-10 20:31] danfowler commented on #110
Thanks @augusto-herrmann for fixing!  I had changed the default branch for this site from `gh-pages` to `master`.  Unintended consequences!

[2017-01-10 20:31] #110 closed

[2017-02-10 22:25] danfowler opened #113 "Add directory of places to download Data Packages"
People want to know where to find Data Packages.  Example: https://discuss.okfn.org/t/finding-data-packages/4207

This would include (at first):

- [x] http://data.okfn.org/data
- [x] https://data.world/
- [x] http://harvestchoice.org/page/bulk

[2017-02-10 22:55] danfowler opened #114 "Update frictionlessdata.io to reflect new specs.frictionlessdata.io"
- [ ] Redirect and rename instances of json-table-schema to table-schema

[2017-02-20 14:42] ghost opened #116 "Add link to public calendar"
Give visibility to the Open Project events calendar:
https://openknowledge.hasacalendar.co.uk/group/4-frictionless-data#

[2017-02-27 16:27] jobarratt commented on #71
@danfowler i think this is a great and very useful idea. But i don't want to delay the launch of the Tool fund too long. if at all. Can you estimate the time it is going to take in Trello. Ill decide whether we hold off the launch when i have a clear idea of when you will be able to do this. Maybe we do when both in London.

[2017-02-27 18:42] pwalsh commented on #71
I don't think tool fund should depend on this at all.

[2017-02-28 23:01] danfowler commented on #71
@jobarratt @pwalsh I also don't think the Tool Fund should be dependent on this, but I do think it would be helpful and necessary to update.

[2017-03-07 08:07] rufuspollock commented on #71
Big 👍  on updating. I had to go and edit this directly this morning when i wanted to link from reddit as content was out of date.

Even if we don't do all of this, just half a day of tidying would make a real difference.

[2017-03-16 21:38] #116 closed

[2017-03-16 21:43] danfowler commented on #71
OK, not too much in terms of visual flourish, but I have updated with a simple Markdown document of the range of tools, integrations, platforms, and representations.  Plus a link to the Tool Fund.

https://github.com/frictionlessdata/frictionlessdata.io/pull/118

[2017-03-17 22:43] #71 closed

[2017-03-17 22:43] danfowler commented on #113
Fixed in #118

[2017-03-17 22:43] #113 closed

[2017-06-10 00:20] Stephen-Gates commented on #62
@danfowler I could help with this with some guidance. I have been showing people how to create Table Schemas using Data Packagist. Is that what you had in mind for the tutorial?

[2017-06-12 15:25] pwalsh opened #128 "Update guides to new specifications"

[2017-06-12 15:26] #128 closed

[2017-06-15 07:25] pwalsh opened #129 "Consolidate websites"
# Description

We current have the specs website distinct from the main website at frictionlessdata.io. There are historical reasons for this. The impact of this now is that things get out of sync, and there is no tight relationship between important elements, such as the specs themselves, and the guides that provide explanatory detail and usage of tools that implement the specs.

Further, there i

[2017-06-15 07:27] pwalsh commented on #105
Merging with https://github.com/frictionlessdata/frictionlessdata.io/issues/129

[2017-06-15 07:27] #105 closed

[2017-06-15 07:28] pwalsh commented on #129
Integrate #105

[2017-06-15 07:28] pwalsh commented on #104
Merged with https://github.com/frictionlessdata/frictionlessdata.io/issues/129

[2017-06-15 07:28] #104 closed

[2017-06-15 07:28] pwalsh commented on #103
Merged with https://github.com/frictionlessdata/frictionlessdata.io/issues/129

[2017-06-15 07:28] #103 closed

[2017-06-15 07:29] pwalsh commented on #129
Integrate #103

[2017-06-15 07:29] pwalsh commented on #95
Merged with https://github.com/frictionlessdata/frictionlessdata.io/issues/129

[2017-06-15 07:29] #95 closed

[2017-06-15 07:29] pwalsh commented on #56
WONTFIX

[2017-06-15 07:29] #56 closed

[2017-06-15 07:30] pwalsh commented on #9
Merged with https://github.com/frictionlessdata/frictionlessdata.io/issues/129

[2017-06-15 07:30] #9 closed

[2017-06-15 07:30] pwalsh commented on #129
Integrate #9

[2017-06-15 07:30] pwalsh commented on #2
Duplicate of https://github.com/frictionlessdata/frictionlessdata.io/issues/129

[2017-06-15 07:30] #2 closed

[2017-06-15 07:31] pwalsh commented on #18
Duplicate of https://github.com/frictionlessdata/frictionlessdata.io/issues/129

[2017-06-15 07:31] #18 closed

[2017-06-15 07:31] pwalsh commented on #47
What we have seems enough right now

[2017-06-15 07:31] #47 closed

[2017-06-15 07:32] pwalsh commented on #48
This is really covered by goodtables.io as a tool I think, and will be therefore handled in https://github.com/frictionlessdata/frictionlessdata.io/issues/129

[2017-06-15 07:32] #48 closed

[2017-06-15 07:32] pwalsh commented on #53
DONE

[2017-06-15 07:32] #53 closed

[2017-06-15 07:33] pwalsh commented on #88
Merging with https://github.com/frictionlessdata/frictionlessdata.io/issues/129

[2017-06-15 07:33] #88 closed

[2017-06-15 07:34] pwalsh commented on #91
WONTFIX

[2017-06-15 07:34] #91 closed

[2017-06-15 07:35] pwalsh commented on #100
+100 on any solution here. Ideally, the discussion thread on forum

[2017-06-15 07:36] pwalsh commented on #78
WONTFIX. Issue tracker is the MVP for this. If need is overwhelming, we could formalise it otherwise.

[2017-06-15 07:36] #78 closed

[2017-06-15 08:55] rufuspollock commented on #129
@pwalsh my big concern is the sync between the specs issue tracker and the specs - in this model we will lose this. We will have the specs issue tracker still (i assume) but the actual specs will now live on fd.io content site. How will that get handled ...

Note: in terms of user stories:

I don't think this has much to do with the technical separation between the sites. It could happen even if t

[2017-06-15 10:28] roll commented on #129
Could `specs` repo end-up ad a clear technical reppsitory (only spec texts and jsonschemas)? And fd.io will have it as a submodule or something?

Even current situation with `specs` repo is not I deal in my mind because at the same issue tracker we handle both actual specs issues and thing like fixing design etc

[2017-06-16 06:28] danfowler commented on #129
@roll @pwalsh It might make sense just to commit the [compiled schemas](https://github.com/frictionlessdata/specs/tree/master/assets/schemas) to the repo along with a note saying that PRs will not be accepted on the compiled schemas and to look for the [YAML source dictionaries](https://github.com/frictionlessdata/specs/tree/master/sources/dictionary) for any changes.  (We might even just plop a `

[2017-06-16 07:14] roll commented on #129
@danfowler
If there will be a decision to do like I said we're pretty capable to easily solve any problems e.g. triggering fd.io rebuild on any push to specs (I've tested it for testsuite) and using just simple wget instead of submodule etc.

[2017-06-16 07:49] danfowler commented on #100
This is resolved by adding the forum link to the template: https://github.com/frictionlessdata/frictionlessdata.io/blob/master/_layouts/case_study.html#L43

We can just make sure we carry forward the process of creating a forum post for this type of content and translate the layout faithfully.

[2017-06-16 07:49] #100 closed

[2017-06-16 08:50] rufuspollock commented on #129
Let me reiterate: I get the idea of merging sites. I'm just saying:

A. Can we do the simplest thing first of updating specs css (which takes a couple of hours)

B. We almost certainly underestimate the effort of merging the sites and the benefits in terms of maintainability seem relatively low atm (the big issue is updating content - which does not depend on the separation or not of the sites).

[2017-06-19 12:23] callmealien commented on #129
@danfowler @pwalsh, just flagging that, I added /grantee-profiles/ last Friday as well, not sure if this will still be a stand-alone page in the new site cc @jobarratt

[2017-06-21 11:09] danfowler commented on #129
@pwalsh @jobarratt @callmealien great, I think this could possibly fit into the conceptually widened "case studies" page whatever it ends up being called.

@rufuspollock

The work of moving the current fd.io site to Lektor is similarly simple, and is a concrete first step that can be done independently of actually merging the specs.  It will make merging the specs actually possible.

[2017-06-21 15:37] rufuspollock commented on #129
@danfowler but updating the fd.io site to lektor is completely distinct task (that is probably a non-trivial amount of work) and does **not** fix the actual issue which is that the fd.io site does not look consistent and has poor readability / elegance.

Can we *please* fix the actual main issue right now which is specs.fd.io css and then come back to any discussion re merging sites (which IMO is

[2017-06-21 22:40] Stephen-Gates commented on #129
Would love to have a way to easily get back to fd.io from specs.fd.io. I have tabs for both open in my browser due to the lack of navigation.

[2017-07-22 07:07] Stephen-Gates opened #134 "Clarify that Geopoint types are validated"
In the [point data guide](http://frictionlessdata.io/guides/point-location-data/) it [questions a number of times if geopoint type is validated](https://github.com/frictionlessdata/frictionlessdata.io/blame/master/guides/point-location-data.md#L88). It seems the javascript reference implementation does implement [the required tests](https://github.com/frictionlessdata/tableschema-js/blob/master/sr

[2017-08-01 20:58] Stephen-Gates opened #135 "Indicate version support on each tool, library, platform"
On the [tools](http://frictionlessdata.io/tools/) page it is not clear what version of the specification is supported by each tool.

This causes confusion and frustration. E.g. I have be teaching people about data packages at work, they [hand craft a schema](https://docs.google.com/document/d/1pmA60QEHzUEIk5CEBUrZzMyTbeRGC5fgRpWuHNlyw_M/edit) and package but when they use the schema/package in var

[2017-08-06 04:16] Stephen-Gates commented on #42
Suggest this might be helpful given [the number of tutorials that need to be written](https://github.com/frictionlessdata/frictionlessdata.io/issues/42). I'd be keen to contribute if a template was provided. In the absence of a template, [I made this tutorial up](https://docs.google.com/document/d/1pmA60QEHzUEIk5CEBUrZzMyTbeRGC5fgRpWuHNlyw_M/edit#heading=h.2i0jf2tv286r) - (thanks for the comments

[2017-08-07 14:48] rufuspollock commented on #42
@Stephen-Gates please contribute a template - that would be awesome!

[2017-08-10 14:42] jobarratt commented on #42
Thank you so much for this @Stephen-Gates it's really great

[2017-08-29 09:59] jobarratt commented on #42
Added to the site. Thank you again @Stephen-Gates

http://frictionlessdata.io/guides/tutorial-template/

[2017-09-19 10:51] HeidiSeibold opened #139 "Frictionless Data on OpenML?"
We are thinking about using your data structures for OpenML.org, an online platform for open machine learning.

We have a workshop in October and I was wondering if any of you would be interested in coming to Leiden and join us.
http://hackathon.openml.org/

Sorry for misusing the issues :cake:

[2017-09-19 11:15] pwalsh commented on #139
Hi @HeidiSeibold ! Super interested. Can you write to me at paul.walsh@okfn.org

[2017-09-19 11:22] pwalsh commented on #139
(and closing this issue, as we will pick up by email.)

[2017-09-19 11:22] #139 closed

[2017-09-20 08:11] smth commented on #129
To update on the work I'm doing towards this issue. I have started building a new, Lektor based site [here](http://p.smth.uk/frictionlessdata/), based on my below designs.

![frictionlessdata_02_home_01](https://user-images.githubusercontent.com/1375708/30633443-8f364382-9de3-11e7-935e-760d0440cae0.jpg)

![frictionlessdata_02_casestudies_01](https://user-images.githubusercontent.com/1375708/306334

[2017-09-29 09:14] smth commented on #129
[Grantee profiles](http://frictionlessdata.io/grantee-profiles/) is missing from the above structure, and needs somewhere to live. Perhaps we reintroduce an "About" section to house these sorts of things.

[2017-09-29 09:39] jobarratt commented on #129
@smth my view is that it's going to be more effective as another category in "articles" than creating an "About" section.

[2017-09-29 17:39] rufuspollock commented on #129
Is there any structure for feedback/input and any list of user stories for this rework that one can contribute to or review? (Happy to leave this to you @jobarratt  if that works  best!)

[2017-10-02 09:23] jobarratt commented on #129
@rufuspollock Sam is continuing to work on this over the week and we're going to open this up to comments and feedback at the beginning of next week. I will share then and it would be great to get you input.

[2017-10-03 09:19] rufuspollock commented on #129
@jobarratt great - will that be at the user story stage for input or  "here's the finished website" point? (the latter is generally a bit late for useful input ...)

[2017-10-03 09:49] jobarratt commented on #129
@rufuspollock will be the latter stage. A design based on the content architecture above.

[2017-10-22 14:23] pwalsh commented on #129
@callmealien @jobarratt

The branch with new design and Lektor implementation from @smth is linked from the above pull request link.

The bucket for serving this site from AWS S3 is now `frictionlessdata.io`. Until we switch over the main site is accessible at `http://frictionlessdata.io.s3-website-eu-west-1.amazonaws.com/` (at time of writing, a build problem prevents deployment of pages to the S

[2017-10-22 14:49] pwalsh opened #142 "Website update: Pull in specs"
# Description

In #129 we noted we will consolidate the specs and the "promotional" website for Frictionless Data, based on research and decisions that Dan and I took. Much of the work has been done by @smth , and some remaining content consolidation is being done before we close #129 by @callmealien .

What's left? bringing over the content from https://github.com/frictionlessdata/specs when we b

[2017-10-31 10:11] smth commented on #142
Perhaps we should also fix the headings hierarchy. Currently the pages have two `h1`s. All headings probably need shifting down by one.

[2017-10-31 10:16] smth commented on #142
Also there's some: `<div class="alert alert-warning security"></div>` that need to be replaced with Markdown, as I noted [here](https://github.com/smth/frictionlessdata#notes--warnings).

[2017-10-31 17:14] #129 closed

[2017-11-06 04:47] Stephen-Gates opened #146 "Add a table of contents to the pattern page"
Add a table of contents to the [pattern page](http://frictionlessdata.io/specs/patterns/) to allow readers to jump to the pattern of interest.

Similar to toc used on http://frictionlessdata.io/specs/table-schema/

[2017-11-06 04:52] Stephen-Gates commented on #146
Whoops, this may be in the wrong repo given the patterns pages in over at https://github.com/frictionlessdata/specs/blob/master/content/patterns/contents.lr

[2017-11-13 12:50] stevage opened #147 "Point location data 7 not GeoJSON"
Sorry for this nitpick, but example 7 of the really nicely done [point-location-data](http://frictionlessdata.io/guides/point-location-data/) page (#130) gives this as an example of GeoJSON in CSV:

But that's not GeoJSON. If the field is just the geometry/coordinates bit it would be:

`Dalby | [151.2660,-27.1994]`

Or if the whole geometry bit:

`Dalby | {"type":"Point","coordinates":[151.2660,-2

[2017-11-14 03:14] Stephen-Gates commented on #147
Thanks @stevage

The offending line is https://github.com/frictionlessdata/website/blob/master/content/guides/point-location-data/contents.lr#L349

Interested to hear from others what the intent of the [specification](http://frictionlessdata.io/specs/table-schema/#geojson) is?

[2017-11-14 05:02] roll opened #148 "Add button edit on github"
# Overview

It's quite popular and very useful approach to have `edit on github` button for documentation we have. For example this tutorial http://frictionlessdata.io/guides/point-location-data/ could have this button pointing to markdown document inside this repo.

[2017-11-14 05:02] roll commented on #147
Interesting - section number 7 is about `geojson` but example is for `geopoint`.

[2017-11-14 08:02] Stephen-Gates commented on #147
@roll do you agree that the correct example should be:

`Dalby | {"type":"Point","coordinates":[151.2660,-27.1994]}` ?

[2017-11-14 08:37] roll commented on #147
@Stephen-Gates
I agree.

[2017-11-27 08:18] #147 closed

[2017-11-27 08:18] #142 closed

[2017-11-27 08:39] serahrono opened #152 "Update guides to Frictionless Data specifications v1"
_From @danfowler on December 2, 2016 19:38_

This is an issue for updating the [current user guides](http://frictionlessdata.io/guides/).

We need at least two (related) types of guides for Data Packages: one set oriented toward users (developers, publishers, and consumers of data) and one set for implementors (developers seeking to create new implementations).

# User Guides

This is a set of gui

[2017-11-27 08:39] serahrono commented on #152
_From @danfowler on December 12, 2016 13:39_

Renamed to reflect that we will do all this communication after the V1 release.

[2017-11-27 08:39] serahrono commented on #152
_From @pwalsh on March 16, 2017 20:59_

@danfowler now based on https://github.com/frictionlessdata/project/issues/341 being ready for you, and based on @roll starting next Monday on js and py updates for v1, I think you could start a branch that does this - updating our guides for v1. This will, along with the work that @roll will start next week, help us all pick out more issues in the specs and

[2017-11-27 08:39] serahrono commented on #152
_From @Stephen-Gates on June 14, 2017 6:50_

I made a start at https://discuss.okfn.org/t/tutorial-for-handcrafting-a-table-schema/5577
Happy to review, test or author some guides. Let me know the framework for contributions and I'll fit in. In the meantime, I'll write some stuff in Google Docs.

[2017-11-27 08:39] serahrono commented on #152
_From @danfowler on June 14, 2017 8:11_

- [ ] How to make a README.md for a dataset stored on GitHub: https://discuss.okfn.org/t/readme-md-practice-for-data-packages/5555

[2017-11-27 08:39] serahrono commented on #152
_From @Stephen-Gates on June 14, 2017 10:6_

I'm also scribbling notes about [Tabular location data](https://docs.google.com/document/d/194Ow1JfPsocukSKMJ2JuxwZXLWlz_miT74OuG6wwL-A/edit?usp=sharing). Contributions welcome - very draft at present.

[2017-11-27 08:39] serahrono commented on #152
_From @pwalsh on June 15, 2017 7:26_

@danfowler can you move this issue to https://github.com/frictionlessdata/frictionlessdata.io/issues

[2017-11-27 08:39] serahrono commented on #152
_From @pwalsh on June 15, 2017 7:27_

@danfowler specifically, to this issue that already exists https://github.com/frictionlessdata/frictionlessdata.io/issues/114

[2017-11-27 08:39] serahrono commented on #152
_From @roll on November 15, 2017 6:52_

@serahrono
@vitorbaptista
If we're back for an active usage of this issue track I think we need to update/close this issue. Probably many of these steps are already done. And those that not done but actual we could extract as things to do.

[2017-11-27 08:48] serahrono opened #153 "How do you add a user story?"
_From @Stephen-Gates on November 9, 2017 7:7_

I'd like to add a [user story](https://trello.com/b/MGC4RpTZ/frictionless-data-user-stories) that describes the [data card](http://preview.data.gov.au/data_cards/01.html) concept.

As a communicator, I want to share data insights on social media, so that readers can easily verify and explore the data and related resources.

_Copied from original issue

[2017-11-27 14:23] smth opened #154 "Uncaught TypeError on home page"
`Uncaught TypeError: Cannot read property 'run' of undefined`

[2017-11-27 14:39] roll commented on #154
[code]

[2017-12-25 23:54] Stephen-Gates opened #157 "Guide for Applying Licenses"
I've started writing a guide about applying licenses in data packages. It may become a part of another tutorial or guide #152. It continues the [conversation on  the forum](https://discuss.okfn.org/t/a-license-is-not-mandatory-in-a-data-package-but-open-data-needs-one/6246/6?u=stephen).

Feedback, additions and corrections very welcome...

# Applying licenses, waivers or public domain marks

Apply

[2017-12-30 21:54] Stephen-Gates opened #158 "Broken link on home page"
The [Help us get there](https://frictionlessdata.io/%7B%7B%20site.baseurl%20%7D%7D/get-involved/) link on the home page is broken

https://github.com/frictionlessdata/website/blob/master/content/contents.lr#L53

[2018-01-18 17:06] serahrono commented on #146
Finally got round to fixing this, @Stephen-Gates. Should be good now.

[2018-01-18 17:06] #146 closed

[2018-01-18 17:22] #158 closed

[2018-01-18 20:01] Stephen-Gates commented on #146
@serahrono thanks but I guess what I was hoping for was to be able to navigate down to individual patterns using the ToC like on other spec pages

[2018-01-18 20:06] Stephen-Gates commented on #158
@serahrono not sure it's fixed - url goes to https://frictionlessdata.io/%7B%7B%20site.baseurl%20%7D%7D/get-involved/

[2018-01-19 07:49] Stephen-Gates commented on #146
Prefect!
:tada:

[2018-02-13 20:16] Stephen-Gates commented on #114
Can this be closed or are you waiting for all software and guides to implement v1 of the spec?

[2018-02-23 03:16] Stephen-Gates opened #161 "Tell people where to find Frictionless Data"
[As discussed on the Forum](https://discuss.okfn.org/t/finding-data-packages/4207
) the Frictionless Data site does not help people find where frictionless data has been published.

We should make a page the points to repositories and platforms that support uploading and downloading frictionless data.

You could argue that the platforms or universe views on the [Software](https://frictionlessdata.

[2018-02-23 03:29] Stephen-Gates commented on #135
Or you could get fancy as ask each implementation to document their level of support, see:
- https://github.com/frictionlessdata/implementations/issues/26
- https://github.com/ODIQueensland/data-curator/issues/394#issuecomment-360601019

[2018-02-23 03:36] Stephen-Gates commented on #90
Can this be closed thanks to https://create.frictionlessdata.io/ ?

[2018-02-23 03:41] Stephen-Gates commented on #23
Can this be closed given the Terms of use and Privacy policy links in the footer?

[2018-02-23 04:02] Stephen-Gates opened #162 "Docs and Tutorial Issue Clean Up"
There are lots of issues for [docs](https://github.com/frictionlessdata/website/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+label%3Adocs) and [tutorials](https://github.com/frictionlessdata/website/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+label%3Atutorial+) with a some overlap.

There are 4 [[SUPER](https://github.com/frictionlessdata/website/issues?utf8=%E2%9C%93&q=is%3Aopen+is%3Aissue+%5Bsu

[2018-02-23 04:10] Stephen-Gates commented on #36
Can this be closed given the Apps, Libraries and Platform views on https://frictionlessdata.io/software/ ?

[2018-02-23 04:56] #36 closed

[2018-02-23 04:59] #90 closed

[2018-02-23 04:59] #23 closed

[2018-02-23 06:15] Stephen-Gates commented on #134
Fixed in #149

[2018-02-23 06:15] #134 closed

[2018-02-23 06:28] Stephen-Gates commented on #66
Can this be closed thanks to the vision statement on https://frictionlessdata.io/ or is a printable document required?

If a printable document is required, would a markdown version of the vision from https://github.com/frictionlessdata/website/blob/master/content/contents.lr suffice?

[2018-02-23 06:33] #66 closed

[2018-02-23 06:34] Stephen-Gates commented on #54
@roll  I suggest changing label to Tutorial and removing Example - thoughts?

[2018-02-23 17:11] vitorbaptista opened #163 "Setup Google Analytics"
We used to use `UA-33874954-38`

[2018-02-24 09:42] Stephen-Gates commented on #161
Suggested platforms:

- [OpenSpending](http://next.openspending.org)
- [DataHub.io](https://datahub.io)
- [HarvestChoice](http://harvestchoice.org/page/bulk)
- [data.world](https://data.world) (download data packages only)
- [Central de Dados](http://centraldedados.pt)
- [Open Power System Data](https://data.open-power-system-data.org)

[2018-02-26 11:15] roll commented on #54
@Stephen-Gates
Thanks. Done.

[2018-03-04 18:51] reidab opened #164 "Changelog is not rendered"
https://frictionlessdata.io/specs/changelog/ is probably intended to say more than `this text is not rendered.`

[2018-03-11 09:08] Stephen-Gates opened #167 "rebuild website to publish the updated data package version pattern"
Please manually rebuild the website (because https://github.com/frictionlessdata/specs/issues/589 isn't implemented) to publish the updated data package version pattern https://github.com/frictionlessdata/specs/pull/592

[2018-03-13 09:57] #167 closed

[2018-03-13 10:11] Stephen-Gates commented on #167
thanks @roll

[2018-03-13 11:00] roll commented on #167
@Stephe-Gates
Thanks for the heads-up!

[2018-04-04 07:10] Stephen-Gates commented on #157
Published http://frictionlessdata.io/docs/applying-licenses/

[2018-04-04 07:10] #157 closed

[2018-04-17 14:13] rgieseke opened #171 "Wrong forwarding"
Hi,

it seems the forwarding for

https://frictionlessdata.io/tools/

has an additional slash:

https://frictionlessdata.io/software//

[2018-04-19 12:33] serahrono commented on #171
Now fixed. Thanks for flagging.

[2018-04-19 12:33] #171 closed

[2018-07-02 13:49] roll opened #176 "Make Field Guide more visible for new visitors"
# Overview

For now (https://frictionlessdata.io/), it's hidden behind the menu. But we can make it more visible for new visitors adding to:
- content sections (e.g. merging chat/forum)
- as a slider to switch between Field Guild / the FD video
- etc

[2018-07-10 13:04] johanricher opened #178 "i18n"
I'd love to translate to French a part or the whole of the website (starting with the Field Guide). Can I contribute in a way that will be also available to visitors of frictionlessdata.io or should I fork the website to publish my translation elsewhere? If so, what's the licence on the content of the website?

[2018-07-17 09:13] serahrono commented on #178
Hey @johanricher, as I said on Gitter, this is exciting for us, thank you! I'm currently preparing a guide to contributing translations, and should be able to reference it here in the next day or so

[2018-07-18 08:20] serahrono commented on #178
Hey @johanricher, here you go https://github.com/frictionlessdata/website#contributing-translations

[2018-07-18 08:55] johanricher commented on #178
Neat, thank you!

[2018-07-18 08:55] #178 closed

[2018-08-22 11:00] rufuspollock opened #180 "Have a proper about page explaining e.g. who is behind the project"
https://twitter.com/teh_aimee/status/1025545256668880897

[2019-01-31 20:01] rufuspollock opened #184 "[epic] Things to improve as of Jan 2019"
* [ ] No way to link to sections of specs (no anchor option - there was in the old version!)
* [ ] Magical Table of contents on left is very annoying ...
* [ ] Top of page navbar does not have the main links for users (stuff hidden in an accordion)

Misc

* [ ] Black theme has a poor feel
* [ ] Dubious about the logo
* [ ] Font is tough to read (very small) and ugly - old specs site was more reada

[2019-02-01 09:44] pwalsh commented on #184
Thanks @rufuspollock

It is great to get this all written out so we can discuss and work out how we can make changes that are widely agreed on.

[2019-02-22 09:46] rgieseke commented on #184
Great discussion! I see frictionlessdata.io as the page i send/link people to when i build/promote Data Packages. In my opinion it would be great to see an example on the homepage (for a typical example CSV + JSON, though there can be others) and then some text elaborating. Like a Programming Language homepage it should have an example right on top, like e.g. on python.org
No need for a video or b

[2019-02-26 23:57] lwinfree commented on #184
I like the newer design overall, especially the color theme and the icons, but agree that there are some things that can be improved:
- I find the video useful, but would move it elsewhere & perhaps have a code example on top (like rgieseke suggests above)
- I also don't really like the magic table of contents
- agree we need a better navbar
- the text font is way too small
- I'd also love to have

[2019-03-20 21:05] rufuspollock commented on #184
@lwinfree i agree :smile: -- though still not sure about the design tbh (full on black is unusual!)

@rgieseke thanks for the feedback and all good points.

[2019-03-20 21:13] rufuspollock opened #188 "Tools Page Improvements - Feb 2019"
Subitem of #184

[2019-06-03 06:05] rufuspollock commented on #188
INVALID. Keep it all in #184

[2019-06-03 06:05] #188 closed

[2019-07-28 11:49] glgoose opened #198 "Broken link on fellows.frictionlessdata.io"
a[href] within a[href] so link text 'forum' not showing properly and html tags showing on page

[code]
https://fellows.frictionlessdata.io/

[2019-07-29 16:55] lwinfree commented on #198
thanks @glgoose for letting us know! It will be fixed soon. Here is the repo for the fellows website FYI: https://github.com/frictionlessdata/fellows

[2019-07-29 16:55] #198 closed

[2019-11-25 20:50] lwinfree commented on #184
Adding to this issue list that I propose removing the newsletter sign up as 1) we don't write a newsletter and 2) I don't think it is GDPR-compliant

[2020-02-06 09:29] Irio opened #422 "Define standards for frontmatter"
Frontmatter is the metadata in pages. It is an essential "API" between content authors and the theme designers. Thus, defining this frontmatter is crucial.

Purpose of this issue is to define frontmatter for main categories for pages:

* jobs
* products
* blog

This issue was previously part of https://github.com/frictionlessdata/project/issues/402 and https://github.com/frictionlessdata/project/i

[2020-02-06 09:34] rufuspollock opened #423 "[v2] Implement Redirects for v1 URLs"
## Acceptance Criteria
* [x] The URLs of the old website redirect to new URL links

## Tasks

- [x]  Identify how to do redirects Seems vuepress does this centralized rather than per page and in JS config. See vuejs/vuepress#239. There is also a plugin https://vuepress.github.io/en/plugins/redirect/#installation - seems a little confusing but think it would do the job and can do bulk redirects fro

[2020-02-06 17:15] Irio opened #424 "Create semantically correct links in the jobs to be done diagram in the new website"
As stated in the issue for creating the diagram, currently, the anchors just exist in Javascript. People using screen readers are the ones most affected, but also it impacts everyone. For instance, browsers don't show the destination of the link while hovering a hexagon. Thus, it may not be top priority, but it's still very important to be done.

In the initial analysis made by @MuhammadIsmailShah

[2020-02-09 19:00] rufuspollock opened #425 "[v2] Theme: Final Fixes miscellany"
Final fixes for the theme, see #402.

Steps:

* [x] Review main issue and extract remaining items https://github.com/frictionlessdata/project/issues/402
* [x] Anything else e.g. stuff above in actions (move that here)
* [x] Prioritize and/or categorize tasks (e.g. by page)

## Acceptance

* [x] Home page ready to go
* [x] Team page ready to go
* [x] Base theme ready to go
  * [x] Footer
  * [x] Na

[2020-02-09 21:52] rufuspollock opened #426 "[v2] Implement Redirects for Old Content"
DUPLICATE - IRRELEVANT.

[2020-02-09 21:54] rufuspollock commented on #426
DUPLICATE of #423

[2020-02-09 21:54] #426 closed, assigned to nobody

[2020-02-09 21:56] rufuspollock commented on #423
@MuhammadIsmailShahzad is this done? If so, please close as per structure in http://handbook.datopian.com/issues-tasks/#closing-issues

[2020-02-09 22:18] ismail-shahzad commented on #423
FIXED. See commit https://github.com/frictionlessdata/website-v2/commit/39ba547c3b091901b3e1374de5271f0adb66a995 and staging  https://github.com/frictionlessdata/website-v2/pull/18

[2020-02-09 22:18] #423 closed, assigned to ismail-shahzad

[2020-02-11 11:10] monikappv opened #427 "How to implement Featured / Hero Image for Blog Posts (and other pages)"
When we are creating a blog index page on vuepress we want to show the hero/featured image of the blog post so that we have a nice image (humans love pictures!) *and* that image is specified by blog post author (not by index page creator!)

When creating a blog post I want to have the images in the same directory so that all the content is in one place and easy to see and reference

NB: this is al

[2020-02-12 09:00] monikappv commented on #427
I moved the images to /public/img/blog/, tried it on one blog post (Dataship) and it worked.

![screenshotblogindex](https://user-images.githubusercontent.com/56799741/74318871-ac4e7200-4d86-11ea-8944-6872fca91f22.png)

TODO: change paths of the rest of the blog posts...

[2020-02-16 12:31] monikappv commented on #427
FIXED. See http://next.frictionlessdata.io/blog/.

[2020-02-16 12:31] #427 closed, assigned to nobody

[2020-02-17 10:10] monikappv opened #428 "[v2] Misc final fixes"
Misc final fixes for v2 site - epic in #415

## Acceptance

N/A

## Tasks

* [x] final 4-5 pages to migrate ..see https://docs.google.com/spreadsheets/d/1qByu4qw56hFUdJIY5IOC7d8TQBud-k31J6720hg1h2w/edit#gid=710398809 @rufuspollock **DONE: last few pages moved over or redirect done**
* [x] Review content and tidy blog #435 @lwinfree
* [x] Front page looks "done"
  * [x] 2 links one to guide (Get St

[2020-02-21 12:09] monikappv commented on #422
FIXED.

[2020-02-21 12:09] #422 closed, assigned to monikappv

[2020-02-21 16:41] monikappv commented on #425
I tried to tweak the logo twice 1. using adobe XD 2. using inkscape - made just the F thicker, haven't
changed the font next to the blue form, and saved it as svg file (at that point it looked pretty good, see below):

![logo-tweaked](https://user-images.githubusercontent.com/56799741/75053272-a4ef3d00-54d9-11ea-816e-1c4f7e265233.png)

When I tried to implement it on the website, it seems like the

[2020-02-25 08:47] nirabpudasaini opened #429 "Sidebar for the Specs Site"
Subissue for frictionlessdata/project#413

Currently the sidebar shows only the h2 and h3 headers as navigation elements for each page. This should be the case for the specs pages but the homepage should have a different sidebar. It should match https://web.archive.org/web/20170627080529/http://specs.frictionlessdata.io/ where the sidebar not only shows the home page elements but also all the avai

[2020-03-01 08:13] rufuspollock opened #430 "[epic] Guide to Frictionless Data"
We want a single guided entry point to Frictionless Data (Framework) - in keeping with our simple, accessible, progressive philosophy!

Job Story: When I first come to Frictionless Data (or am at early stages) I want a guide that introduces me to the framework and how to use it so that I can get started quickly (and decide if this is for me).

Inspiration is VueJS and their excellent guide: https:

[2020-03-02 08:10] rufuspollock opened #431 "Catalog and analyze existing guide-related content"
## Catalog and analyze existing guide-related content #431
We want to locate, catalog and analyse existing material that would be relevant for the (new) guide #430

In order of priority:

* Field Guide https://frictionlessdata.io/field-guide/ (moving to blog)
* FD related stuff on https://datahub.io/docs/ - https://github.com/datopian/datahub-content
* Old https://frictionlessdata.io/docs/

## Acc

[2020-03-02 08:21] rufuspollock opened #432 "[v2] Switch over the DNS (and do any Cloudflare level redirects)"
Switch over to the new site 😄

## Acceptance

* [x] Existing fricitionlessdata.io is at old.frictionlessdata.io
* [x] current next.frictionlessdata.io is at frictionlessdata.io

## Tasks

* [x] Add permanent redirects (301 HTTP status) in fd.io to new locations ...  - ~~should be part of #423~~ **turns out you can't do this in Vue [^why] so we have to implement this at cloudflare level** @amercade

[2020-03-02 09:40] Irio opened #433 "Refactor Data Package and Table Schema Product pages to be about tooling (not the pattern)"
At this moment, we have the multiple pages talking about the same thing. The proposal is to consolidate them to a state good enough for release.

For instance, all of the following introduce Data Packages:

* https://next.frictionlessdata.io/data-package/
* https://next.frictionlessdata.io/products/data-package/
* https://next.frictionlessdata.io/guide/

## Acceptance Criteria

* [x] `/guide/` sho

[2020-03-02 11:37] Irio commented on #433
For Table Schema, I've tried to follow a format that can be replicated in Data Package pages, too.

Here's the /product/table-schema page now:

![screencapture-localhost-8080-products-table-schema-2020-03-02-12_34_12](https://user-images.githubusercontent.com/667753/75673072-60eefb80-5c82-11ea-80cb-c5cbe26eecbd.png)

[2020-03-02 21:50] lwinfree commented on #430
@rufuspollock this is the same as the docs work that myself & @roll have been working on, yes?

[2020-03-02 22:08] lwinfree opened #482 "reproducible research page is missing"
https://frictionlessdata.io/reproducible-research/

[2020-03-03 12:06] rufuspollock commented on #425
FIXED. Everything done (for some time) and moved one last item (logo tweak) out to #428.

[2020-03-03 12:06] #425 closed, assigned to monikappv

[2020-03-03 12:33] rufuspollock commented on #430
@lwinfree i think definitely connected though i imagined as more complementary - do you guys have an outline of the docs work somewhere in an issue so we could work that out more clearly? (ie. what you guys are planning there vs what is here)?

[2020-03-03 17:03] lwinfree commented on #430
Just noting for transparency (and for my brain 🙃 ) that Rufus, Evgeny, and I (and potentially others?) will map out what the guide & docs will look like & then work to make it happen together.

[2020-03-04 01:00] rufuspollock commented on #431
@lauragift21 could you take this on - you can also involve Mario.

[2020-03-04 01:16] rufuspollock opened #434 "How to have Live Examples in the Guide"
We would like to have live examples in e.g. Python, Javascript, R (?) etc.

## Acceptance

* [x] Have identified a standard way to create, maintain and embed these examples
* [x] Have examples in Python, Javascript (maybe R and Ruby)
-  **Python example in Repl.it https://repl.it/@lauragift21/data-package-py**
-   **JavaScript example https://repl.it/@lauragift21/data-package-js**
-   **Ruby examp

[2020-03-04 04:34] rufuspollock opened #435 "[v2] Proof reviewing of content in v2 site"
We want to proof edit all key content pages and esp blog pages to ...

* Make sure no TODOs or obviously missing content
* Tidy up metadata on blog, maybe add tags and new metadata

## Acceptance

* [x] Blog looks tidy
* [x] Pages are acceptable (no glaring TODOs or formatting errors etc)

## Tasks

* [x] Read contributing guidelines that explain about frontmatter etc https://github.com/frictionle

[2020-03-04 05:45] rufuspollock commented on #435
@lwinfree following chat yesterday i've split this task out (from #428) and assigned to you. When do you reckon you could have this done by 😄 ?

[2020-03-04 06:52] lauragift21 commented on #431
Yeah sure @rufuspollock. I will work on this after I wrap up what I'm currently working on which is making the site look responsive.

[2020-03-04 10:59] Irio commented on #433
DONE. The Data Package Tools page is currently in master like this:

![screencapture-localhost-8080-products-data-package-tools-2020-03-04-11_58_35](https://user-images.githubusercontent.com/667753/75873075-9b39d380-5e0f-11ea-84cb-ee16b272a65c.png)

[2020-03-04 10:59] #433 closed, assigned to Irio

[2020-03-04 14:03] lauragift21 commented on #431
FIXED. Mario and I reviewed and analyzed the guides and created this [spreadsheet](https://docs.google.com/spreadsheets/d/1qByu4qw56hFUdJIY5IOC7d8TQBud-k31J6720hg1h2w/edit#gid=23938125) to document the relevant content that we can reuse.

[2020-03-04 20:10] lwinfree commented on #435
@rufuspollock Great! I'll put it on my todos & try to finish by end of next week. I'm assuming it will take a while though to get thru all the content, so that might be optimistic. I'll use the checkmarks above to denote my progress.

[2020-03-05 07:41] rufuspollock commented on #430
@lwinfree yes, perfect we should have a sync asap. In the meantime can you / @roll create an issue in this repo that provides an overview of both the plan and the current state of play on the docs? That will help me get myself up to speed.

[2020-03-05 12:54] augusto-herrmann opened #617 "How does f11d deal with data version control?"
## Background

When dealing with [small data](https://blog.okfn.org/2013/04/22/forget-big-data-small-data-is-the-real-revolution/), using git for CSV is just fine. However, if the dataset begins to grow, or is updated too frequently, the overhead quickly starts to add up.

There have been many open source solutions for data version control, such as:

* [dat](https://www.datprotocol.com/)
* [dolt](

[2020-03-05 16:07] jobarratt opened #436 "fd.io Team Page organisation"
# Overview

Suggested approach for how to organise the Team page on the new frictionless data site.
https://next.frictionlessdata.io/team/#active-core-team-members

---

- Can we remove 'core' from the first heading heading? I feel 'active team members' or just 'team members' is fine.
- is it possible to have a grid arrangement, so there is not the inevitable sense of hierarchy that comes with a l

[2020-03-05 16:28] lwinfree commented on #430
@rufuspollock yes it's on my Monday to do list now!

[2020-03-05 17:48] rufuspollock commented on #436
@jobarratt what's the issue with core - i took it from vuejs and reflects that these people are often "core". What's your concern there? (I'm not attached to the name but indicating some sense of this can be useful so want to understand if its about the name or something else).

@jobarratt i've got no issues with hierarchy 😉 - if that is a concern there i'm happy to have a chat as that is much mor

[2020-03-06 06:20] rufuspollock opened #558 "DataDown - data snippets / files / datasets in markdown"
I've had the idea of DataDown for years but never written it up!

"DataDown": having a syntax (based on e.g. Data Resource and/or Data Packages) for including data resources / datasets *in* markdown (you could also reuse as entire file cf formatting for pages for static site generators where you have frontmatter and body - this is almost a separate idea)

[code]

This should render as a nice mini

[2020-03-06 06:29] rufuspollock commented on #558
@domoritz any thoughts / suggestions?

[2020-03-06 06:29] rufuspollock opened #555 "CSV in Markdown"
This is a topic about using CSV in markdown. (cf also DataDown frictionlessdata/forum#7)

[code]

Would render as:

A | B | C
--|--|--|

## Job Stories

When I am writing markdown and want to have a table (esp data type table) I want to be able to make it quickly and easily

* Current markdown table syntax is cumbersome (and error prone) esp for small "data" type tables

When I am documenting a da

[2020-03-06 07:16] rufuspollock commented on #617
@augusto-herrmann a great question 👏 😄

I've spent quite a bit of time recently thinking about data "versioning" and version control and am actively working on it, see e.g. http://tech.datopian.com/versioning/

To start with could you share a bit more about the underlying user/job stories for this e.g. are you concerned about efficient storage, efficient syncing, diffing, patching etc etc. You may

[2020-03-06 08:49] jobarratt commented on #436
Running through his is an assumption that vuejs is excellent! i don't share this view, at least for this particular issue. I'm commenting on the design as i see it on it's own terms.

I mean i do have an issue with hierarchy actually. In terms of dominator/growth i think this depends on the perspective on the viewer rather than what we think, and that's what i'm talking about here - it's a UX cons

[2020-03-07 08:01] rufuspollock opened #437 "Post blog about Fosdem talk with slides / content"
@lwinfree awesome we did a talk at Fosdem and let's blog about it 😄

Would you be up for putting up a post with a summary and any slides / content / photos you have?

[2020-03-07 08:01] rufuspollock opened #561 "Integration with Zenodo"
@pdurbin wrote (Feb 12 on gitter)

@lwinfree wrote

[2020-03-09 09:11] lauragift21 commented on #431
@rufuspollock I fixed your comments on the document. Overall changes added include:
- a clear description of the document
-  % for quality
- % for reusability
- detailed comments

I've updated the issue to reflect this change as well. Kindly review and let me know the next steps.

[2020-03-09 21:05] lwinfree commented on #437
slides: http://bit.ly/FDfosdem

[2020-03-09 21:06] lwinfree commented on #437
and here's the rest of the info including a video of the talk: https://fosdem.org/2020/schedule/event/open_research_frictionless_data/

[2020-03-09 22:57] lwinfree commented on #430
@rufuspollock here's our old [working doc](https://docs.google.com/document/d/1qtVds63PwsRqFhm209jdJk0e-QZ3C_XgK7yB-nP6c-0/edit) (hasn't been updated in a while since we paused working on it)

Overall, the plan for docs was to make sure they are:
1) in 1 place
2) organized in a logical way
3) searchable

More specifically, at [https://docs.frictionlessdata.io/](https://docs.frictionlessdata.io/#/)

[2020-03-10 09:56] lauragift21 commented on #434
Update: I've read and watched the video and now working towards researching options for online code platforms. After doing a breadth-first search, I found a couple of platforms that will be useful for our use-case my next steps will be doing an in-depth look at each of the platforms and comparing each one based on what we need it for (ability to have live code examples in diff languages). [Here's

[2020-03-10 10:37] lauragift21 commented on #434
_**Identify Criteria Complete. A couple of questions to ask when evaluating options for which platform we should choose.**_

- What languages does the platform support?
- Can it be added as an embed to FD Docs?
- Is it popularly known or used?

[2020-03-10 12:34] lauragift21 commented on #434
_**Evaluate options against this**_ - After evaluating Repl.it comes back as the recommended option for us to use in our guide.

[2020-03-10 13:50] rufuspollock commented on #437
@lwinfree great - are you updating for blogging this on FD?

[2020-03-10 16:49] rufuspollock commented on #436
@jobarratt how are you getting on with your PR for community partners?

Also are you happy for us to have some emeritus people e.g. Dan?

[2020-03-10 16:54] rufuspollock commented on #435
@lwinfree let me know when you have read the contributing guidelines in case you have any questions.

[2020-03-11 20:55] rufuspollock opened #438 "Brainstorm list of howtos (maybe in job story form)"
Create a list (e.g. 5-20) potential howtos we could write re FD. Preferred form would be a job story. Example:

**IN PROGRESS in this spreadsheet: https://docs.google.com/spreadsheets/d/1qByu4qw56hFUdJIY5IOC7d8TQBud-k31J6720hg1h2w/edit#gid=1272791416**

@lwinfree @roll I've booted this issue for you guys following on from chat the other day. Feel free to amend / update.

## Acceptance

* [x] A lis

[2020-03-11 21:27] lwinfree commented on #438
Hey @rufuspollock, thanks for getting this started. We can document our work in this issue. However, I also want to note that we had all agreed that I was going to do this task (start this issue), and I just want to make sure that we are all still on the same page and sticking to our project plan 😃

[2020-03-12 17:01] rufuspollock commented on #438
@lwinfree yes, you are doing the issue. I just booted just b/c i had not seen anything in last 48h and did not want it to overflow from (my) stack.

[2020-03-12 19:36] lwinfree commented on #438
I think this brings up a good point that it would be helpful to put project management guidelines on the agenda for the next call. I want to make sure that we all have the same expectations and agree to a plan of action to optimally work together. I'm starting the list in the existing spreadsheet [here](https://docs.google.com/spreadsheets/d/1qByu4qw56hFUdJIY5IOC7d8TQBud-k31J6720hg1h2w/edit#gid=12

[2020-03-12 20:42] lwinfree commented on #431
Hi @lauragift21! There are a few other documents that are missing from this analysis, mainly located in the old labs blog (https://okfnlabs.org/). Here's a list of the ones that I think are missing from your current spreadsheet. Do you think you could go through these ones too and do the same analysis? Your analysis is really helpful, so it would be awesome to have it for these too. Some of this c

[2020-03-12 21:38] lwinfree commented on #435
I'm going to go page by page and make notes in separate comments as I go. Also I want to preface these comments by saying that this site work is already a big improvement, and these comments are here to be helpful (and not nit-picky 😄)

**homepage**:
- the scrolling text is unpleasant from a UI perspective. I recommend removing the responsive typing.
- "zen" doesn't make sense here to me. I recomm

[2020-03-13 08:26] lauragift21 commented on #431
Yes, thanks for pointing these out @lwinfree. I will do an analysis of these content as well.

[2020-03-13 12:04] jobarratt commented on #436
@rufuspollock from my site this is done.

I'm not keen on emeritus, though if you feel strongly please reach out to relevant people. i do want to insist on explicit consent for Emeritus, and if we have that then fine to have a section for it. I've removed for now.

I'm going to ask @lwinfree to review my PR and add a couple of details and then we can merge.

[2020-03-13 13:51] lauragift21 opened #439 "Fix overlap in Navbar next.frictionless.io"
# Overview

There's an overlap between dropdown in the navbar when more than one link is clicked.

---
<img width="1151" alt="Screenshot 2020-03-13 at 2 50 26 PM" src="https://user-images.githubusercontent.com/17781315/76626745-02573680-653a-11ea-8869-1932a5134b41.png">

[2020-03-13 21:48] lwinfree commented on #435
On http://next.frictionlessdata.io/data-package/#datapackage-json:

[code]

Remove the exclamation points? Also, the first sentence says there will be an example, but then there isn't one.

At the bottom, there is a link to the Data Package Viewer. This isn't maintained is it?

[2020-03-13 21:55] lwinfree commented on #435
this page doesn't exist: http://next.frictionlessdata.io/products/data-package/ (from Tooling --> Data Package Tools')

[2020-03-13 22:00] lwinfree commented on #435
For the 'Tooling' sections, I like the flow/layout of the [Goodtables page](http://next.frictionlessdata.io/products/goodtables/) much better than that of the [Table Schema tools page](http://next.frictionlessdata.io/products/table-schema-tools/)

[2020-03-13 22:00] lwinfree commented on #435
Also for the Tooling sections, what happened to the idea of having the hexagons with different stages of the data workflow being shown on the pages? I thought that was a great idea!

[2020-03-13 22:01] lwinfree commented on #435
For the [labs](http://next.frictionlessdata.io/products/labs), it would be nice to include a sentence asking for contributors & a link to contributor guide.

Also, I think we should include more things that were in the universe section of the old site, like https://github.com/nimblelearn/datapackage-m & the 2019 tool fund repos

[2020-03-13 22:07] lwinfree commented on #435
In the Help section, for the 'Free Community Support' section, please add:

'Ask in the Chat room or open an issue in the GitHub Forum _and a member of the community or of the core team will gladly help you_'

[2020-03-13 22:12] lwinfree commented on #435
In the [contribute page](http://next.frictionlessdata.io/contribute) we should link to a contributor's guide - but this guide doesn't exist yet 😞 This is what we usually link to https://github.com/okfn/coding-standards but we should make a real contributors guide.

[2020-03-14 06:43] rufuspollock commented on #436
@jobarratt let's remove emeritus for now, np. We can re-add later if it becomes useful.

[2020-03-16 08:23] lauragift21 opened #440 "Content Writing for Frictionless Data Guide"
# Overview

Work out content for the guide on [next.frictionless.io](next.frictionless.io)
## Tasks
Write out content for the sections outlined below:
- [x] Table Schema
  -  [x] Table
  - [x] Table Schema
  - [x] Validation
  - [x] Tabulator
-  [ ] Data Resource
   -  [x] CSV Dialect
   -  [x] (Pre)view
   -  [ ] CSV to Excel (with Correct types)
-  [ ] Data Package
   -  [ ] Load to SQLite
   -

[2020-03-16 08:35] lauragift21 commented on #440
I'm currently working on [Validation](https://hackmd.io/605lAS1xTHC0anrKhTXp5A?both#Validation) section of the Guide.

### Task
- Write out content on validating table data
- Show examples using Goodtables Python and JavaScript Libraries.

### Blockers:

- Running examples with the JavaScript library. From the documentation I need to pass an `API TOKEN`, `API Source ID` as seen below.

[code]
I'm

[2020-03-16 10:59] rufuspollock commented on #435
@lwinfree this is great 👏 One point that may be useful is to focus on the blog section (as per the tasks section) more than the whole site for now and then come back to main pages. E.g. we know there are some broken links and we'll collect those in one go.

Also re the comments: would it be ok if you collect these in one list either in hackmd or into a separate section of the issue description as

[2020-03-16 16:15] lwinfree commented on #436
closed via https://github.com/frictionlessdata/website-v2/pull/46

[2020-03-16 16:22] lwinfree commented on #436
hmmm the PR passed tests on github, but has now failed to build. @lauragift21 can you help me look at this? or is there someone else that is the point person here? https://github.com/frictionlessdata/website-v2/runs/511553111?check_suite_focus=true thanks!

[2020-03-16 16:35] lwinfree commented on #435
Hey @rufuspollock sure I can compile these into a hackmd & I'll link it in the top comment so it can be more easily parsed.
The blog bits are on my to-do list this week, once I finish with the general proof reading. As there are a lot of blogs, I imagine this will take a while, but I'll try & update this with my progress as I go along.

[2020-03-16 17:36] lauragift21 commented on #436
Of cos @lwinfree I'll have a look.

[2020-03-16 18:21] lauragift21 commented on #436
I fixed it here and fixed a broken image https://github.com/frictionlessdata/website-v2/pull/48 @lwinfree

[2020-03-17 09:54] lauragift21 commented on #482
This is the page you are talking about right? https://next.frictionlessdata.io/reproducible-research

[2020-03-17 11:39] lauragift21 commented on #439
I checked out how to get this fixed and it appears it's a bug from Vuepress itself. I created an issue on the official repo https://github.com/vuejs/vuepress/issues/2227 and asked a question on [stackoverflow](https://stackoverflow.com/questions/60721306/how-to-fix-navbar-overlap-on-dropdown-items-with-a-vuepress-site) @rufuspollock

[2020-03-17 14:22] lwinfree commented on #482
Hi @lauragift21 yes, thanks! I couldn't find it. I looks like it isn't linked anywhere - not in the nav bar or any other menu. It also looks like it needs to be styled (and maybe edited a little).

[2020-03-17 15:41] roll commented on #438
I think we can use some generalized approach for integration specific tutorials. We have a matrix of source/targets and actions/stories:

## Source/target

- SQL
- BigQuery
- Pandas
- ElasticSearch
- SPSS
- CKAN
- [ extend here ]

## Stories

- Export data and metadata from {source} to FD
- Import data and metadata from FD to {target}
- [ extend here ]

Writing or adopting a first tutorial could c

[2020-03-17 17:12] rufuspollock opened #441 "Guide: Table and Table Schema, Validation, and Tabulator"
Create the first main section of the guide on tables.

Subissue of: #430

## Acceptance

- [x] We have a working guide for Table and Table Schema
- [x] We have a working guide for Validation and Tabulator

https://hackmd.io/605lAS1xTHC0anrKhTXp5A

## Tasks

* [x] What is a table
* [x] Table schema
* [x] Validation
* [x] Tabulator

[2020-03-17 17:16] rufuspollock opened #442 "April 2020 Virtual Community Hangout"
Organize a 1h community hangout to chat about recent developments in Frictionless and data generally and next steps. Invite community members to it ...

Organizer: @lauragift21 (Datopian) and (tbc) @lwinfree

Date: 20th April 5pm CET

## Acceptance

* [x] Blog post for the hangout (where we can also post updates afterwards)
* [x] Announce on social media, x-post on blog.okfn.org and datopian.com a

[2020-03-17 17:18] rufuspollock opened #443 "Gift intros herself e.g. on chat and in a blog post"
When I am am member of FD community or checking out website i want to know if new people are contributing and who they are so that I know what is going on and that things are progressing

## Acceptance

* [x] Post is up - https://www.datopian.com/blog/2020/03/20/joining-the-frictionless-data-team/
* [x] Have said hello (maybe more than once) on chat ...

## Tasks

* [x] Write a short blog post int

[2020-03-17 18:31] lwinfree commented on #442
awesome! I added more people to the list :-)

[2020-03-18 12:15] augusto-herrmann commented on #442
Cool! I'm up for it.

[2020-03-18 12:29] danielfireman commented on #442
Same here.

[2020-03-18 13:13] lauragift21 commented on #431
Done. @lwinfree I added analysis for content you pointed in the spreadsheet. https://docs.google.com/spreadsheets/d/1qByu4qw56hFUdJIY5IOC7d8TQBud-k31J6720hg1h2w/edit#gid=23938125

[2020-03-19 10:43] lauragift21 commented on #441
In Progress: Content Draft written here. https://hackmd.io/605lAS1xTHC0anrKhTXp5A

[2020-03-19 14:31] lauragift21 commented on #440
@julietezekwe here's the issue I mentioned you can take a look at the repo to figure out the problem. https://github.com/frictionlessdata/goodtables-js

[2020-03-19 14:40] julietezekwe commented on #440
Ok, I will take a look at it and revert

[2020-03-19 15:34] lauragift21 commented on #443
I wrote up a blogpost @rufuspollock can you take a look and let me know if it looks good and also share where this should be published. Datopian blog or FD? https://hackmd.io/HluqIwd-SUmFs5lmGziqzA

[2020-03-19 15:45] lauragift21 commented on #443
Also is it okay to post this to my personal blog and dev.to?

[2020-03-19 18:03] rufuspollock commented on #443
@lauragift21 looks great and i've made a few tweaks (you can check the diff to see).

Re x-posting: absolutely yes 👍 👍

[2020-03-19 18:08] rufuspollock commented on #441
@lauragift21  let me know when you need this reviewed?

[2020-03-19 20:40] lwinfree commented on #431
thank you @lauragift21 !

[2020-03-20 06:38] lauragift21 commented on #443
Alright, thanks @rufuspollock  Lastly, should this go on the Datopian.com blog?

[2020-03-20 06:39] lauragift21 commented on #441
Alright, sure I will.

[2020-03-20 14:28] lauragift21 commented on #439
I found a temporary fix for this issue and it works. While this is still a bug with vuepress having this solution works for us at the moment. https://github.com/frictionlessdata/website-v2/pull/53 @rufuspollock @lwinfree

[2020-03-20 14:29] iSnow commented on #442
Depends on the COVID-situation. We have to work, home-school kids and look after relatives, so only if the pandemic situation is getting better.

[2020-03-20 22:19] lwinfree commented on #435
@rufuspollock here's a doc listing changes for the blog: https://hackmd.io/8mNIPKnAQDKf21n47k-2Kg
My proposed plan is that I can spend some time next week making the changes (things like removing '!!!' and fixing formatting/typos). Let's discuss at our meeting on Tuesday?

[2020-03-23 12:56] lauragift21 opened #444 "Guide: Data Resource, CSV Dialect (CSV to Excel..)"
Write out the section for the guide on Data Resource.

subissue of: #430

### Content Draft

https://hackmd.io/tEXrveiyRN2OfxrnwPZ_7g

## Acceptance

* [x] we have a working guide for Data Resource, CSV Dialect
* [ ] we have a working guide for (Pre)view and CSV to Excel (with Correct types)

## Tasks

* [x]  Data Resource
   * [x] Tabular Data Resource
* [x]  CSV Dialect
* [ ]  (Pre)view - i.e. v

[2020-03-23 20:22] lwinfree commented on #435
@rufuspollock & team, here is a hackmd that has the above website edits collated: https://hackmd.io/l5GKi8tRRsqdbeiunDOJPA

[2020-03-23 22:18] rufuspollock commented on #435
@lauragift21 can you check this out.

@lwinfree feel free to start making pull requests esp for the proof edit type stuff.

[2020-03-24 10:55] lauragift21 commented on #435
@rufuspollock @lwinfree I can also work on some of the edits requested.

[2020-03-24 14:13] monikappv opened #445 "[v2] Update to new (final) FD logo (v3)"
*Description*

Issues

* Navbar logo is in PNG format [and should be in svg format] - can have backup png if needed (e.g. svg does not always copy and paste well)
* Logo is actually not correct in the sense that the "flow" in the middle actually extends outside the circle and turns into a hockey stick (left over from previous design efforts)
  * does not end cleanly at edge of circle

## Acceptanc

[2020-03-25 11:40] lauragift21 opened #446 "Website v2.1 - misc fixes after release of v2"
v2 is shipped ... (https://github.com/frictionlessdata/project/projects/2) and there's more to do 😄

## Acceptance

The blog has pagination implemented

## Tasks
* [x] Chat link in the navbar
* [x] *Nice* Github repo link in the navbar (just the icon please!) - should link to the base I think or the project repo ... **Gift - Not able to add icon because of how vuepress config works**
* [x] get rid

[2020-03-25 13:24] lauragift21 commented on #445
@monikappv are you already working on this?

[2020-03-25 13:35] lauragift21 commented on #435
@rufuspollock @lwinfree I've added the changes we discussed yesterday it's[ now live](https://next.frictionless.io).

@lwinfree can you clarify this line in changes for the blog. **_Need to add bco-dmo blog & catalyst blog_**

[2020-03-25 14:44] lwinfree commented on #435
Thanks @lauragift21 that's great!
Yes, there are 2 blogs that I would like to add to the website. They are both from FD Pilot projects, and were originally published on the OKF blog, but I think really belong on the FD site. Could you please add them?
- https://blog.okfn.org/2020/02/10/frictionless-data-pipelines-for-ocean-science/
- https://blog.okfn.org/2020/03/18/frictionless-public-utility-dat

[2020-03-25 15:55] lauragift21 commented on #435
Yeah, sure I'll add those as well. @lwinfree

[2020-03-26 07:30] lauragift21 commented on #441
Update: Currently facing an Issue with the goodtables-js library I've created an issue on the repo to address it. https://github.com/frictionlessdata/goodtables-js/issues/23

[2020-03-26 10:15] monikappv commented on #445
@lauragift21 received the xd file today, I'm on it.

[2020-03-26 12:30] lauragift21 commented on #441
Ready for review. The only blocker right now is adding a demo for goodtables-js library. @rufuspollock

[2020-03-26 14:44] rufuspollock commented on #428
FIXED. All done. Remaining future items moved to https://github.com/frictionlessdata/project/issues/446

[2020-03-26 14:44] #428 closed, assigned to nobody

[2020-03-26 14:48] monikappv opened #447 "[v2] Add functionality to tags on FD blog page"
Issue: some blog posts have tags, but the tags do not have any functionality (nothing happens when you click on them).

## Acceptance

* [x] we have a tags page that contains blog post links grouped by their tags
* [x] all tags lead to particular relevant section on the tags page when clicked on them

## Tasks

* [x] add tags.md page
* [x] investigate the problem with the tags not working
  * [x]

[2020-03-26 15:05] monikappv commented on #447
FIXED.

See live on https://next.frictionlessdata.io/blog/.

[2020-03-26 15:05] #447 closed, assigned to monikappv

[2020-03-27 13:34] roll commented on #432
@amercader
It looks good as far as I can see but it makes sense to wait Monday before pulling the trigger

Also, I think it would be much better to manage all the redirect on the vuepress level for flexibility and speed of fixing problems

[2020-03-27 13:57] roll commented on #432
I mean the subdomains should be redirected on Cloudflare level for sure. But managing individual page redirects will be much better to manage in the codebase

[2020-03-27 15:52] amercader commented on #432
@rufuspollock

What repo is that? I assume is not this one as there is no gh-pages branch

[2020-03-27 16:04] rufuspollock commented on #432
@roll all the redirects *are* done in the local codebase. the redirects here are the ones that *have* to happen in cloudflare (see comment in the description!)

@amercader you'd cname to frictionlessdata.github.io i believe (as per normal).

@roll @amercader can't this happen today? these changes in cloudflare are non-breaking - the specs website is operational for weeks 😉

[2020-03-27 16:17] roll commented on #432
I see my bad. My focus is disordered as we're preparing to quarantine

I think we need to do the switch when both I and Adria (and maybe Lilly) are online to assist in real-time in case of any problem

[2020-03-27 23:52] monikappv commented on #445
Logos are correctly done and in SVG format live on https://next.frictionlessdata.io/.

Created a design page, see screenshots below or live on https://next.frictionlessdata.io/design

![designpageFD](https://user-images.githubusercontent.com/56799741/77808986-63345200-7096-11ea-870f-fcf31b61cdca.png)

![designpage2FD](https://user-images.githubusercontent.com/56799741/77808987-63cce880-7096-11ea-8

[2020-03-27 23:52] monikappv commented on #445
FIXED.

[2020-03-27 23:52] #445 closed, assigned to monikappv

[2020-03-30 08:22] lauragift21 commented on #441
The content is ready for review @rufuspollock

[2020-03-30 11:24] amercader commented on #432
@lwinfree @rufuspollock @roll As of now we've done

* Set up https://old.frictionlessdata.io
* Redirects for `/specs/`
* Redirects for `/schemas/`

![Screenshot_2020-03-30 Page Rules frictionlessdata io Account Cloudflare - Web Performance Security](https://user-images.githubusercontent.com/200230/77907145-69d6eb00-7289-11ea-8ba0-f3741d9ee39c.png)

I'm holding in updating the records for the main

[2020-03-30 12:00] lauragift21 commented on #432
@amercader I've just updated the CNAME on the main site.

[2020-03-30 12:08] amercader commented on #432
Thanks @lauragift21 , the DNS records are now updated

[2020-03-30 12:33] roll commented on #432
@lauragift21
My quick search for broken links:

https://frictionlessdata.io/blog/data-package
https://frictionlessdata.io/docs/tabular-data-package/
https://frictionlessdata.io/docs/tabular-data-package/
https://frictionlessdata.io/software/
https://frictionlessdata.io/articles/
http://frictionlessdata.io/blog/data-package
http://frictionlessdata.io/website-v2/
http://frictionlessdata.io/website-v

[2020-03-30 12:47] roll commented on #432
@lauragift21
http://specs.frictionlessdata.io/ - Table Schema is missing at the left

[2020-03-30 13:01] lauragift21 commented on #432
@rufuspollock @roll will look into these and fix asap.

[2020-03-31 10:59] roll commented on #432
Hi @lauragift21,

I received an email yesterday about https://old.frictionlessdata.io/field-guide/ - some person was reading it but it's not available anymore. I sent him the link above for now. But flagging it

[2020-03-31 11:38] rufuspollock commented on #441
@lauragift21 on my queue - could you get an initial review e.g. from @monikappv or @mpolidori?

[2020-03-31 12:04] lauragift21 opened #448 "Fix redirect bug on website"
When you are redirected to frictionlessdata.io you have to reload the page to see the result else it'll lead to a 404 page.

## Acceptance Criteria
- [x] Redirection is working as expected without the need to reload the page.

## Tasks
- [x] Reproduce the bug with `frictionlessdata.io/field-guide`
- [x] fix the redirect bug
Please preserve this line to notify @lwinfree (lead of this repository)

[2020-03-31 12:17] lauragift21 commented on #432
Yes, thanks for pointing it out @roll. I'm looking into it here #448

[2020-03-31 13:14] rufuspollock opened #574 "Frictionless (Data Package) <=> CKAN"
**Flagging existing repo here: https://github.com/frictionlessdata/ckan-datapackage-tools (a bit lacking in docs if someone wanted to help out 😄**

Quick recipe (maybe evolving into a lib) for mapping from CKAN metadata <=> Frictionless specs

Job story: When getting data in and out of CKAN I'm frequently using Frictionless formats and tools (its my default format for extraction from other systems

[2020-03-31 13:30] rufuspollock opened #554 "Forum section on website powered off github issues (this repo!)"
Could we ~~hack~~ use a github issues based comment system e.g. https://utteranc.es/ (2.3k*)  or https://ocs.now.sh/ (218*) or vssue (337⭐) https://vssue.js.org/

Couldn't find any immediate app that did this as forum itself.

[2020-03-31 13:46] roll commented on #574
@rufuspollock
@lauragift21
FYI there is https://github.com/frictionlessdata/tableschema-ckan-datastore-py#getting-started.

I'm not sure if it can just read from public CKAN without an API key (cc @amercader). But in general, it should be possible to use it like any other `tableschema` driver:

[code]

I can check the sate of the driver if needed. It was written long ago I guess by Brook.

[2020-04-01 14:02] mpolidori commented on #441
@lauragift21 I can take a look ~later today~ this weekend

[2020-04-01 14:35] lauragift21 commented on #448
My understanding is this behavior is from vuepress and redirecting after build/production will result in a 404 page but works after a refresh. See https://github.com/vuejs/vuepress/issues/160

I've not found a solution to this yet and will need help if anyone is open to looking into this together. cc @lwinfree

[2020-04-01 14:43] lauragift21 commented on #423
* Followed manual testing by picking random urls
    * Test failed for `/software/`
        * restarting the website
        * SUCCESS its redirecting to `/products/` :+1:
    * `/docs/joining-tabular-data-in-python/` should redirect to `/blog/2018-04-05/joining-tabular-data-in-python/`
        * Result: SUCCESS :+1:
    * `/articles/university-of-pittsburgh/` should redirect to `/blog/2017-12-15/

[2020-04-01 15:37] lauragift21 commented on #448
I've fixed this now. I found a helpful solution to diverting the behavior. It's an issue with server-side mismatch issue and vuepress. More details on that here https://github.com/vuejs/vuepress/issues/1382

This https://frictionlessdata.io/field-guide now  redirects to https://frictionlessdata.io/guide

@lwinfree @rufuspollock

[2020-04-01 15:58] lauragift21 commented on #432
@roll I've fixed the redirect issue on the site and tested out the broken links of which most of them now work. AFAIK some of the links have an additional `/website-v2` which will always return 404 because it's a wrong link.

[2020-04-01 16:02] lwinfree commented on #448
Awesome @lauragift21 !

[2020-04-01 16:03] roll commented on #432
@lauragift21
Awesome

BTW these website-2 links leak somewhere because it was found by a broken links checker

[2020-04-01 19:25] ismail-shahzad commented on #423
@lauragift21 I dont remember much but I think I might have tested these during development on my machine.
But going through the commit history, I see commits like fix broken links, etc. So this might be working after `build` too.
![Screenshot from 2020-04-02 00-20-48](https://user-images.githubusercontent.com/57398621/78177688-ee875c00-7477-11ea-97ef-8960e214d470.png)

[2020-04-01 19:37] rufuspollock commented on #574
@roll great 😄 Can you show/share a minimum viable code snippet of using this code "in action"?

My use case was converting a data package *to* ckan metadata - and then doing some further manipulation b4 storing. So I just wanted the raw convert of the schema from one dict to another - do we have a recipe or function that does just the simple conversion?

[2020-04-02 08:39] lauragift21 commented on #423
Thanks, I've fixed the issue I had. @MuhammadIsmailShahzad

[2020-04-02 09:22] #448 closed, assigned to lauragift21

[2020-04-02 09:38] monikappv opened #449 "[v2] Have footer content only in one file"
Currently we have the footer content duplicated across two files..

## Acceptance

* [x] regardless of how many footers we use, we have the footer content only in one file --> in the config.js file

## Tasks

* [x] set variables for the footer content in the config.js
* [x] replace the content of the two footers with variables e.g. {{ $site.themeConfig.footer_col1_title }}

[2020-04-02 09:45] monikappv commented on #449
FIXED.

Created a PR - https://github.com/frictionlessdata/website-v2/pull/61.

[2020-04-02 09:45] #449 closed, assigned to monikappv

[2020-04-02 10:12] #443 closed, assigned to lauragift21

[2020-04-02 10:13] #439 closed, assigned to lauragift21

[2020-04-02 17:25] rufuspollock commented on #443
@lauragift21 did you post on chat? did you get any responses?

[2020-04-02 20:19] rufuspollock opened #450 "[inbox] Rufus Inbox re Frictionless"
Inbox is GTD inbox of things in backlog that we may want to process.

## Inbox

* [ ] 🐘 product page for `data` tool
  * [ ] design for `data` tool (always bet on javascript)
* [ ] Change logo on github.com/frictionless to new logo ~5m
* [ ] favicon for the sites either based on logo or package 📦 or toolbox 🧰
* [ ] Merge command line zen into zen of data … (and move this to datahub.io/zen ?) https

[2020-04-02 21:07] simonw commented on #450
Let's talk! DM me on Twitter - https://twitter.com/simonw

[2020-04-03 09:05] lauragift21 commented on #443
Yes, I posted on chat and the forum. No response.

[2020-04-03 14:51] roll commented on #574
@lauragift21
@rufuspollock
I don't think we have something for the low-level conversion of metadata formats. I've played with the Tableschema-CKAN driver - it's quite raw but I was able to use it for exporting data from a CKAN dataset.

Here is a script based on @lwinfree's template for tutorials - https://colab.research.google.com/drive/18xFFAooVcca5wfW-7hW_juLkaTdN9FI0#scrollTo=Qv9bmfRA756R (I u

[2020-04-05 22:30] mpolidori commented on #441
@lauragift21 Here's my [review HackMD](https://hackmd.io/7BRdmxuUT7y4gvxgmRvWEA?view) and a [diff](http://www.mergely.com/DecBQDT2/) (if you want to see the exact changes).

[2020-04-06 08:12] lauragift21 commented on #441
Thanks, @mpolidori. Really helpful review.

[2020-04-07 14:35] lauragift21 commented on #446
DONE. Moving the last undone item to the next sprint.

[2020-04-07 14:37] #446 closed, assigned to lauragift21

[2020-04-07 14:42] rufuspollock commented on #438
FIXED. We now have a list of 10 howtos. We will keep adding no doubt but done for now. Will be follow up issues to actually do howtos.

[2020-04-07 14:42] #438 closed, assigned to roll, lwinfree

[2020-04-07 14:44] rufuspollock opened #451 "[docs] HowTos Template"
For creating howtos we want a template that we can use.

We also want to decide e.g. if we are using jupyter notebooks and if so where we are storing the source etc.

## Acceptance

* [x] Howtos template
* [x] Use (or not) of things like jupyter notebooks
* [x] How we storing (version controlling) these notebooks
* [x] How we are embedding / integrating these notebooks

## Tasks

...

[2020-04-07 14:45] lauragift21 opened #452 "Add Case Studies Tag Systematically to the Blog"
When looking at Frictionless Data I want to know who has used this and how so that I can see if it fits my needs => Case Studies

## Tasks

- [x] Tag the case studies in the blog /tags/case-studies/ which listed them all …
- [x] https://frictionlessdata.io/tags.html - Remove the ‘html’ from the url
- [x] Can we get a page per tag …
- [x] Add “Case Studies” to the navbar
- [x]  Add tag themes to bl

[2020-04-07 14:46] rufuspollock opened #453 "[howto] Write 2-3 howtos"
Write the first howtos and have them live on the website at e.g. `/howto/.../`

## Acceptance

* [ ] 1-3 howtos published on the site

## Tasks

* [x] Identify the top  2-3 howtos we want to write
* [x] Write one of them
* [x] Review
* [ ] Publish
* [ ] Rinse and repeat

[2020-04-07 14:48] lauragift21 commented on #452
## tag themes:
**Note - some tags already exist (like 'goodtables'), and show on the site, but aren't currently functional**
- Tool Fund
- Reproducible Research
- Demo
- Tutorial (or how-to?)
- DataPackage
- GoodTables
- Tableschema
- Publishing data
- Validating data
- Python
- JavaScript
- R
- other languages?
- Pilot collaboration
- Case study
- Community
- Metadata
- Specifications

[2020-04-07 14:54] lauragift21 opened #454 "Announce (blog etc) about new frictionless data website"
Announce (blog etc) about new frictionless data website and post it around in different channels (e.g. datopian blog; twitter; gitter; fd blog; data community…)

## Acceptance Criteria
https://frictionlessdata.io/blog/2020/05/01/announcing-new-website/
- [x] A blog post announcing the release is published
- [x] Shared blog post on Twitter
- [x] Shared blog post on Discord
- [x] Shared blog post on

[2020-04-07 15:04] rufuspollock opened #455 "Rename website repo to website-old and website-v2 to website"
Minor "house-cleaning". Should be very straightforward.

## Acceptance

* [x] `website` repo is renamed to `website-old`
* [x] `website-v2` repo is renamed to `website`

## Tasks

* [x] check what repositories we have for the website --> `website`, `website-v2` and `new-website`
* [x] have a look at `new-website` repo and decide if we need it --> some old vuepress experiment --> `archived` for now

[2020-04-07 15:06] monikappv opened #456 "Improve the general look and feel of the FD home page"
Make the home page look more professional based on Sylvie's new moodboard https://drive.google.com/open?id=1vcBCijEa7uRTLbsqa_0eUDvu6qkyV6hz

A preview of the new moodboard:

![preview](https://user-images.githubusercontent.com/56799741/79446310-b1c67380-7fe6-11ea-8bdd-17021b7ae1f2.png)

## Acceptance

* [ ] home page looks better than the current one
* [ ] home page looks more professional

## Ta

[2020-04-08 08:17] monikappv commented on #455
FIXED.

[2020-04-08 08:17] #455 closed, assigned to monikappv

[2020-04-15 18:34] monikappv commented on #456
@rufuspollock please review and let us know your thoughts 😄

[2020-04-15 18:39] monikappv commented on #456
Also, @lwinfree @jobarratt your feedback, suggestions a/o ideas for improvement are very welcome.

[2020-04-15 18:57] lwinfree commented on #456
Hi @monikappv! These look really nice overall! I like V1 the best. I still think that the "Some of our Tooling" section should go up higher. I would put it after "For anyone who works with data". Also, I'd change most of the wording in the progressive data toolkit paragraph. I can play with that & give you a suggestion in a later comment.

I'd be curious to hear people's opinions about the green?

[2020-04-15 19:11] monikappv commented on #456
@lwinfree thanks for the speedy feedback :clap:

P.S. another thing that would be very helpful for us when it comes to content - if you could come up with some descriptions for the 3 listed things in the 'Data integration and management' section, that would be amazing! (right now there's just some random sentence there)

[2020-04-16 09:50] jobarratt commented on #456
@monikappv thank you for sharing!  think these are a huge improvement. I think v2 is my favourite but honestly i would be pleased with any of them.

it would be great if you could give us access to Sylvie's mood board. I'd be interested to see this.

I like the green, i would not have imagined that i would... but i think it's subtle and classy. I think it works really well with the colour illustra

[2020-04-16 10:24] roll commented on #456
I really like `v2` though the logo looks alien for this casual style

[2020-04-16 10:38] monikappv commented on #456
@roll @jobarratt thank you both for your feedback! :sun_with_face:

@jobarratt I uploaded a preview of the moodboard (more like a consolidation of elements and styles) in the issue description.

[2020-04-16 11:10] roll opened #464 "Libraries consolidation for better users/contributors UX"
# Overview

It's a continuation of the discussion - https://github.com/frictionlessdata/project/issues/380. Instead of going into low-level details it's, for now, more focused on the high-level picture.

There are main FD's tools:

![fd](https://user-images.githubusercontent.com/557395/79447268-47aece00-7fe8-11ea-9d2c-ee81aa7d431e.png)

I think in high-level it can be a good map for libraries cons

[2020-04-16 11:14] rufuspollock commented on #456
@monikappv I think these are generally great and a big improvement 👏 .  Overall i think v2 is my preference on coloring atm. Comments / questions

* what's the different between the 3 versions - just in the coloring (?) (i struggled to see the differences super well). (Generally for comparisons it would be useful to have fairly radical different options rather than say just changes in the outline

[2020-04-16 14:02] rufuspollock opened #563 "Frictionless Enhancement Proposals (FEPs) aka Frictionless RFCs"
Stuff like Table Schema Catalog in frictionlessdata/forum#5 is a suggestion for a substantial improvement to FD. Github issues (and their threads) are ok but for complex and/or substantial items they can get confusing => could trial having small docs in the form of "Frictionless enhancement proposals"

[2020-04-16 14:21] rufuspollock opened #467 "[idea] Deprecate software issue tracker and merge issues with project tracker"
@roll what do you think of merging the issues here with project tracker and deprecating / deleting this repo?

Why?

* One way to do things is preferable: right now not clear what is here vs project e.g. https://github.com/frictionlessdata/project/issues/380 - should this be here or in project?
* We don't have the volume of issues or the subdivision of teams that would warrant having a separate sy

[2020-04-16 14:22] rufuspollock commented on #464
@roll could we consolidate this repo issue tracker into project? (cf frictionlessdata/software#41) - it would make it easier for me - and probably others - to follow esp as it connects to frictionlessdata/project#380.

[2020-04-16 14:42] lwinfree commented on #456
+1 to Rufus' comments. Also, I will send some edits/ideas for text @monikappv but I also understand that copy editing this right not probably isn't the best time. Thanks all!

[2020-04-16 17:58] lwinfree commented on #456
Hey y'all, another thing I just noticed is that all these options look identical to the new Datopian homepage design, so we should probably change the colors on one or the other (I'd be open to also changing some graphics, but I think at least changing the colors would be a good solution).
Also, this image was designed to go on FD (and my opinion is that it is really useful!) so I'd like to see it

[2020-04-16 18:36] rufuspollock commented on #456
@lwinfree can we get a separate issue for this - they seem somewhat separate points e.g.

- systematically changing colors is a design system change
- the hexagon item has a separate issue i think (or if not it should do 😄) (and 👍 on us incorporating it - it just needs a bunch of work to do properly ... - though we could use the basic version quickly ...)

[2020-04-16 19:37] lwinfree commented on #444
Hi @lauragift21! I just read through the current guide content & it looks really nice! I'm wondering if you have a plan to incorporate the data package information into the guide as well? I think it should be included. Thanks for your work here!

[2020-04-16 19:41] lauragift21 commented on #442
Hi, A few updates here. We fixed a date for the hangout and I'm happy to invite you to join us for our first virtual hangout on 20th April. 5 PM (CET)  This is a great opportunity to know what's been going on in the Frictionless Data community. Can't wait to see you there. :slight_smile:
https://frictionlessdata.io/blog/2020/04/16/annoucing-frictionless-data-virtual-hangout/

**Link to register:**

[2020-04-16 21:24] lwinfree opened #480 "page #s incorrect on blog"
Hi! The page numbers for the blog are incorrect. Page 2 says page 1 on the page. Also the number on the page is different from the number in the URL pattern (see pic):
<img width="825" alt="blog page numbers" src="https://user-images.githubusercontent.com/17657625/79508173-9ff0ca80-7ffe-11ea-80a2-1b68e44983bc.png">

[2020-04-16 22:07] augusto-herrmann commented on #442
Speaking of Covid-19, we're [using Data Pacakges](https://data.okfn.org/tools/view?url=https%3A%2F%2Fgithub.com%2Fturicas%2Fcovid19-br) for [tracking daily numbers](https://github.com/turicas/covid19-br/) by city in Brazil. Here's [a visualization](https://endoedgar.github.io/covid19-monitorbr/#/BR/SELECT_CITY/last) using that data.

[2020-04-17 09:03] lauragift21 commented on #480
Thanks for catching that @lwinfree. I will work on a fix.

[2020-04-17 09:05] lauragift21 commented on #482
We've added a link to it in the new landing page mockup.

[2020-04-17 09:12] lauragift21 commented on #444
Thank you @lwinfree! Yes, one of the sections I'm working on is focused on Data Packages.

[2020-04-17 13:57] rufuspollock commented on #442
@augusto-herrmann cool! We're doing quite a bit here https://github.com/datasets/covid-19 + https://datahub.io/core/covid-19 and https://datahub.io/collections plus there is a dashboard here:
all running off data packages:

https://datopian.github.io/covid-19/

![image](https://user-images.githubusercontent.com/180658/79576780-19062580-80c4-11ea-83d0-bfcd44e4b3a7.png)

[2020-04-17 14:32] jobarratt commented on #456
The effect of the Datopian site and Frictionless Data site having the same design means that Frictionless Data looks, to all intents and purposes, like a Datopian project. It doesn't reflect the collaborative nature of the project.

For Frictionless Data we either need a brand that factors in both partners visual identity, or we have one which is entirely distinct. Throughout this rebrand process,

[2020-04-17 14:54] lwinfree commented on #435
Hi all! I'm putting this thought here (but please move it/start a new issue if this isn't a good place):

To do: incorporate the hexes (see pic)
<img width="684" alt="data hexes" src="https://user-images.githubusercontent.com/17657625/79582419-58674e80-8091-11ea-944e-5d7168d639b3.png">

[2020-04-17 14:55] lwinfree commented on #456
Hey Rufus I separated out my comments & the hex issue is part of this now (feel free to move it though if that is a bad spot - it was the best I could find) https://github.com/frictionlessdata/project/issues/435

[2020-04-17 14:56] lwinfree commented on #482
Awesome, thanks @lauragift21 !

[2020-04-17 14:57] rufuspollock commented on #456
@jobarratt can we get a different issue for this unless this is specifically about *this* front page.

The overall look of the home page and Datopian home page are IMO pretty different. The main resemblance atm is the orange - which only arose out of the change of logo - the previous one was blue and we had a blue color schema. (and potentially some similar layout b/c both using vuepress and some

[2020-04-17 14:57] lwinfree commented on #444
Great! Thanks - I think it is really coming together :-)

[2020-04-17 14:59] rufuspollock commented on #456
I think it should be a new issue then - i don't think #435 is right place as that is done. I think best best is either https://github.com/frictionlessdata/project/issues/421 (closed) or a new issue.

[2020-04-17 15:04] rufuspollock commented on #435
FIXED. Everything done here. (done a few weeks ago).

/cc @lauragift21 feel free to start closing issues if you complete them  (you don't always need a review and if you do make sure to tag someone - probably not me! - to do it for you 😄

[2020-04-17 15:04] #435 closed, assigned to lwinfree, lauragift21

[2020-04-17 15:38] lwinfree commented on #456
Hey @rufuspollock , mine + Jo's comments are specifically about this homepage and these design mockups, so I think this is the best place for us to discuss this. I want to reiterate that I really like these homepage options that Monika posted and think they look good overall! The only issue that is stopping us from signing off/approving/being 100% on board is what Jo described. As I mentioned earl

[2020-04-20 11:05] roll commented on #467
Hi @rufuspollock, @lwinfree

It's done. Also moved to here a few additional issues that were lost on other inactive issues trackers (from the repos under the project section - https://github.com/frictionlessdata/docs/blob/master/TEAMS.md)

I think when the active stage of the site update is finished it makes sense also to merge the website issues tracker into this one (project). It will make the o

[2020-04-20 11:05] #467 closed, assigned to nobody

[2020-04-20 11:16] roll commented on #467
BTW I'm not sure I fully understand the difference between this issues tracker and `forum` (a lot of issues/discussions are interchangeable in my eyes)

[2020-04-20 15:52] rufuspollock opened #571 "Auto-generate data docs - Convert table schema, data resource and data package to markdown"
When I get a table schema (or data resource or data package) I want to convert it to markdown for presentation or previewing e.g. in README or converting to html so that i can create human readable documentation of my data quickly (and repeatedly)

e.g. I want to create README for data package and i want to insert table schema summary in the README.

## Existing work

* See `data info` command on

[2020-04-20 16:19] rufuspollock commented on #571
/cc @johanricher @danielfireman - i've also wanted this a lot for `data` cli tool https://github.com/datopian/data-cli and you guys mentioned it on the call today.

[2020-04-20 16:22] rufuspollock commented on #432
FIXED. DNS switch happened with redirects.

@lauragift21 can you open a new issue for the broken links if that is still outstanding. And generally you can be proactive to close issues that are complete so that they don't clog up the repo.

[2020-04-20 16:22] #432 closed, assigned to amercader, lwinfree, lauragift21

[2020-04-20 16:31] #441 closed, assigned to lauragift21

[2020-04-20 16:32] lauragift21 commented on #431
DONE. We've collected and analyzed existing content here https://docs.google.com/spreadsheets/d/1qByu4qw56hFUdJIY5IOC7d8TQBud-k31J6720hg1h2w/edit#gid=23938125

[2020-04-20 16:32] #431 closed, assigned to lauragift21

[2020-04-20 16:36] lauragift21 commented on #440
This is a duplicate of #430. so I'm closing to avoid confusion.

[2020-04-20 16:36] #440 closed, assigned to nobody

[2020-04-20 16:39] lauragift21 commented on #434
DONE. Completed research and analysis on a tool to use for embedding live examples on the guide. More details here: https://hackmd.io/Z9AcvLCrT1W__ISoI2NshA?both

[2020-04-20 16:39] #434 closed, assigned to lauragift21

[2020-04-20 16:41] #429 closed, assigned to nobody

[2020-04-20 16:46] lauragift21 commented on #432
Sure @rufuspollock. I've fixed the broken links.

[2020-04-20 16:54] johanricher commented on #571
Hi! We actually built a library to do that for Table Schemas, still very early version obviously but used in production ([see this Gitbook for example](https://scdl.opendatafrance.net/)):
https://framagit.org/opendataschema/table-schema-to-markdown/

Thera's also a Python library but it's deprecated now I think) https://github.com/AntoineAugusti/table-schema-to-markdown

[2020-04-20 17:20] rufuspollock commented on #467
@roll i hear you re forum and project so to clarify: forum i hope is a welcoming place where people can open a first issue, have a look around etc.

If those issues are substantive they may move elsewhere ... (e.g. i did that with a spec issue recently). But it's a good landing spot.

Summary:

* Forum: the default place for anyone out there to open an issue. It means *one* place.
  * Also the cat

[2020-04-20 17:29] rufuspollock commented on #456
@lwinfree i feel there are 2 things here and i think we could keep them distinct so we can keep this thread reasonably clear and keep things moving.

1. the general design of this front page
2. changing colors (if necessary) b/c you and jo feel there is too much similarity to datopian.com and this may lead to issues/confusion for someone

I feel that we are all generally happy with the overall lay

[2020-04-20 18:40] lwinfree commented on #456
Hey @rufuspollock I get what you are saying, but the color is an integral part of the design of this homepage, so I think we need to resolve this. I don't see a benefit in opening a new issue to address a change in the Datopian site - I'd prefer to not be involved in that process as I don't think my opinion should matter for Datopian products :-)
To move forward here with this issue, I'd suggest t

[2020-04-20 19:22] rufuspollock commented on #456
I was suggesting opening an issue about changing color scheme for *FD* @lwinfree - nothing to do with Datopian 😉

@lwinfree sylvie isn't doing any more on this project as she is very busy with other things. I suggest you go through and come up with your alternate rendering - we can send you the draft in XD or your own favourite design program - and then we can compare on how it looks. Could you *p

[2020-04-20 19:42] lwinfree commented on #456
Hey! I don't have a design program :-( But that's why I suggested a light grey-blue in my above comment - I think that would look nice! What if we launch this version with a grey-blue and then we can iterate over it if it looks weird? I'm thinking like this hex code #cfe1e6
Again, I am on board with getting this decided ASAP so we can launch this nice new homepage design.

[2020-04-20 20:02] rufuspollock commented on #456
@lwinfree you can download XD for free and play around. I think that is what the others did. I think it will be worth it as colors tend to affect each other (e..g you change one you need to change another etc - which was why earlier in this thread i flagged this is as a design system time that would prob merit a separate issue).

[2020-04-20 20:11] lwinfree commented on #456
Hey @rufuspollock maybe the person on your team that made this (I assume it was Monika?) can join our meeting tomorrow and they can change the color while we watch & then we can decide & then be able to release tomorrow? Seems like the easiest/fastest solution to me!

[2020-04-21 06:49] jobarratt commented on #456
good idea Lilly! Seems like a good and quick way to resolve this. But if this is impossible, Rufus please send me the InDesign files and i will look at or ask another designer to look at.

The original issue raised is not with the colour. The issue is that the design of the new Datopian site looks too similar to this one.  It's not an agreed fact that the sites look pretty different, though its no

[2020-04-21 12:57] #452 closed, assigned to lauragift21

[2020-04-21 14:25] rufuspollock opened #477 "Follow up to April 2020 Community Hangout"
We have an *awesome* community hangout #442  🎉 and we should write up and post so that those who couldn't make it can find out and follow up

## Acceptance
https://frictionlessdata.io/blog/2020/04/28/recap-post-frictionless-data-hangout-april-2020/
* [x] Recording posted afterwards on youtube channel and embedded in a post (or follow up post)
* [x] New blog post (or update on old one with post inf

[2020-04-21 14:27] rufuspollock commented on #442
FIXED. Hangout happened yesterday and was great. Follow up in #477.

[2020-04-21 14:27] #442 closed, assigned to lwinfree, lauragift21

[2020-04-21 14:37] rufuspollock commented on #436
FIXED. @lauragift21 fixed it i believe.

@lauragift21 please close these when you complete them 😉

[2020-04-21 14:37] #436 closed, assigned to nobody

[2020-04-21 15:02] rufuspollock commented on #453
@lwinfree has done one and will do remaining two in next sprint (by 5 may).

[2020-04-21 15:20] lwinfree commented on #453
I'll ask @roll to review the completed how-to's as well

[2020-04-21 15:35] lwinfree commented on #451
Template in colab notebook is here: https://colab.research.google.com/drive/1zws0ZRz37z4QN5eez1TNdoU45crvPSke

The plan is that Lilly will write the how-to's in colab, then convert to markdown to give to Gift

[2020-04-21 21:49] monikappv opened #478 "Fix bug - logo appearing outside of the navbar"
when I run the site locally, the logo looks fine, but when I deployed it -->

![logoBug](https://user-images.githubusercontent.com/56799741/79917388-16dcf780-8433-11ea-86df-0dba9e04330b.png)

## Acceptance

* [ ] logo is placed within the navbar on the live version

## Tasks

* [x] find a temporarily solution so that it looks ok
* [ ] identify the problem
* [ ] fix it..

[2020-04-21 23:55] monikappv commented on #478
## Temporarily solution

added
[code]
to the logo

**outcome:**
![fdFIXED](https://user-images.githubusercontent.com/56799741/79925881-2a448e80-8444-11ea-9ef5-07fadb51149e.png)

however, it looks now wrong when ran locally -->
![logoBugwtf](https://user-images.githubusercontent.com/56799741/79925962-5eb84a80-8444-11ea-9a15-f40253aa88d3.png)

--> I need to identify the reason for that bug and find

[2020-04-22 09:43] rufuspollock opened #479 "Add forum link to discord in navbar"
When visiting f15a I want to chat with people (quickly) so that I can get help / meet the community

Maybe also add to footer with number of people online - see e.g. footer of https://apostrophecms.com

## Acceptance

* [x] Link in navbar that has good UX (people clear there is chat)

## Tasks

* [x] Get discord unlimited invite link
* [x] Add icon to navbar with link (or maybe just text "Chat") (

[2020-04-22 11:02] roll commented on #480
Hi @lauragift21

I've moved to the project tracker because it seems to have been forgotten because it's not a part to the project kanban board - https://github.com/frictionlessdata/project/projects/3

[2020-04-22 11:03] roll commented on #480
I can confirm this issue still exists. Please take a look if you can

[2020-04-22 11:04] roll commented on #482
FIXED

https://frictionlessdata.io/reproducible-research/

[2020-04-22 11:06] roll opened #481 "The specs logo is outdated"
# Overview

It's still the blue one - https://specs.frictionlessdata.io/

---

Please preserve this line to notify @lwinfree (lead of this repository)

[2020-04-22 11:14] rufuspollock commented on #481
@roll good point - these should link to a common url on frictionlessdata.io so if we update in one place it updates everywhere.

[2020-04-22 12:31] rufuspollock commented on #451
@lwinfree great 👍

Any thoughts on how we version control? If we store these notebooks in git(hub) we get that for free i guess (and can embed more easily)? (is there a way to auto import to colab from git(hub)?)

/cc @lauragift21

[2020-04-22 15:24] lwinfree commented on #482
Hey @lauragift21 I can't find the link to this page still. Is it possible to add a link to the nav bar? Thanks!

[2020-04-22 21:06] lwinfree commented on #451
@rufuspollock Yeah, I think we should store them in GitHub, and yes we can automatically add them to GitHub via colab's innate menu functions - so that's nice! I think the next question is which repo we store them in.

[2020-04-23 06:32] roll opened #483 "How not to miss project-related issues/PRs posted on different issue trackers?"
We have around a dozen project-related (not software) issues tracker like `website`, `fellows`, `examples`, `notebooks` etc. Even having the line in an issue template like `please preserve @xxx to notify` doesn't always work because sometimes people delete it. Also, it goes out of the scope of this project https://github.com/frictionlessdata/project/projects/3 anyway

## Ideas

- [ ] Move this pro

[2020-04-23 07:12] lauragift21 commented on #482
Yeah, It's linked in the footer. But I can also add it to the navbar. @lwinfree

[2020-04-23 07:17] lauragift21 commented on #483
My thoughts on this - I think having all the project-related issues in one place is a nice idea. That way we are less likely to miss an issue and using an appropriate label to signify which project it belongs to will be helpful. @roll

[2020-04-23 07:18] lauragift21 commented on #480
Yes, thanks @roll I didn't forget it. I will work on a fix.

[2020-04-23 07:19] lauragift21 commented on #479
Great! I will replace where we have gitter linked to discord instead and probably make it a bit more easy to find on the navbar. @rufuspollock

[2020-04-23 08:08] monikappv opened #484 "Improve the FD home page based on people's feedback"
## Acceptance

* [ ] ..

## Tasks

* [x] gather feedback suggestions from #456
* [ ] create a plan on how / whether to implement
* [ ] implement

## Improvement Suggestions

* [ ] "Some of our Tooling" section should go up higher (after "For anyone who works with data")
* [ ] improve wording
* [ ] hexagons rather than circles as our default framer (if we are going for that)
* [ ] indicating in her

[2020-04-23 10:17] #479 closed, assigned to nobody

[2020-04-23 10:23] roll commented on #482
Sorry @lwinfree I didn't get that the link is missing (not the page itself)

[2020-04-23 10:27] roll commented on #482
@lwinfree @lauragift21
What do you think of having a section on the front page (colored horizontal stripe) like `What's happening in FD now / most important news`. For now, we kinda lack an ability to announce something etc.

Currently this section could contain e.g:
- Reproducible research (current Sloan grant project)
- We're looking for fellows
- OKFN/Datopian decided to join they forces

[2020-04-23 10:31] roll commented on #482
@lauragift21
I've re-opened for now because TBH this long `Reproducible Research` link in the header doesn't look perfect and easy to understand what is it. I've added an alternative idea in the prev comment

Please close @lwinfree @lauragift21 if you think if currently, it's fine

[2020-04-23 10:58] roll opened #485 "Institutionalize the fact that FD Github organization is software hub available for independent developers to have project on without loosing control/ownership?"
I think we already have some projects that were created by independent developers and moved to the FD org. De facto we treat this project as independent (the core team doesn't have the power to make decisions there) but de jure this agreement doesn't exist yet anywhere neither as some kind of license nor even as a document/disclaimer.

Currently, it's very actual because of the `dataflows` situati

[2020-04-23 11:59] monikappv commented on #456
FIXED.

The new landing page is implemented and live on https://frictionlessdata.io/.
All people's improvement suggestions are stored in #484. If anyone has other comments / suggestions, please add them in the new issue.

Here is a screenshot of the home page hero with the new color palette -->

![FDhero](https://user-images.githubusercontent.com/56799741/80096640-932a2480-8572-11ea-90f8-b7dfb0a27

[2020-04-23 11:59] #456 closed, assigned to lauragift21, julietezekwe, monikappv

[2020-04-23 13:59] lwinfree commented on #482
Hmm yeah I see what you mean @roll about ```Reproducible Research``` looking long in the navbar. What if it is linked on the ```Case Studies``` page? We also have ```Pilots``` that would be good to be linked on the ```Case Studies``` page too. What do you think @lauragift21? Does something like that make sense to you?

[2020-04-23 14:46] lauragift21 commented on #482
I agree. We shouldn't have so many items on the navbar as we do now.  About the `case-studies` page that is just `tags/case-studies` that list out all blog posts with that tag. I'm not sure how adding a link on the page will look like.

My suggestion is having a dropdown with `case-studies`, `pilots` and `reproducible research` links just like how we have `specs` and `help`  @lwinfree

[2020-04-23 15:00] lwinfree commented on #482
@lauragift21 Yeah I like that idea! I think that would look nice.

[2020-04-23 15:05] lauragift21 commented on #482
Great! Can you suggest a name for that section that would make sense for the group?

[2020-04-23 15:14] lwinfree commented on #482
@lauragift21 Maybe ```Use Cases```?

[2020-04-23 15:25] lauragift21 commented on #482
Yeah, I think that works. @roll what do you think?

[2020-04-23 19:17] rufuspollock commented on #485
@roll can you clarify a bit more. I think a given project under FD can have a lead developer / maintainer who largely owns that code whilst being under FD. At the same time the idea would be that that project is consistent with the ethos and approach (and branding) of FD etc.

At same time I don't FD per se is a software hub for "independent developers" to come and just do stuff.

[2020-04-23 19:21] rufuspollock commented on #483
@roll can you help me get the job story here - i think it may be something like "When managing X i want to be notified of y so that Z" or "When managing FD I want to have an overview of work on issues so that XX"

That will allow me to comment better on the exactly proposals you have.

Aside:

People should just *watch* repos - that's what the functionality is for IMO.

[2020-04-24 06:25] roll commented on #483
It sounds good (esp #2)

Actually, I just wanted to flag that some issues (including kind important profiles discussions) were hidden almost from everyone because there are a lot of issue trackers. My idea was that we can do some consolidation as we did with the `software` one. But it's kind minor.

PS.
Regarding watching, I think a responsible for the repo person (lead) should set up the way that

[2020-04-24 06:40] roll commented on #485
@rufuspollock
Probably that's a bad wording from my side and your statement is more correct:

One thing which I think is crucial - we need an option when this developer/maintainer owns that code without `largely` or other limitations. Meaning that he has the last word on anything related to this project. If FD and this developer run into insoluble disagreement the project can leave the organizatio

[2020-04-24 13:26] rufuspollock commented on #485
Yes, i think that generally sounds good - and would flow from your incubator point.

@roll love it 😄 👍 👍

The one point here for me is that (I think) FD should aim to a be more coherent than Apache - not only in how the components fit together but in their look and feel.

[2020-04-24 13:29] rufuspollock commented on #483
@roll I certainly think we can centralize most substantive issue stuff here in this repo for now in keeping with our simplicity and "one way to do things". Of course minor issues that  are very specific to that item can remain e.g. for notebooks or website. So overall, yes, let's consolidate here, and let's do that at issue tracker level rather than via boards.

[2020-04-24 18:54] lwinfree opened #486 "specs url not redirecting"
The old specs url (frictionlessdata.io/specs) isn't redirecting to the new specs url (https://specs.frictionlessdata.io/).

We have the old url written in several places from previous work, so it would be good to have it redirect to the new site.

## Tasks

* [ ] fix redirect

[2020-04-27 13:53] lauragift21 commented on #486
I'll take a look and fix it @lwinfree

[2020-04-27 14:01] rufuspollock commented on #486
@lwinfree @lauragift21 this is something for OKF team as this redirect needs to at the cloudflare level - see original issue about this https://github.com/frictionlessdata/project/issues/432

[2020-04-27 15:05] lwinfree commented on #486
Hi @amercader could you please look at this when you get a chance?

[2020-04-28 13:40] #477 closed, assigned to lauragift21

[2020-04-29 10:09] lauragift21 opened #487 "Guide: Data Package"
Write out the section for the guide on Data Package.

subissue of: #430

### Content Draft

https://hackmd.io/TzC1nO_-STiu63D_OISOhA

## Acceptance

* [ ] we have a working guide for Data Package

## Tasks

- [ ] Load to SQLite
- [ ] Table References and Foreign Keys
- [ ] Load to Postgres
- [ ] Publishing Data(sets)

[2020-04-29 10:10] lauragift21 opened #488 "Guide: Data Flows"
Write out the section for the guide on Data Flows.

subissue of: #430

### Content Draft

https://hackmd.io/FYj0J9zRTUmeAM19NqYu1A

## Acceptance

* [ ] we have a working guide for Data Flows

## Tasks

* [ ]  Data Flows
* [ ]  Data Flows Concept
* [ ]  More ....

[2020-04-30 06:35] roll commented on #467
I've moved a few general discussions like issues from the lib trackers to the forum. Using criteria something like `is it too broad and clearly not actionable atm -> forum`

[2020-04-30 18:39] rufuspollock commented on #467
@roll that's great - i've seen a bunch of them and it's been really useful.

[2020-04-30 19:08] rufuspollock commented on #574
I've added an example simple python script to the description.

[2020-04-30 19:48] rufuspollock opened #489 "[specs] Merge new site branch into master and backport changes from last few weeks"
An oversight has meant we never merged our development branch https://github.com/frictionlessdata/specs/tree/back-to-own-subsite-2020 back into master when we went live ...

This means that recent changes in master aren't showing up on the site ...

Also it means things like "edit this page" are broken on site since they go to master.

## Acceptance

* [x] Master has live site and has both latest

[2020-04-30 19:48] rufuspollock commented on #489
@monikappv could you look into this with @lauragift21 support.

[2020-04-30 19:57] lauragift21 commented on #489
@rufuspollock I can investigate this too.

[2020-05-01 12:48] lauragift21 commented on #453
Hey @lwinfree. Any update on this do you want me to help review already written Howtos?

[2020-05-01 12:56] lauragift21 commented on #451
Hi @lwinfree. Any plan on this I think we can store them on a different repo or subfolder in website repo. Let me know what you think.

Also, did you figure out the best way to embed the code examples?

[2020-05-01 13:41] lwinfree commented on #451
Hi @lauragift21! I like either of those options, and would lean toward having all the notebooks in a separate repo. WDYT?

[2020-05-01 14:02] lauragift21 commented on #451
Yeah, a different repo works too.

I'm thinking of how we want it displayed on the website.  See this example(https://vuejs.org/v2/examples/) are we able the embed directly on the website.

[2020-05-01 14:28] lwinfree commented on #451
Oh yeah, I think that could work! If we can't get it embeded totally, we could have the code in a markdown chunk with a link to run it in its notebook in the repo, which wouldn't be as nice as embeded, runnable code, but it would work.

[2020-05-01 14:51] lauragift21 opened #491 "[epic] Track Monthly Traffic Metrics"
We want to be able to track traffic on the website and see how we are doing overall.

## Acceptance

* [x] We have a way to track
  * [x] FD website traffic metrics --> for now we use just Google Analytics
  * [x] FD repos metrics --> https://github.com/frictionlessdata/pm-metrics

## Tasks

* [x] Write a script that captures our key traffic numbers on FD on a monthly basis - script is here https:

[2020-05-01 14:54] lauragift21 opened #492 "[Misc] Make Website Fully Responsive"
This issue addresses areas on our website that needs to be improved.

## Acceptance

* [x] The website is fully responsive
## Tasks

* [x] Improve / Fix mobile responsiveness on the website (e.g. footer not fully responsive)

[2020-05-01 14:58] rufuspollock commented on #492
@lauragift21 can we get a bit more descriptive heading and can issues start with a description / job story ...

[2020-05-01 15:05] lauragift21 commented on #451
Alright. Let's see how that works in the meantime we can have another possible option that allows embedding (i.e repl.it).

[2020-05-01 15:22] #454 closed, assigned to lauragift21

[2020-05-01 15:45] monikappv opened #493 "Community feedback - things to work on to improve FD"
**Main Questions:**
1. What's the most important thing to work on to improve Frictionless Data?
2. What are the key things people look at when evaluating whether to use or not FD tools?

**Purpose:** Help adoption of FD / Improve FD based on community's feedback.

## Acceptance

* [ ] there is a plan of action for things that need to be improved based on people's feedback

## Tasks

* [ ] gather c

[2020-05-02 11:21] matthew-brett opened #640 "Enhanced Character Separated Values table format"
Just in case you hadn't seen it - this format seems minimal and well designed:

https://github.com/astropy/astropy-APEs/blob/master/APE6.rst

[2020-05-04 09:49] rufuspollock commented on #640
@matthew-brett could you give a brief summary of the format here perchance? And good to hear from you 😄

[2020-05-04 10:04] matthew-brett commented on #640
Quoting from [the spec](https://github.com/astropy/astropy-APEs/blob/master/APE6.rst):

See [header details](https://github.com/astropy/astropy-APEs/blob/master/APE6.rst#header-details) for details on the header.    There are standard fields in the header (below), but:

The single required keyword is `datatype`, which contains a list of column specifiers (see below).  Optional keywords are `delimi

[2020-05-04 12:47] #480 closed, assigned to nobody

[2020-05-04 16:15] aborruso opened #560 "Proposal: a frictionless tool that creates a spec file that has inside the field separator"
Some introductory points, starting from an example I know:

- a lot of CSV files does not use `,` as separator. In example all opendata files of my city opendata portal (it's Palermo in Italy) use `;`.  These are nearby 1000 CSV files.
- if this website exposed the data as datapackage and some user wanted to use it, he/she will have a lot of great info about these files, but he/she will have nothi

[2020-05-04 16:58] rufuspollock commented on #560
@aborruso do you know of any existing tooling for guessing the delimiter. I believe csvkit does this e.g. https://github.com/wireservice/csvkit/issues/1011 /cc @jpmckinney

[2020-05-04 17:03] jpmckinney commented on #560
CSVKit just uses Python's sniffing: https://docs.python.org/3/library/csv.html#csv.Sniffer

[2020-05-04 17:03] aborruso commented on #560
@rufuspollock  goodtables and datapackage already do it, but they do not write it in the output. If you have this

[code]

and run `datapackage infer input.csv` you have the output below, then datapackage reads properly the separator and creates the JSON schema.

And you can use a python onliner `cat input.csv|python3 -c "import sys; import csv; print(csv.Sniffer().sniff(sys.stdin.read()).delimite

[2020-05-04 18:47] #451 closed, assigned to lwinfree

[2020-05-04 18:52] lwinfree commented on #437
I've been thinking about this & think it will actually make a better tweet than blog post. I can tweet about it on Thursday as a #tbt post too. I think more people will see it this way too

[2020-05-04 18:55] lwinfree commented on #453
Hi @lauragift21! Sure, if you have time. Otherwise I will ask Evgeny to review them. They are marked as "ready for review" in column G: https://docs.google.com/spreadsheets/d/1qByu4qw56hFUdJIY5IOC7d8TQBud-k31J6720hg1h2w/edit#gid=1272791416 Thanks!

[2020-05-05 13:41] rufuspollock commented on #451
FIXED. See template  in https://colab.research.google.com/drive/1zws0ZRz37z4QN5eez1TNdoU45crvPSke

[2020-05-05 13:46] #489 closed, assigned to lauragift21

[2020-05-05 13:48] rufuspollock commented on #489
@lauragift21 can you delete the branch and then "close" this with FIXED comment. Also we need to check the site built ok!

[2020-05-05 13:51] rufuspollock opened #495 "[epic] HowTos"
Have a bunch of howtos on the website and a process for adding new ones.

## Acceptance

* [ ] 3+ howtos on the site
* [x] Backlog of howtos to create
* [ ] Simple way to add howtos to site that is documented in e.g. contributing

## Tasks

* [x] Brainstorm backlog of howtos **DONE https://docs.google.com/spreadsheets/d/1qByu4qw56hFUdJIY5IOC7d8TQBud-k31J6720hg1h2w/edit#gid=1272791416 **
* [x] Temp

[2020-05-05 13:56] rufuspollock opened #496 "Complete the new march 2020 issue tree ..."
Have a completed issue tree with the analysis done.

## Acceptance

* [x] Complete issue tree analysis https://docs.google.com/spreadsheets/d/1Hrm4F6OxVEeMxvXfMt_wKuLSKgFhVvibeEGBEmLMH3c/edit#gid=1855045926

## Tasks

* [x] Add High Level Goals to spreadsheet
* [x] Review each question and update the status for them

[2020-05-05 14:03] roll commented on #453
@lwinfree the 2 I saw look good to me

[2020-05-05 14:16] rufuspollock opened #497 "[epic] Content and Docs Upgrade (Q2 2020)"
For background and intro to documentation: https://documentation.divio.com/

## 4 Types of Documentation

* Guide
* Howtos
* Explanation
* Reference

![image](https://user-images.githubusercontent.com/180658/81076328-d332c500-8eeb-11ea-8b3a-d0f4f3d1072d.png)

## Tasks

* [ ] Guide #430
* [ ] Howtos #495

[2020-05-05 14:46] rufuspollock opened #498 "Add first 2+ howtos to the site"

[2020-05-05 14:46] rufuspollock opened #499 "3 more howtos (so 6 total) done"

[2020-05-05 14:50] rufuspollock opened #500 "Frictionless Fridays experiment - e.g. 3pm CET"
Organize Frictionless Fridays office hours on Discord where community members can ask the core team questions about FD.

## Acceptance Criteria

* [x] we have done two sessions of this.

## Tasks
  * [x] Announce on discord with date and time
 * [x] Hold at least two sessions

[2020-05-05 15:31] lauragift21 commented on #489
FIXED. [PR Merged](https://github.com/frictionlessdata/specs/pull/673)

The website is up and running correctly.

[2020-05-05 21:40] lwinfree commented on #437
Hey @rufuspollock the links to the slides & to the video are in the comments above 👆

[2020-05-06 08:50] lauragift21 commented on #482
FIXED. I've added the use cases tab to the website.

[2020-05-06 08:50] #482 closed, assigned to nobody

[2020-05-06 14:40] lwinfree commented on #482
Thank you! This looks really nice :-)

[2020-05-07 09:23] lauragift21 opened #501 "Frictionless Data Events Page"
We want to have a page with a listing of upcoming Frictionless Data events.

- When I visit the Frictionless Data website I want to be able to view a list of upcoming events so that I can register/signup for those events.

## Acceptance

* [x] we have a section listing all of our events

## Tasks

* [x] boot a google calendar e.g. "Frictionless Public"
* [x] embedding that - we could also link to

[2020-05-11 08:00] rufuspollock commented on #500
@lauragift21 can you fill this in with description, acceptance, tasks etc (remember this is for the "experiment" e.g. first 2 sessions).

Also can you put a comment update on how last friday went e.g. did people come, was it useful etc.

[2020-05-11 15:22] lauragift21 commented on #500
## Recap from our first Frictionless Fridays session
We had questions from two community members and Lilly and I was available on chat to help answer these question. It was useful because we had the chance to hear from our users and their pain points and we also helped them clarify some of the questions.

[2020-05-11 16:11] cpina opened #600 "Resource path: how to specify files in a .zip?"
A data resource has a data location specified here:
https://specs.frictionlessdata.io/data-resource/#data-location

There are datasets where a series of files need to be bundled in a .zip file. This is for practical reasons, limitations in the publishing platforms or just the way that the original data was provided.
One example in Zenodo: https://zenodo.org/record/3247384#.XrlxUmhb-gp

There is on

[2020-05-11 16:12] cpina commented on #600
Possible solutions to the ticket:

# Implicit anchor

One easy way to specify a file in a .zip file would be the same as an anchor in HTML with #:
[code]

One problem is that then the path or the file name cannot have a #. Not common, but it is a valid character.

We could ignore this problem (assume that there are no # in a filename), or escape it (with \#) if it's part of the file name (but esca

[2020-05-12 10:41] lauragift21 opened #502 "Guide: Create a Template for Tutorials"
We want to create a template/guide for tutorials (like the guide sections)

## Acceptance

* [x] We have a reusable template for the guides.

## Tasks

* [x] Tutorial Template
-   Define what type of documentation you will be writing. Tutorial? Explanation?
-    Who is the audience?
-    What do they want to achieve?

* [x] Write a template for these pages, where the answers for the previous secti

[2020-05-12 12:29] gonzalocasas opened #519 "Broken link on data-package spec page"
The link to `profiles` on the [data-package specs page](https://specs.frictionlessdata.io/data-package/#metadata) ends up in 404.

[2020-05-12 13:35] lauragift21 commented on #502
DONE. Template linked here https://docs.google.com/document/d/1toi8Fk-HCM_93J6LZ3fcZ373RaqskVP9eYTRZ5JDwc4/edit#heading=h.81ipn3c0jg0e

[2020-05-12 13:47] #502 closed, assigned to lauragift21

[2020-05-12 21:39] gonzalocasas commented on #519
I found other links ending up in 404s, it looks like the website was moved from `https://frictionlessdata.io/specs/` to `https://specs.frictionlessdata.io`, but several links are still pointing to the `/specs` path, which ends up being `https://specs.frictionlessdata.io/specs/` and fails.

[2020-05-13 13:40] #492 closed, assigned to lauragift21

[2020-05-13 13:59] lauragift21 commented on #496
DONE. See https://docs.google.com/spreadsheets/d/1Hrm4F6OxVEeMxvXfMt_wKuLSKgFhVvibeEGBEmLMH3c/edit#gid=1855045926

The cells with a status of less than 100% are still ongoing items.

[2020-05-13 15:29] #496 closed, assigned to lauragift21

[2020-05-14 07:48] rufuspollock commented on #492
@lauragift21 can you update the title for this issue so it accurately reflects the contents. I came and looked at it when i got a notification and could have skipped if notification had been "Make website fully responsive: Fixed"

[2020-05-14 12:18] lauragift21 commented on #501
FIXED. I embedded a calendar with our scheduled events on the website and a link to all events tags on our blog.

[2020-05-14 12:18] #501 closed, assigned to lauragift21

[2020-05-14 14:42] rufuspollock commented on #600
@cpina really interesting user case. Can you give me a sense of the underlying user story / job story i.e.  What do you think the end user wants to be able to do in the tooling? e.g. do you want to write this file to disk or extract it or present the information to users of what's inside ...

[2020-05-14 20:20] cpina commented on #600
Sure thing @rufuspolloc. I'll give some context as it might be useful for other issues or Discord comments and it might be interesting to know what we are trying to do.

Our case is that SPI has data published in Zenodo (e.g. https://zenodo.org/record/3379590#.Xr2gRWhb_Z8) and we have a pilot with EMODNet to incorporate data into their portal. The imported data of the linked record looks like http

[2020-05-14 22:08] rufuspollock opened #503 "Remove unnecessary line wrapping in all the specs"
The specs e.g. https://specs.frictionlessdata.io/data-package/ seem to have line wrapping that is showing up in the rendered site.

I suspect source got linewrapped at some point. We don't want this - not only in itself - but because it messes with rendered site e.g.

![image](https://user-images.githubusercontent.com/180658/81990761-14d81400-9640-11ea-9587-89003b2d1b31.png)

This is low priority

[2020-05-15 11:23] nirabpudasaini opened #557 "Using CSV Dict Writer with data package descriptor"
You can use the data package descriptor with CSV Dict writer to define the output csv file that you want. In one of our internal key metric dash boarding project we use a utility function to achieve this. The utility function can be found in the following code snippet. This supports write and append mode.

[code]

[2020-05-15 11:49] monikappv commented on #491
started to build a small FD traffic dashboard - see https://datastudio.google.com/s/uzd_szEi7rg.

It is going to contain:
1. important Google Analytics numbers
2. FD repos numbers (will build a pipeline script --> spreadsheet --> data studio)

so we have everything in one place.

[2020-05-15 16:19] rufuspollock commented on #557
@nirabpudasaini great! And could we add upsert 😉 and get this in a gist?

And i think you could pretty much skip using `Package` here and go plain - it does not really get you anything and reduces your dependencies.

[2020-05-15 20:14] rufuspollock commented on #600
And why do you want to describe what's inside? So that EMODNET use that info in some way? And if so how?

[2020-05-15 22:46] cpina commented on #600
Yes, we would like to use Frictionless Data schemas to describe what's in the published dataset. The published dataset might have .zip files with different type of files and/or different tabular data.

The main goal in short term is for EMODNet: they can ingest in their storage the tabular data knowing what's on each column (descriptions, the CF Variables, types, etc.) so the final result looks li

[2020-05-16 04:33] rufuspollock commented on #491
@monikappv i don't think the acceptance criteria is clear enough here. I also thought this included git repo metrics as well as website traffic.

[2020-05-16 05:05] rufuspollock commented on #444
@lauragift21 can you make an all out effort to get *something* shipped by next Tuesday (19th).

[2020-05-16 05:42] rufuspollock commented on #554
Note, github discussions will probably come out of beta soon ...

[2020-05-16 06:11] rufuspollock commented on #600
OK, I think it get the idea. You basically want the manifest of the zip file. For single files in a zip note that we already have a pattern here http://specs.frictionlessdata.io/patterns/#specification-3

For multi-file zips it is obviously more complicated.

BTW in that 109GB / 950k file dataset consists of different types of files with different schemas or lots of the same kind of file?

[2020-05-16 09:01] cpina commented on #600
About the 109GB/950K files dataset: I'm afraid that it contains more than one type of files. I think that it could be argued in this case (before depositing) that it's possible to re-pack it before the deposit in a few zip files and each one should contain only one type of file. Someone might wonder why not depositing the original dataset and trying to adapt it for the tooling (and the provenance

[2020-05-16 09:39] cpina commented on #600
Answering to myself and why not to have wildcards/matching outside .zip files: files could not be downloaded (since the path wouldn't be known), and if I had the data package missing files would be... missed silently (for not having a full list with the hashes).

[2020-05-17 11:48] rufuspollock opened #544 "[idea] Frictionless subreddit"
We could create a Frictionless subreddit

[2020-05-18 08:23] lauragift21 commented on #444
Yes I will @rufuspollock

[2020-05-18 08:55] monikappv commented on #491
@rufuspollock it will include exactly this.. this report should show the repos metrics (which we currently get as a csv --> not so useful) + site traffic data from google analytics.

[2020-05-18 09:07] rufuspollock commented on #491
@monikappv csv is fine for now!

[2020-05-18 09:42] lauragift21 commented on #500
## Second time running Frictionless Fridays sessions

We did not have any questions or community members with any inquiries.

[2020-05-18 10:41] rufuspollock commented on #491
@monikappv can we prioritize shipping this today - just as CSV. You can push it into this repo i think in a subfolder.

[2020-05-18 15:24] monikappv commented on #491
@rufuspollock here is the CSV file containing the FD repositories key traffic metrics https://github.com/frictionlessdata/project/tree/master/metrics-track.

and here is a screenshot of the csv file

![repos-preview](https://user-images.githubusercontent.com/56799741/82230559-88c23700-9934-11ea-8571-c12aa425dabb.png)

**NB:** currently number of watchers = number of stars for each repo (it is like

[2020-05-18 15:49] rufuspollock commented on #491
@monikappv  👏  - great. Let's get subscribers_count done and agree on pushing to a separate repo. 👍 on data packaging this and I think calling repo `pm-metrics` might be good with a short description of what this is (this avoid confusion that this is a tool for doing metrics).

[2020-05-18 20:28] lwinfree commented on #453
Hi @roll have you had time to look into posting these on the website?

[2020-05-18 20:29] lwinfree commented on #499
done

[2020-05-18 20:29] #499 closed, assigned to lwinfree

[2020-05-18 20:36] lwinfree commented on #495
May 18 update:
- 5 how-to's written
- https://docs.google.com/spreadsheets/d/1qByu4qw56hFUdJIY5IOC7d8TQBud-k31J6720hg1h2w/edit#gid=1272791416

To Do:
- Evgeny will work on putting them on the site
- Evgeny & Lilly can write up the process for getting them on the site for other contributors
- Lilly to write elastic search & amazon redshift how tos

[2020-05-18 20:41] lwinfree commented on #500
My opinion after doing 2 sessions is that I like this format & am happy to continue. I predict that we will sometimes have lots of questions and sometimes have no questions, and I think that is fine. What do others think?

[2020-05-18 20:49] lwinfree opened #505 "csvconf blog"
I think it would be nice to write up a blog about csvconf highlighting the FD talks & relevance.

## Acceptance

* [x]  blog published on site

## Tasks

* [x] @lwinfree to write the blog

## Timeline:
I can work on it over the next few weeks.

[2020-05-19 08:26] lauragift21 commented on #500
Yes, I do too and I think we should continue.

[2020-05-20 07:59] rufuspollock opened #506 "May 2020 Virtual Community Hangout"
Our next 1h community hangout to chat about recent developments in Frictionless and data generally and next steps. Invite community members to it ...

Organizer: @lauragift21 (Datopian) and @lwinfree (OKF)

Date: 21st May 5pm BST

## Agenda (in progress)

* Welcome
* Updates
* Mention our social media frictionlessd8a
* Next meeting for June https://forms.gle/5HeMrt2MDCYSYWxT8
* Community announcem

[2020-05-20 09:03] ousodaniel commented on #506
Thanks @rufuspollock, planning to be there

[2020-05-20 14:12] lwinfree commented on #506
@lauragift21 this will be at 5pm BST, right? It says 5pm CET above. Thx!

[2020-05-20 15:12] lauragift21 commented on #506
Yes, thanks for pointing that out @lwinfree.

[2020-05-21 13:29] augusto-herrmann commented on #506
Cool! Where do I find the link for participation?

[2020-05-21 13:42] lwinfree commented on #506
@augusto-herrmann register here :-) https://us02web.zoom.us/meeting/register/tZMsf-qrrjopHtGZwMyM7tCmp_YyPlNms6wK

[2020-05-21 14:51] rufuspollock opened #507 "Community Hangout - 25 June 2020"
Our next 1h community hangout to chat about recent developments in Frictionless and data generally and next steps. Invite community members to it ...

Organizer: @lauragift21 (Datopian) and @lwinfree (OKF)

Date: 25th June 5pm BST

## Agenda (in progress)

* Welcome
* Updates
* Social media frictionlessd8a
* Next meeting for July https://forms.gle/5HeMrt2MDCYSYWxT8
* Community Announcements/sharin

[2020-05-21 15:02] rufuspollock commented on #486
@lwinfree i note that https://frictionlessdata.io/specs/ **is** redirecting but https://frictionlessdata.io/specs (no slash) is **not**. I think @amercader just needs to remove / from his redirection config ...

[2020-05-21 15:39] rufuspollock commented on #483
FIXED. AGREED that we consolidate on this repo for now. I've also updated description with comments on the ideas there.

@roll feel free to re-open if you feel i've missed something.

[2020-05-21 15:39] #483 closed, assigned to rufuspollock

[2020-05-21 16:12] rufuspollock opened #567 "Start an "Awesome Frictionless" section / repo and put it on the main site too"
There's a lot of cool stuff getting done and we want a place to collect and display this  that is easy to contribute to and easy to find. "Awesome" is a growing convention for this kind of associated tools, tips etc.

## Examples

### csv-schema by @timwis

http://csv-schema.surge.sh/

https://github.com/timwis/csv-schema

[2020-05-21 18:21] lwinfree commented on #567
I think having a dedicated section for this kind of stuff would be great! Right now, some of it lives here https://frictionlessdata.io/tooling/labs/ & we also have a 'use cases' navbar header. We used to call this stuff "universe". I would not call it "Awesome Frictionless" as I don't think it is clear what that means. Maybe "Partner Projects"? I think we should have a section under 'use cases' fo

[2020-05-21 21:35] rufuspollock commented on #464
FIXED. @roll I generally agree here and I've booted an RFC containing this which we can iterate on and then implement https://github.com/frictionlessdata/project/blob/master/rfcs/0001-library-consolidation.md

[2020-05-21 21:35] #464 closed, assigned to nobody

[2020-05-21 22:31] rufuspollock opened #509 "Move relevant content from software repo here"
https://github.com/frictionlessdata/software has a bunch of relevant content e.g. implementation reference (in README), libraries status overview (STATUS.md). We want to revi

NB: `software` repo is already archived and is read-only.

## Acceptance

* [x] Assessment done
* [x] Everything moved

## Tasks

* [x] README.md  - Implementation Reference **MOVED to an rfc in this repo https://github.com/

[2020-05-21 22:36] rufuspollock commented on #509
FIXED. See description for the updates.

[2020-05-21 22:36] #509 closed, assigned to rufuspollock

[2020-05-21 22:38] rufuspollock commented on #491
@monikappv can we now close this? What's remaining?

[2020-05-21 22:41] rufuspollock commented on #484
I also think "Some of Our Tooling" is now overly spaced - we can have these all on one line like b4

Also the orange separator / underline under "Some of Our Tooling" looks wrong

![image](https://user-images.githubusercontent.com/180658/82613157-e967a300-9bc4-11ea-9521-e7ea3cf22e5d.png)

[2020-05-22 08:19] amercader commented on #486
This is now done, frictionlessdata.io/specs redirects correctly

[2020-05-22 13:42] lwinfree commented on #486
thanks @amercader!

[2020-05-22 13:42] #486 closed, assigned to amercader

[2020-05-22 15:18] augusto-herrmann commented on #506
Too bad I didn't see it in time. :cry:

[2020-05-22 15:20] lwinfree commented on #506
@augusto-herrmann these will be happening once a month, so hopefully you can join the next one! We announce them in Discord too (join here: https://discord.gg/2UgfM2k).

[2020-05-25 08:09] rufuspollock opened #510 "RFC process"
We've started moving some substantive items to an rfcs folder in this repo. It would be good to explain RFC process and approach.

## Acceptance

* [ ] RFC overview in README **DONE: see https://github.com/frictionlessdata/project/tree/master/rfcs**
* [ ] RFC template **DONE: see https://github.com/frictionlessdata/project/blob/master/rfcs/0000-template.md**

## Tasks

* [x] Dig out rfcs guideline

[2020-05-25 09:00] rufuspollock commented on #567
@lwinfree i agree about naming on website - it is just awesome is convention for the repo. I think we could have the repo and then put relevant content on site under any good name we think of.

[2020-05-25 09:52] monikappv commented on #491
@rufuspollock had some issues with the subscribers_count and then with the token - it was constantly throwing an error 'API rate limit exceeded for xx.xxx.xx.xx.' even if I run it once per day. obviously my approach was a bit wrong, so I fixed it.

[2020-05-25 09:56] monikappv commented on #491
FIXED.

We now have it right and get the accurate watchers count.

1. The wanted CSV file is called `fd-repos-metrics.csv` and is in a new repo https://github.com/frictionlessdata/pm-metrics.
2. In the repo there is also the whole thing data packaged - ready to be applied to other github users/orgs.

[2020-05-25 09:56] #491 closed, assigned to monikappv

[2020-05-26 16:40] monikappv opened #512 "Make the discord link on the site more prominent"
Make the discord link more prominent (like they have it in other sites e.g. in https://www.gatsbyjs.org/ - it has a nice little menu of key links e.g. discord, gitter etc)

When we want to increase our community, we want to make the key links (discord, gitter) on the site more prominent, so that we can be easily seen / found / visited.

## Acceptance

* [x] the discord link works on the site
* [x]

[2020-05-27 12:35] monikappv commented on #512
FIXED.

See 'New look' section in issue description or live on https://frictionlessdata.io/.

[2020-05-27 12:35] #512 closed, assigned to monikappv

[2020-05-27 14:17] rufuspollock commented on #512
@monikappv 👏really nice - btw could we get a github link to the project repo (and btw are the links configurable from the vuepress js config file?

[2020-05-27 14:26] lauragift21 commented on #512
@monikappv looks really nice.👏 I see the logo bug now reflects in prod. When I try scrolling it's not fixed.

[2020-05-27 14:45] monikappv commented on #512
@rufuspollock made them configurable from the config file
![navbar_links_FD](https://user-images.githubusercontent.com/56799741/83034918-771e1500-a041-11ea-94a1-b3285fb80096.png)

also added a GitHub link and switched the positions of the navlinks and the search bar + the icons (like they have it on gatsby)
![more_like_gatsby](https://user-images.githubusercontent.com/56799741/83034984-8c933f00-a0

[2020-05-28 14:21] #498 closed, assigned to roll

[2020-05-29 14:12] monikappv opened #514 "Configurable "banner" at top of screen to highlight special stuff e.g. an upcoming webinar, a new release etc"

[2020-05-29 15:22] AngelineRollbar commented on #514
Hi There! The old one is still up and we'll need to change the current one to June 12, 2020 12 PM PDT. to the same link. Is that possible?

[2020-05-29 19:34] augusto-herrmann commented on #512
I thought only gaming communities used Discord. Can I ask why you're using it instead of some open source [alternative](https://alternativeto.net/software/discord-app/)?

[2020-05-29 21:30] rufuspollock commented on #512
@augusto-herrmann discord whilst starting in gaming is now heavily used by tech communities  e.g. many react communities use it, https://www.gatsbyjs.org/ uses it, gridsome uses it etc. Can you specify *which* open source alternative you would recommend? By default i would prefer open source *if* it is matching or close to matching on key features and 0 cost.

PS  the best thread for this is https

[2020-06-01 10:59] monikappv commented on #514
@AngelineRollbar hey. I am not sure what you are referring to, can you be a bit more specific?

[2020-06-01 14:17] rufuspollock opened #553 "Tool takes CSV, Table schema, and creates a JSON consistent with the schema?"
@aborruso asked:

Hi, is there a frictionless data tools - that starting from a csv file and a schema file in which  I set that a specific field is text- that is able to create a json file output, in which an input value of "0123" will be in the JSON something like "fieldName":"0123"?

I'm asking it, because a lot of utilities  return often wrong output results as "fieldName":0123 or "fieldName":1

[2020-06-01 14:20] aborruso commented on #553
Thank you very much @rufuspollock !

[2020-06-01 14:20] rufuspollock commented on #553
The `data` command line tool https://datahub.io/tools has a function close to this `cat` but not sure it properly supports table schema option yet:

[code]

[2020-06-02 14:42] lauragift21 commented on #500
FIXED. Frictionless Fridays was a great idea! we will continue having it.

[2020-06-09 05:49] rufuspollock opened #609 "Analyse protocol buffers and map types against table schema"
Protocol buffers is widely used and high quality low level (syntactical) data exchange format from Google.

## Acceptance

* [x] Summary of protocol buffers
* [x] Table of protocol buffer types **https://docs.google.com/spreadsheets/d/1XdqGTFni5Jfs8AMbcbfsP7m11h9mOHS0eDtUZtqGVSg/edit#gid=0**
* [x] Map of those types to table schema **Ditto**
* [ ] Any relevant code snippets
* [ ] Published somewhe

[2020-06-11 19:15] rufuspollock opened #518 "Improve CKAN <=> Frictionless conversion (library)"
Improve existing converter and especially the docs.

Existing converter: https://github.com/frictionlessdata/frictionless-ckan

~~In the process, also document CKAN metadata and its mapping to Frictionless (even more aside: extract list of Frictionless metadata into a structured format for quick display and searching 😉)~~ MOVED to frictionlessdata/specs#776

This is now a placeholder and all work

[2020-06-12 13:08] sglavoie commented on #518
Update: I have worked on listing the fields for Frictionless Data via script. I have added those in the Google Spreadsheet in the "Frictionless" sheet.

The code I wrote with TDD in mind is located here: https://github.com/sglavoie/fd_metadata

[2020-06-12 14:47] rufuspollock opened #559 "Github discussions as potential upgrade of this forum"
Github announced discussions in beta in early May. Not yet generally available. When they are definitely worth investigating.

[2020-06-12 15:40] rufuspollock commented on #600
FIXED. In summary:

* You can handle one file inside a zip
* Specifying all the files would be a new pattern, probably in specs repo.

@cpina if you want to reopen please flag.

[2020-06-12 15:42] rufuspollock commented on #519
FIXED. The links now work.

[2020-06-12 15:42] #519 closed, assigned to rufuspollock

[2020-06-12 16:12] rufuspollock opened #564 "Organizing this forum (and triaging issues)"
Having some structure to this forum would help us manage stuff as it comes in.

## Job Stories

When someone asks a question I want to make sure it gets answered so that they are helped

When new ideas/suggestions come in I want to triage them by topic and priority so that I can find them again, others can find them ...

## Acceptance

* [x] Have a process **See analysis below**
* [x] Have board a

[2020-06-12 16:36] lauragift21 commented on #567
FIXED. We've setup the awesome repo https://github.com/frictionlessdata/awesome-frictionless

[2020-06-12 17:14] rufuspollock opened #875 "[inbox] Principles (new and old)"
## Reducing magic (june 2020)

  * Inspiration: http://tech.datopian.com/notebook/#_10-things-i-regret-about-nodejs-by-ryan-dahl-2018-2020-05-17-rufuspollock - especially see video and section where Dahl regrets allowing paths without extensions. Also general point that module resolution should run off urls - we already have a perfectly good locator mechanism
  * => profiles use urls to json schem

[2020-06-12 21:59] cpina commented on #600
I'd like to reopen it - I see it quite essential for many datasets. Obviously I could always do something "off-the-spec"...

Is there an interest for the solution "Recursive resources"? If so, would it help if I try to draft something for the specs repo as a PR? (it would be in some weeks when I can spend some time looking at the repo and hopefully drafting something).

[2020-06-12 23:02] sglavoie commented on #518
### Update

* About the task **Mapping of Frictionless <=> CKAN**, I have added as many details as I could to **[the CKAN sheet in the spreadsheet](https://docs.google.com/spreadsheets/d/1XdqGTFni5Jfs8AMbcbfsP7m11h9mOHS0eDtUZtqGVSg/edit#gid=1925460244)**.

* About the task **Write script to auto extract from json schemas to CSV with columns**, I have replied to **[the issue frictionlessdata/projec

[2020-06-14 08:18] rufuspollock commented on #561
@lwinfree could you ping someone from catalyst to update here a bit on what they did? That would be really useful 😄

[2020-06-14 08:58] rufuspollock commented on #564
FIXED. See the board https://github.com/frictionlessdata/forum/projects/1

Only aspect is not that not *all* ideas have idea label yet - but they are all in the board ...

[2020-06-14 09:00] rufuspollock commented on #506
@lauragift21 can we close this now? Is the video added to the blog post?

[2020-06-14 09:01] rufuspollock opened #520 "Tidying up forum and triaging issues"
See https://github.com/frictionlessdata/forum/issues/47

Also add a README to forum

[2020-06-14 09:01] rufuspollock commented on #520
FIXED. README added and triage done in https://github.com/frictionlessdata/forum/issues/47

[2020-06-14 09:01] #520 closed, assigned to rufuspollock

[2020-06-14 09:29] rufuspollock commented on #424
DUPLICATE / MERGED. Merged into root issue #421

[2020-06-14 09:29] #424 closed, assigned to nobody

[2020-06-14 09:38] rufuspollock opened #638 "[rfc] Simplify names for key patterns and use Frictionless prefix for them"
This is just an idea and i'm not sure about it so thoughts are welcome:

* Data Package => [Frictionless] Dataset (or [Frictionless] Package)
* Data Resource => [Frictionless] Resource
* Table Schema => [Frictionless] Schema

Why?

* Get down to one word consistently (and drop redundant "Data")
* Use Frictionless consistently as a way to distinguish and brand the patterns

/cc @pwalsh

[2020-06-14 13:39] cpina commented on #638
My 2 cents: I like "Table Schema" to know that this is the schema of a table... and in case that some day there were other schemas (I don't know, "Document schema" or something else).

For the other too I'm happy either way, maybe removing "Data" as suggested helps to read it (fewer redundant words, etc.).

[2020-06-14 13:48] cpina commented on #561
@jen-thomas is interested in this as well. @Swiss-Polar-Institute data is deposited in Zenodo usually. We could also explain (well, Jen more than me) the workflow.

[2020-06-14 14:04] cpina commented on #559
To me it seems that having a forum in Github issues is stretching Github issues. The language (open an issue), the expectations, etc. is not what I expect for a forum. And a new user might be confused in which project to open issues (in project? forum? package? schemas? table?). I have this problem sometimes in Debian when different packages interact with eachother closely.

I'm excited to see wha

[2020-06-14 15:18] pwalsh commented on #638
Adding Frictionless at the front is fine, for branding purposes. But, I definitely would not get rid of "Data" or "Table" - the names are perfectly clear at present.

[2020-06-14 16:47] rufuspollock commented on #638
@pwalsh adding Frictionless at front does make them long and if you had `Dataset` rather than Package you would not need `Data`. I agree for `Resource` it might be needed though i have wondered if `File` would be better.

hear you both on keeping Table

[2020-06-14 20:59] cpina commented on #638
Thinking aloud: to me `File` is a type of `Resource`... but there could be other type of resources besides files. E.g. if we had support for a object storage alike technically it would be an `Object`.

If we renamed it to `File` it would be limited to files only... no objects or other resources.

But `File` is clearer for newcomers I think (more explicit)

[2020-06-15 08:54] rufuspollock opened #610 "[epic] Frictionless <=> Other formats"
Inventory existing data profile and schema formats & compare / mapping against Frictionless.

Done this informally many times over the years. Let's do it systematically and once and for all.

Inventory in progress here: https://docs.google.com/spreadsheets/d/1XdqGTFni5Jfs8AMbcbfsP7m11h9mOHS0eDtUZtqGVSg/edit#gid=774748003

## Job Stories

When developing or using Frictionless tools for interfacing

[2020-06-15 09:40] gonzalocasas commented on #519
Thank you!

[2020-06-15 11:53] rufuspollock commented on #600
@cpina reopening and the way to start would be to draft a "pattern" for this and we can iterate from there.

[2020-06-15 12:26] cpina commented on #600
@rufuspollock : will do! For future reference, it will be there I guess: https://github.com/frictionlessdata/specs/tree/master/patterns (I'll update with the branch/PR here I guess).

[2020-06-15 16:51] lwinfree commented on #561
Hi @zaneselvans! If you have some time, could you please write a summary of how Catalyst ended up publishing datapackages on Zenodo in this issue? I linked to our github discussions above, but I think people are asking for more detail. @jen-thomas is there a specific aspect of this work that it would be helpful for Zane to explain in more detail? Thanks Zane - I appreciate any more details you can

[2020-06-15 16:56] lwinfree commented on #638
- I think Frictionless Package is fine (although I don't mind `data` package)
- I think Carles has a good point about `File` vs `Resource`, but I have seen some users being confused about the term `Resource`. A fix here could be as simple as making sure we describe this term more fully in our docs
- Agree that keeping `Table` is important in the schema name

@roll do you have thoughts here too?

[2020-06-16 06:13] roll commented on #638
In the software, we e.g. have `Package`, `Resource`, `Schema` so in the documentation it can be prefixed by any of `Frictionless` or `Data/Table`. Honestly, I don't know what's better branding vs using more general concepts. At the same time, I don't see a problem if e.g. it's Frictionless Schema or Frictionless Package - we will get used to it very soon if it's used consistently.

Just a few exam

[2020-06-17 15:11] dafeder opened #584 "How do I express project open data (data.json) as a dataset?"
I'm working on a data catalog that primarily stores and displays metadata using the [Project Open Data](https://project-open-data.cio.gov/v1.1/schema/) metadata schema. What is the easiest way for me to present these datasets as data packages that will integrate with other frictionless data tools?

For instance, here is a one-dataset catalog example: https://gist.github.com/philipashlock/21ff60752